{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}
<table>
    <tr>
        <td><span style="color: orangered">*</span>标题:</td>
    </tr>
    <tr>
        <td><input type="text" id="title" name="title"></td>
    </tr>
    {% if show_button_tag %}
        <tr>
            <td>下载按钮名:</td>
        </tr>
        <tr>
            <td><input name="game_download_button_name"></td>
        </tr>
        <tr>
            <td>详情按钮名:</td>
        </tr>
        <tr>
            <td><input name="game_details_button_name"></td>
        </tr>
    {% endif %}
    
    {% if not show_button_tag %}
    <tr>
        <td>
            <label for="normal-input" class="control-label" id="himage_label"><span style="color: orangered">*</span>横图{{ h_image_desc }}</label>
        </td>
    </tr>
        <tr>
        <td>
            <div class="control-group">


                    <div class="controls">
                                <span id="normal-button" class="btn btn-success fileinput-button"
                                      {% if video.h_image %}style="display:none;"{% endif %}>
                                     <span>+ 上传截图...</span>
                                     <input id="normal-upload" type="file" name="files[]" multiple>
                                </span>

                        <div id="normal-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.h_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='normal-content'
                                 src="{% if video.h_image %}{{ video.h_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="normal-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='normal-input' name='h_image'
                               value="{% if video.h_image %}{{ video.h_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="vimage-input" class="control-label" id="vimage_label"><span style="color: orangered">*</span>竖图{{ v_image_desc }}</label>
        </td>
    </tr>
    <tr>
        <td>
            <div class="control-group">

                    <div class="controls">

                                    <span id="vimage-button" class="btn btn-success fileinput-button"
                                          {% if video.v_image %}style="display:none;"{% endif %}>
                                         <span>+ 上传截图...</span>
                                         <input id="vimage-upload" type="file" name="files[]" multiple>
                                    </span>

                        <div id="vimage-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.v_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='vimage-content' src="{% if video.v_image %}{{ video.v_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="vimage-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='vimage-input' name='v_image'
                               value="{% if video.v_image %}{{ video.v_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>
        </td>
    </tr>
    {% endif %}
{% if module_type == 1 %}
        <tr>
            <td>
                <label for="normal-input" class="control-label" id="vimage_label"><span style="color: orangered">*</span>轮播图{{ s_image_desc }}</label>
            </td>
        </tr>
        <tr>
            <td>

                <div class="control-group">

                    <div class="controls">
                                    <span id="slider-button" class="btn btn-success fileinput-button"
                                          {% if video.s_image %}style="display:none;"{% endif %}>
                                         <span>+ 上传截图...</span>
                                         <input id="slider-upload" type="file" name="files[]" multiple>
                                    </span>
                        <div id="slider-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.s_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='slider-content' src="{% if video.s_image %}{{ video.s_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="slider-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='slider-input' name='s_image'
                               value="{% if video.s_image %}{{ video.s_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>
            </td>
        </tr>
    {% endif %}
</table>
{% block uploadjs %}
    <script type="text/javascript">
        $(function () {
            var img_upload_arr = ['normal', 'vimage', 'slider'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }
{#            var img_upload_arr = ['normal','s_image','v_image'];#}
{#            for (var index = 0; index < img_upload_arr.length; index++) {#}
{#                add_upload_handler(generate_upload_dict(img_upload_arr[index]));#}
{#            }#}
            $(".alert button").click(function () {
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });


        });

{##}
{#        function show_error_msg(msg) {#}
{##}
{#            $("#formErrorModal .modal-body p").text(msg);#}
{#            $("#formErrorModal").modal();#}
{##}
{#        }#}

    </script>
{% endblock %}