<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建Ipad首页抽屉</h3>
    </div>

    <div class="modal-body main_page">
        <form role="form" method="post" action="{% url "ipad_add_module" %}" id="add-new-module"
              class="validate_module">
            <table class="table table-hover table-striped table-bordered">
                <tbody>
                <tr>
                    <td style="width: 30%"> 抽屉类型</td>
                    <td>
                        <select class="form-control" id="box_type" name="box_type" placeholder="">
                            {% for k,v in box_type_list %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr id="module_title_div">
                    <td style="width: 30%"><span style="color: orangered">*</span>抽屉标题</td>
                    <td><input id="title" name="title" placeholder=""></td>
                </tr>
                <tr>
                    <td style="width: 30%"> 关联推荐池抽屉</td>
                    <td>
                        <select class="form-control" id="box_type" name="attached_common_box_id" placeholder="">
                            <option value="0">无</option>
                            {% for box in common_boxes %}
                                <option value="{{ box.id }}">{{ box.title }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: orangered">*</span>Pad端视频个数</td>
                    <td><input id="video_count_for_pad" name="video_count_for_pad" placeholder=""></td>
                </tr>
{#                <tr id="cid_div">#}
{#                    <td for="cid">频道跳转</td>#}
{#                    <td><select class="form-control" id="cid" name="cid">#}
{#                            <option value="0">无</option>#}
{#                            {% for cid_detail in cid_details %}#}
{#                                <option value="{{ cid_detail.cid }}">{{ cid_detail.title }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </td>#}
{#                </tr>#}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success"><li class="icon-ok-sign"></li>创建</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true"><li class="icon-circle-arrow-left"></li>返回</button>
        </form>
    </div>
</div>

