{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>
    <style type="text/css">
    .img-polaroid {
        max-height: 150px;
    }
    </style>

{% endblock %}
<table>
    <tr>
        <td><span style="color: orangered">*</span>url:</td>
    </tr>
    <tr>
        <td><textarea id="url" name="url" rows="5"></textarea></td>
    </tr>
    <tr>
        <td><span style="color: orangered">*</span>标题:</td>
    </tr>
    <tr>
        <td><input type="text" id="title" name="title"></td>
    </tr>
    {% if not s_image_tag %}
    <tr>
        <td><span style="color: orangered">*</span>横图({{ h_image_desc }}):</td>
    </tr>
    <tr>
        <td>
            <div class="controls">

                <span id="normal-button" class="btn btn-success fileinput-button ">
                     <span>+ 上传截图...</span>
                     <input id="normal-upload" type="file" name="files[]" multiple>
                </span>

                <div id="normal-success" class="alert alert-success" style="display: none;">
                    <button type="button" class="close">&times;</button>
                    <img id='normal-content' src="" class="img-polaroid">
                </div>
                <div id="normal-progress" class="progress progress-success progress-striped  active"
                     style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' class="hidden-img" id='normal-input' name='h_image' value="" height="100" width="100"/>

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <span style="color: orangered">*</span>竖图({{ v_image_desc }})
        </td>
    </tr>
    <tr>
        <td>
            <div class="control-group">
                <label for="v_image-input" class="control-label"></label>

                <div class="controls">
                    <span id="v_image-button" class="btn btn-success fileinput-button ">
                         <span>+ 上传截图...</span>
                         <input id="v_image-upload" type="file" name="files[]" multiple>
                    </span>

                    <div id="v_image-success" class="alert alert-success" style="display: none;">
                        <button type="button" class="close">&times;</button>
                        <img id='v_image-content' src="" class="img-polaroid">
                    </div>
                    <div id="v_image-progress" class="progress progress-success progress-striped  active"
                         style="display: none">
                        <div class="bar"></div>
                    </div>
                    <input type='hidden' class='hidden-img' id='v_image-input' name='v_image' value="" height="100" width="100"/>
                </div>
            </div>
        </td>
    </tr>
    {% endif %}
    {% if s_image_tag %}
        <tr>
            <td>
                <span style="color: orangered">*</span>轮播图({{ s_image_desc }})
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label for="s_image-input" class="control-label"></label>

                    <div class="controls">
                    <span id="s_image-button" class="btn btn-success fileinput-button ">
                         <span>+ 上传截图...</span>
                         <input id="s_image-upload" type="file" name="files[]" multiple>
                    </span>

                        <div id="s_image-success" class="alert alert-success" style="display: none;">
                            <button type="button" class="close">&times;</button>
                            <img id='s_image-content' src="" class="img-polaroid">
                        </div>
                        <div id="s_image-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' class='hidden-img' id='s_image-input' name='s_image' value="" height="100" width="100"/>
                    </div>
                </div>
            </td>
        </tr>
    {% endif %}

</table>

{% block uploadjs %}
    <script type="text/javascript">
        $(function () {
            var img_upload_arr = ['normal','v_image','s_image'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $(".alert button").click(function () {
                //此为点击“X”之后的一系列动作
                //btn 为<button type="button" class="close">&times;</button>
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });
        });
    </script>
{% endblock %}