{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}
        div.navigation-div [class^="icon-"] {
            display: inline-block;
            margin: 0 5px 0 5px;
            width: 14px;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li>频道管理<span class="divider">/</span></li>
            <li><a style="text-decoration: none;" href="/content/android/new_channels">Android频道</a><span
                    class="divider">/</span></li>
            <li class="active">频道导航</li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div>
            {% with user.is_manager as perm_flag %}
                {% if perm_flag %}
                    <div class="pull-right">
                        <a class="btn module-state" value="1" href="#"><i class="icon-ok"></i>开启</a>
                        <a class="btn module-state" value="0" href="#"><i class="icon-off"></i>关闭</a>
                        <input name="platform" type="hidden" value="{{ platform }}"/>
                        <input type="hidden" name="channel_ids" id="item_ids"/>
                        <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
                        {#                <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>新增导航</a>#}
                    </div>
                {% endif %}
                </div>
                <table class="table table-striped">
                    <thead>
                    <th><input type="checkbox" id="state-all-pick"></th>
                    <th>导航ID</th>
                    <th>导航标题</th>
                    {#            <th>导航类型</th>#}
                    <th>状态</th>
                    {% if perm_flag %}
                        <th>操作</th>
                    {% endif %}
                    </thead>
                    <tbody id="sortable">
                    {% for navi in navigations %}
                        <tr id="channel_{{ navi.id }}" value="{{ navi.id }}" class="sort-item">
                            <td><input type="checkbox" class="channel-state-tag"></td>
                            <td>{{ navi.id }}</td>
                            <td>{{ navi.title }}</td>
                            {#                    <td>#}
                            {#                        {{ nav_types_hash|dict_get:navi.nav_type }}#}
                            {#                    </td>#}
                            <td id="status_{{ navi.id }}">
                                {{ navi_state_hash|dict_get:navi.state }}
                            </td>
                            {% if perm_flag %}
                                <td colspan="1">
                                    <a class='btn btn-small'
                                       href="{% url "android_update_channel_navigation" navi.id %}">
                                        <li class="icon-edit"></li>
                                        修改</a>
                                    {#                        <a href="{% url "android_delete_channel_navigation" navi.id %}" class="del">删除</a>#}
                                </td>{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

                {% if not navigations %}
                    <div class="row-fluid">
                        <div class="col-sm-8">
                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Warning!</strong> android频道导航数据为空,请创建数据。
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row-fluid">
                    {% include  'android/channel_navigation/add_channel_navi.html' %}
                </div>

                <div id="formErrorModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示(Esc关闭)</h3>
                    </div>
                    <div class="modal-body">
                        <p class="text-error">提示消息</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
            {% endwith %}
{% endblock %}




{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
        function save_position_btn_func() {
            var item_ids = $('#item_ids').val();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/content/android/channel_navigation',
                data: {
                    item_ids: item_ids
                },
                success: function (data) {
                    if (data.status === 'success') {
                        $().toastmessage({
                            position: 'middle-center'
                        });
                        $().toastmessage('showSuccessToast', '操作成功');
                        setTimeout(function () {
                            location.reload()
                        }, 1000);
                    } else {
                        $().toastmessage('showErrorToast', "操作失败")
                    }
                }
            })
        }
        {% include "common_module/sort_edit_del.js" %}
        {% include "common_module/image_upload.js" %}

        function collect_change_channel_ids() {
            var channel_id_array = [];
            var channel_ids;
            $("input:checkbox:checked.channel-state-tag").each(function () {
                channel_id_array.push($(this).parent().parent().attr('value'))
            });
            channel_ids = channel_id_array.join(",");
            return channel_ids;
        }

        $(function () {

            $('.image_pick').editable({
                showbuttons: false,
                source: [
                    {value: 1, text: '竖图'},
                    {value: 0, text: '横图'}
                ]
            });

            $("#channel_type").change(function () {
                $(".ordinary").toggle();
                $(".sales").toggle();
            });

            var img_upload_arr = ['normal', 'small'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.channel-state-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.channel-state-tag").attr("checked", false)
                }
            })
            $('.module-state').click(function () {
                var channel_ids = ""
                var val = $(this).attr("value")
                var source = {
                    '1': '开启',
                    '0': '关闭'
                }
                channel_ids = collect_change_channel_ids()
                if (channel_ids.length > 0) {
                    $.ajax({
                        url: '/content/android/update_status_channel_navigation',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            module_ids: channel_ids,
                            value: val
                        },
                        success: function (data) {
                            for (var i = 0; i < data.module_ids.length; i++) {
                                $('#status_' + data.module_ids[i]).html(source[val])
                            }
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            $().toastmessage('showSuccessToast', '操作成功');
                            $("input:checkbox.channel-status-tag").prop('checked', false);
                            $('#state-all-pick').prop("checked", false)
                        }
                    })
                }
            })

            $("#channel-content-type").change(function () {
                var content_type = $(this).children('option:selected').val();
                window.location.href = "{% url 'android_new_channels' %}" + "?content_type=" + content_type;
            });

        })

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myselect").change(function () {
                var channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'android_sub_channel' %}" + "?select_channel=" + channel_id;
            });

            var type_sel = $("#type");
            type_sel.change(function () {
                var type_value = $(this).children('option:selected').val();
                var img_sel = $("#img-type");
                var condition = $("#condition");
                if (type_value == 2) {
                    img_sel.show();
                    condition.hide();
                } else if (type_value == 3) {
                    img_sel.hide();
                    condition.show();
                } else {
                    img_sel.hide();
                    condition.hide();
                }
            });

        })

    </script>

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}
