{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/box/update.css">

{% endblock %}
{% block content %}

    <div class="container">
        <div class="row-fluid span8">
            <h3>更新数据</h3>

            <form role="form" method="post" class="validate_module">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <label>模块ID</label>
                        </td>
                        <td>
                            {{ box.box_id }}
                        </td>
                        <input type="hidden" class="form-control" id="id" name="id" value="{{ box.id }}">
                    </tr>

                    <tr>
                        <td style="width: 30%"> 模块类型</td>
                        <td>
                            {{ box_type_hash|dict_get:box.box_type }}
                        </td>
                    </tr>
                    <tr>
                        <td><label>模块标题</label></td>
                        <td><input type="text" class="form-control" id="title" name="title" value="{{ box.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label>phone视频个数</label></td>
                        <td><input type="text" class="form-control" id="video_count_for_phone"
                                   name="video_count_for_phone"
                                   value="{{ box.video_count_for_phone }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>pad视频个数</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="video_count_for_pad" name="video_count_for_pad"
                                   value="{{ box.video_count_for_pad }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="cid">跳转CID</label></td>
                        <td><input type="text" class="form-control" id="cid" name="cid" value="{{ box.cid }}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-default">更新</button>
                <a class="btn btn-default" href="{% url 'home_common_boxes' %}">返回</a>
            </form>
            <div class="row-fluid" style="width: 760px">
                {% include "android/main_page/module_manage/module_tag/add_tag.html" with box=box tag_type_list=tag_type_list channels=channels tag=tag %}
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
        {% include "home_common/common_box/_module_validate.js" %}
        $(document).ready(function () {
            $("#li_iphone_box").addClass('active');
        });

        var url = '/content/img/upload';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)

        $('#box-img-upload').fileupload({
            autoUpload: true,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 1048576,


            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if ('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if ('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 1048576) {
                    uploadErrors.push('上传图片需要小于1M!');
                }

                if (uploadErrors.length > 0) {
                    show_error_msg(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
            },

            done: function (e, data) {//设置文件上传完毕事件的回调函数

                if ("e" in data.result && data.result["e"]["code"] < 0) {
                    $("#normal_button").show();
                    $("#normal-progress").hide();
                    show_error_msg("upload error:" + data.result["e"]["code"] + ':' + data.result["e"]["desc"]);
                    return;
                }

                $.each(data.result.files, function (index, file) {//
                    $("#normal-content").attr("src", file.url);
                    scoller_input = $("#normal-img-url")
                    scoller_input.attr('value', file.url)
                });

                $("#normal-progress").hide();
                $("#normal_success").show();
            },

            progressall: function (e, data) {//设置上传进度事件的回调函数

                // $("#normal_button").hide();
                $("#normal-progress").show();

                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#scoller-progress .bar').css(
                        'width',
                        progress + '%'
                );
            }

        });
        $("button.close").click(function () {
            $("#normal_success").hide();
            $("#normal_button").show();
            $("#normal-img-url").val("");
        })
    </script>

{% endblock %}
