{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">


{% endblock %}
{% block content %}

    <div class="container">
        <div class="row-fluid span8 offset2">
            <h3>更新Android抽屉数据</h3>

            <form role="form" method="post" action="{% url "android_update_module" %}" class="validate_module">
                <table class="table table-hover table-striped">
                    <tbody>
                    <input type="hidden" class="form-control" id="id" name="id" value="{{ module.id }}">
                    <tr>
                        <td style="width: 30%"> 抽屉类型</td>
                        <td>
                            {{ box_type_hash|dict_get:module.box_type }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%"> 关联推荐池抽屉</td>
                        <td>
                            <select class="form-control" id="box_type" name="attached_common_box_id" placeholder="">
                                {% if module.attached_common_id == 0 %}
                                    <option value="0" selected="selected">无</option>
                                    {% for box in common_boxes %}
                                        <option value="{{ box.id }}">{{ box.title }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">无</option>
                                    {% for box in common_boxes %}
                                        <option value="{{ box.id }}"
                                                {% if box.id == module.attached_common_id %}selected="selected" {% endif %}>{{ box.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label><span style="color: orangered">*</span>抽屉标题 </label></td>
                        <td><input type="text" class="form-control" id="title" name="title"
                                   value="{{ module.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label><span style="color: orangered">*</span>phone视频个数 </label></td>
                        <td><input type="text" class="form-control" id="video_count_for_phone"
                                   name="video_count_for_phone"
                                   value="{{ module.video_count_for_phone }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><span style="color: orangered">*</span>pad视频个数</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="video_count_for_pad" name="video_count_for_pad"
                                   value="{{ module.video_count_for_pad }}">
                        </td>
                    </tr>
                    {% if module.box_type_to_s != 'slider' and module.box_type_to_s != 'under_slider'%}
{#                        <tr>#}
{#                            <td><label for="cid">频道跳转</label></td>#}
{#                            <td><select id="cid" name="cid">#}
{#                                {% if module.cid == 0 %}#}
{#                                    <option value="0" selected="selected">无</option>#}
{#                                    {% for cid_detail in cid_details %}#}
{#                                        <option value="{{ cid_detail.cid }}">{{ cid_detail.title }}</option>#}
{#                                    {% endfor %}#}
{#                                {% else %}#}
{#                                    <option value="0">无</option>#}
{#                                    {% for cid_detail in cid_details %}#}
{#                                        <option value="{{ cid_detail.cid }}"#}
{#                                                {% if cid_detail.cid == module.cid %}selected="selected" {% endif %}>{{ cid_detail.title }}</option>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                            </select></td>#}
{#                        </tr>#}
                        <tr class="control-group">
                            <td><label for="normal-input" class="control-label">冠名图片</label></td>
                            <div class="validate-error"></div>
                            <td>
                                <div class="controls">
                                        <span id="normal_button" class="btn btn-success fileinput-button">
                                             <span>+ 上传截图...</span>
                                             <input id="module-img-upload" type="file" name="files[]" multiple>
                                        </span>

                                    <div id="normal_success" class="alert alert-success"
                                         style="font-size: 20px;margin-top: 10px;width: 165px;{% if not module.image %}display:none;{% endif %}">
                                        <button type="button" id="module-image-close" class="close"
                                                style="float: right">&times;</button>
                                        <img id='normal-content' src="{{ module.image }}" class="img-polaroid">
                                    </div>
                                    <div id="normal-progress" class="progress progress-success progress-striped  active"
                                         style="display: none">
                                        <div class="bar"></div>
                                    </div>
                                    <input type='hidden' id='normal-img-url' name='normal_img' value="{{ module.image }}"
                                           height="100" width="100"/>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="cid">冠名图片跳转url</label></td>
                            <td><input type="text" class="form-control" id="image_link" name="image_link"
                                       value="{{ module.image_link }}"></td>
                        </tr>
                        {% endif %}
                        {% if module.is_show_tag %}
                        <tr>
                            <td>抽屉标题跳转</td>
                            <td>
                                <table>
                                    {% if title_tag %}
                                        {% include "android/main_page/module_manage/module_tag/tag.html" with tag=title_tag %}
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>抽屉标签及跳转<br><span>(最多3个标签)</span></td>

                            <td>
                                <table id="normal_tags_table">
                                    {% if normal_tags %}
                                        {% for tag in normal_tags %}
                                            {% include "android/main_page/module_manage/module_tag/tag.html" with tag=tag %}
                                        {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <td colspan="3">
                                            <a id='create-tag-button' href="#myModal" role="button"
                                               class="btn pull-right"
                                               data-toggle="modal">新增标签</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-default"><li class="icon-ok-sign"></li>更新</button>
                <a class="btn btn-default" href="{% url 'android_uniq_modules' %}"><li class="icon-circle-arrow-left"></li>返回</a>
            </form>
            <div class="row-fluid" style="width: 760px">
                {% include "android/main_page/module_manage/module_tag/add_tag.html" with module=module tag_type_list=tag_type_list channels=channels tag=tag %}
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#li_iphone_module").addClass('active');
        });

        var url = '/content/img/upload';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)

        $('#module-img-upload').fileupload({
            autoUpload: true,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 1048576,


            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if ('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if ('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 1048576) {
                    uploadErrors.push('上传图片需要小于1M!');
                }

                if (uploadErrors.length > 0) {
                    show_error_msg(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
            },

            done: function (e, data) {//设置文件上传完毕事件的回调函数

                if ("e" in data.result && data.result["e"]["code"] < 0) {
                    $("#normal_button").show();
                    $("#normal-progress").hide();
                    show_error_msg("upload error:" + data.result["e"]["code"] + ':' + data.result["e"]["desc"]);
                    return;
                }

                $.each(data.result.files, function (index, file) {//
                    $("#normal-content").attr("src", file.url);
                    scoller_input = $("#normal-img-url")
                    scoller_input.attr('value', file.url)
                });

                $("#normal-progress").hide();
                $("#normal_success").show();
            },

            progressall: function (e, data) {//设置上传进度事件的回调函数

                // $("#normal_button").hide();
                $("#normal-progress").show();

                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#scoller-progress .bar').css(
                        'width',
                        progress + '%'
                );
            }

        });
        $("button.close").click(function () {
            $("#normal_success").hide();
            $("#normal_button").show();
            $("#normal-img-url").val("");
        })
    </script>
    <script type="text/javascript">
        {% include "android/main_page/module_manage/module/_update_module_validate.js" %}
    </script>
    <script type="text/javascript">

    $(function () {
        var add_tag_cancel_btn_click, add_tag_dialog_btn_click, add_tag_submit_btn_click, box_entity_id, check_if_tag_valid, delete_tag_btn_click, get_tag_params, modify_tag_btn_click, modify_tag_cancel_btn_click, modify_tag_submit_btn_click, adjust_jump_info;
        var GAME_ID, TAG_TYPE, adjust_jump_info, change_sub_channels_selection, adjust_jump_info_for_bind, change_sub_channels_selection_for_bind, get_tag_titles;
        TAG_TYPE = $('#tag_tag_type').val();
        GAME_ID = '0';
        var default_sub_channel_id;
        default_sub_channel_id = '';
        change_sub_channels_selection = function (channel_entity_id, default_sub_channel_id) {
            return $.ajax({
                url: "/content/android/info/sub_channel_options",
                type: 'POST',
                dataType: 'json',
                data: {
                    sub_channel_id: default_sub_channel_id,
                    channel_entity_id: channel_entity_id,
                },
                success: function (data) {
                    $("#sub_channel_id").html(data.options);
                    return $('#channel_page_id').val(data.channel_id);
                }
            });
        };
        adjust_jump_info = function (jump_type) {
            if (jump_type === "6") {
                $('#game_id_tr').show('fast');
                $('#game_information_area').show('fast');
            } else {
                $('#game_id_tr').hide('fast');
                $('#game_information_area').hide('fast');
            }
            if (jump_type === "1" || jump_type === "5" || jump_type === "6") {
                return $('#jump_info_tr').hide('fast');
            } else {
                $('#jump_info_tr').show('fast');
                if (jump_type === "2") {
                    $('#cid_info').show().siblings().hide();
                }
                if (jump_type === "3") {
                    $('#sub_channel_id_info').show().siblings().hide();
                }
                if (jump_type === "4") {
                    return $('#hotword_info').show().siblings().hide();
                }
            }
        };
        adjust_jump_info_for_bind = function () {
            var jump_type
            jump_type = $('#tag_jump_type').val()
            if (jump_type === "6") {
                $('#game_id_tr').show('fast');
                $('#game_information_area').show('fast');
            } else {
                $('#game_id_tr').hide('fast');
                $('#game_information_area').hide('fast');
            }
            if (jump_type === "1" || jump_type === "5" || jump_type === "6") {
                return $('#jump_info_tr').hide('fast');
            } else {
                $('#jump_info_tr').show('fast');
                if (jump_type === "2") {
                    $('#cid_info').show().siblings().hide();
                }
                if (jump_type === "3") {
                    $('#sub_channel_id_info').show().siblings().hide();
                }
                if (jump_type === "4") {
                    return $('#hotword_info').show().siblings().hide();
                }
            }
        };
        change_sub_channels_selection_for_bind = function () {
            var channel_entity_id
            channel_entity_id = $('#channel_page_id').val()
            return $.ajax({
                url: "/content/android/info/sub_channel_options",
                type: 'POST',
                dataType: 'json',
                data: {
                    sub_channel_id: default_sub_channel_id,
                    channel_entity_id: channel_entity_id,
                },
                success: function (data) {
                    $("#sub_channel_id").html(data.options);
                    return $('#channel_page_id').val(data.channel_id);
                }
            });
        }
        change_sub_channels_selection($('#channel_page_id').val(), default_sub_channel_id);
        adjust_jump_info($('#tag_jump_type').val());
        $('#tag_jump_type').change(function () {
            return adjust_jump_info($(this).val());
        });
        $('#channel_page_id').change(function () {
            return change_sub_channels_selection($(this).val());
        });
        if ($('#tag_jump_type').val() === 'jump_to_game') {
            $('#original_game_id').val(GAME_ID);
            if (GAME_ID !== '0') {
                return $('#fetch_game_information_button').trigger('click');
            }
        }
        $('#create-tag-button').click(function () {
            var box_id = $('#id').val()
            $.ajax({
                url: '/content/main_page/module_tag_jump_type',
                type: 'GET',
                sync: false,
                data: {box_id: box_id},
                success: function(data){
                  $('#tag_jump_type').html(data)
                }
            })
            $('#tag_title').val("")
{#            $('#tag_jump_type').val(1)#}
            $('#original_game_id').val("")
            $('#module_tag_total_titles').val("")
            adjust_jump_info($('#tag_jump_type').val());
            $('#modify_tag_submit_btn').attr('id', "add_tag_submit_btn")
            $('#add_tag_submit_btn').unbind('click').bind('click', add_tag_submit_btn_click)
            $('#modify_tag_cancel_btn').attr('id', "add_tag_cancel_btn")
            $('#tag_title').removeAttr("disabled");
            $('#game_field_form input').each(function () {
                $(this).val("")
            })
        })
        get_tag_params = function () {
            var tag_params
            tag_params = {
                'box_id': $('#tag_box_id').val(),
                'cid': $('#tag_cid').val(),
                'tag[state]': $('#tag_state').val(),
                'title': $('#tag_title').val(),
                'tag[tag_type]': $('#tag_tag_type').val(),
                'jump_type': $('#tag_jump_type').val(),
                'channel_page_id': $('#channel_page_id').val(),
                'tag_sub_channel_id': $('#sub_channel_id').val(),
                'tag_hotword': $('#tag_hotword').val(),
                'original_game_id': $('#original_game_id').val(),
                'game_appname': $('#game_name').val(),
                'game_version_code': $('#game_version_code').val(),
                'game_version_name': $('#game_version_name').val(),
                'game_apk_package': $('#game_apk_package').val(),
                'game_logo': $('#game_logo').val(),
                'game_category_name': $('#game_category_name').val(),
                'game_score': $('#game_score').val(),
                'game_url': $("#game_apk_or_url").val(),
                'game_description': $('#game_description').val(),
                'game_download_count': $("#game_download_count").val(),
                'game_size': $('#game_size').val()
            }
            return tag_params
        };
        $("#add_tag_submit_btn").click(function () {
            return add_tag_submit_btn_click(this);
        });
        get_tag_titles = function () {
            $.ajax({
                url: "/content/android/main_page/module/tag_titles",
                type: 'GET',
                dataType: 'json',
                data: {
                    box_id: $('#tag_box_id').val(),
                    tag_id: $('#modify_tag_id').val()
                },
                async: false,
                success: function (data) {
                    $('#module_tag_total_titles').val(data.titles)
                }
            });
        }
        add_tag_submit_btn_click = function () {
            var params;
            if (!check_if_tag_valid()) {
                return;
            }
            params = get_tag_params();
            $.ajax({
                url: '/content/android/main_page/add/module_tag',
                type: 'POST',
                data: params,
                success: function (data) {
                    var last_tag, new_tr;
                    if (data === 'count_err') {
                        return alert('添加标签失败: 最多添加3个标签');
                    } else {
                        new_tr = data;
                        last_tag = $('#normal_tags_table tr.tag_info:last');
                        if (last_tag.length > 0) {
                            last_tag.after(new_tr);
                        } else {
                            $('#normal_tags_table tr:first').before(new_tr);
                        }
                        $('.delete_tag_btn').unbind('click').bind('click', delete_tag_btn_click);
                        return $('.modify_tag_btn').unbind('click').bind('click', modify_tag_btn_click);
                    }
                }
            });
            $('#tag_title').val("")
            $('#tag_jump_type').val(2)
            adjust_jump_info($('#tag_jump_type').val());
            return $("#add_tag_cancel_btn").trigger("click");
        };
        $(".delete_tag_btn").click(function () {
            return delete_tag_btn_click(this);
        });
        delete_tag_btn_click = function (dom) {
            var tag_id;
            if (confirm("确定删除tag?")) {
                if ($(dom).is('a')) {
                    tar_tag = $(dom)
                } else {
                    tar_tag = $(this)
                }
                tag_id = tar_tag.parents('.tag_info').attr('id').replace(/tag_/, '');
                $.ajax({
                    dataType: 'json',
                    url: '/content/android/main_page/delete/module_tag',
                    type: 'POST',
                    data: {
                        id: tag_id
                    },
                    success: function (data) {
                        if (data.status === 'ok') {
                            return $("#tag_" + tag_id).remove();
                        } else {
                            return alert('删除失败');
                        }
                    }
                });
            }
        };
        $(".modify_tag_btn").click(function () {
            return modify_tag_btn_click(this);
        });
        modify_tag_btn_click = function (dom) {
            var tag_id;
            if ($(dom).is('a')) {
                tar_tag = $(dom)
            } else {
                tar_tag = $(this)
            }
            tag_id = tar_tag.parents('.tag_info').attr('id').replace(/tag_/, '');
            $('#create-tag-button').trigger("click")
{#            $('#myModal').modal('show')#}
            $.ajax({
                url: '/content/android/main_page/query/module_tag/' + tag_id,
                success: function (data) {
                    $('#myModal').html(data);
                    $('#modify_tag_submit_btn').unbind('click').bind('click', modify_tag_submit_btn_click);
                    $('#channel_page_id').unbind('change').bind('change', change_sub_channels_selection_for_bind)
                    $('#tag_jump_type').unbind('change').bind('change', adjust_jump_info_for_bind)
                }
            });
        };
        modify_tag_submit_btn_click = function () {
            var params, tag_id;
            tag_id = $('#modify_tag_id').val();
            if (!check_if_tag_valid()) {
                return;
            }
            params = get_tag_params();
            params['id'] = tag_id;
            $.ajax({
                url: '/content/android/main_page/update/module_tag',
                type: 'POST',
                dataType: 'json',
                data: params,
                success: function (data) {
                    var dom;
                    if (data.status === 'err') {
                        return alert('修改标签失败');
                    } else {
                        dom = $('tr[id=tag_' + tag_id + ']');
                        dom.find('.tag_title').html(data.tag.title);
                        return dom.find('.tag_jump_info').html(data.tag.jump_type);
                    }

                }
            });
            return $("#modify_tag_cancel_btn").trigger("click");
        };
        return check_if_tag_valid = function () {
            get_tag_titles();
            $("#tag_details_table tr").each(function () {
                if ($(this).find('td').size() === 2) {
                    return $(this).append("<td></td>");
                }
            });
            var current_title = $('#tag_title').val().trim();
            var original_titles = $('#module_tag_total_titles').val();
            var final_titles = current_title + original_titles;
            if (final_titles.trim().replace(/([^\x00-\xff])/g, '**').length > 20) {
                $('#tag_title_tr td:last').html("<span class='error'>大词总字数不能大于10</span>")
                return false
            } else {
                $('#tag_title_tr td:last').html("")
            }
            if ($('#tag_title').val().trim().length < 1) {
                $('#tag_title_tr td:last').html("<span class='error'>跳转的名称不能为空</span>");
                return false;
            } else {
                $('#tag_title_tr td:last').html("");
            }
            if ($('#tag_jump_type').val() === '4') {
                if ($('#tag_hotword').val().trim().length < 1) {
                    $('#jump_info_tr td:last').html("<span class='error'>热词不能为空</span>");
                    return false;
                } else {
                    $('#jump_info_tr td:last').html("");
                }
            }
            if ($('#tag_jump_type').val() === '2') {
                if ($('#tag_cid').val() === null || $('#tag_cid').val() === "") {
                    $('#jump_info_tr td:last').html("<span class='error'>频道不能为空</span>");
                    return false;
                } else {
                    $('#jump_info_tr td:last').html("");
                }
            }
            if ($('#tag_jump_type').val() === '3') {
                if ($('#sub_channel_id').val() === null || $('#sub_channel_id').val() === "") {
                    $('#jump_info_tr td:last').html("<span class='error'>子频道不能为空</span>");
                    return false;
                } else {
                    $('#jump_info_tr td:last').html("");
                }
            }
            if ($('#tag_jump_type').val() === '6') {
                $("#fetch_game_information_button").trigger('click');
                if ($('#game_name').val().trim().length < 1) {
                    $('#game_id_tr td:last').html("<span class='error'>请填写有效的游戏ID</span>");
                    return false;
                } else {
                    $('#game_id_tr td:last').html("");
                }
            }
            return true;
        };
    });
    $().toastmessage({
        text: $($('.success')[0]).text(),
        sticky: false,
        position: 'middle-center',
        type: 'success'
    });
    if ($('.success').length > 0) {
        $().toastmessage('showSuccessToast');
    }
    if ($('.error').length > 0) {
        $().toastmessage('showErrorToast');
    }
    </script>

{% endblock %}