{% extends "base.html" %}

{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css" />
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <h3 class="page-header">首页模块新增视频</h3>
            <label class="radio-inline">编辑类型:
                <input id="changebox" type="checkbox" class="js-switch" checked />
            </label>
            
{#                <input type="radio" name="radio" value="video" checked> 视频id#}
{#                <input type="radio" name="radio" value="url"> 视频url#}

        </div>

        <div class="row-fluid hide" id="url">
            <form class="form-horizontal" id="url_form" method="post">
                <input type="hidden" name="module_id" value="{{ module_id }}"/>
                <div class="control-group">
                    <label for="title" class="control-label">标题</label>

                    <div class="controls">
                        <input type="text" id="title" name="title" placeholder="">
                    </div>
                </div>

                <div class="control-group">
                    <label for="url" class="control-label">url</label>

                    <div class="controls">
                        <input type="text" id="url" name="url" placeholder="">
                    </div>
                </div>

                <div class="control-group">
                    <label for="introduct" class="control-label">腰封</label>

                    <div class="controls">
                        <input type="text" id="introduct" name="introduct" placeholder="">
                    </div>
                </div>

                <div class="control-group">
                    <label for="screen-input" class="control-label">图片</label>

                    <div class="controls">

                        <span id="screen_button" class="btn btn-success fileinput-button  btn-large ">
                             <span>+ 上传截图...</span>
                             <input id="screen-img-upload" type="file" name="files[]" multiple>
                        </span>

                        <div id="screen-success" class="alert alert-success"
                             style="display: none;font-size: 20px;margin-top: 10px">
                            <button type="button" class="close">&times;</button>
                            <img id='screen-content' src="" class="img-polaroid">
                        </div>
                        <div id="screen-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='screen-input' name='screen-img' value="" height="100" width="100"/>

                    </div>

                </div>


                <div class="form-actions">
                    <button type="submit" class="btn btn-danger">提交</button>
                    <a class="btn btn-primary" href="{% url "cms_ipad_items" %}">返回</a>
                </div>
            </form>
        </div>


        <div class="row-fluid" id="video">
            <form class="form-horizontal" id="video_form" method="post">
                <input type="hidden" name="module_id" value="{{ module_id }}"/>
                <div class="control-group">
                    <label for="name" class="control-label"></label>

                    <div class="controls">
                        <textarea rows="10"  id="name" name="video_id" placeholder="请输入视频url"></textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"> 提交 </button>
                    <a class="btn btn-primary" href="{% url "cms_ipad_items" %}?select_module={{ module_id }}">返回</a>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div id="formErrorModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">提示(Esc关闭)</h3>
        </div>
        <div class="modal-body">
            <p class="text-error">提示消息</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
{% endblock %}



{% block js %}


    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var elem = document.querySelector('.js-switch');
            var init = new Switchery(elem);
            var is_url = false;

            var default_check = true;
            $("#changebox_text").text("视频url");
            
            $('#changebox').change( function() {
                  if(default_check!=elem.checked){
                    //alert(elem.checked);
                    default_check=elem.checked;

                    if (!is_url) {
                        $("div#url").show();
                        $("div#video").hide();
                        is_url=true;
                    }else if (is_url) {
                        $("div#url").hide();
                        $("div#video").show();
                        is_url=false;
                    }
               }
            });
            
        });




        $("input[type=radio]").click(function() {
            if (this.value == 'url') {
                $("div#url").show();
                $("div#video").hide();
            }
            if (this.value == 'video') {
                $("div#url").hide();
                $("div#video").show();
            }
        });

        $(function () {

            $(".alert button").click(function() {
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });

            var url = '/content/img/upload';
            //初始化，主要是设置上传参数，以及事件处理方法(回调函数)

            $('#screen-img-upload').fileupload({
                autoUpload: true,//是否自动上传
                url: url,//上传地址
                dataType: 'json',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 1048576,


                add: function(e, data) {
                    data.formData = {
                        'type': $('#select-img-type').val()
                    };
                    var uploadErrors = [];
                    var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                    if ('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                        uploadErrors.push('上传图片格式错误!');
                    }

                    if ('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 1048576) {
                        uploadErrors.push('上传图片需要小于1M!');
                    }

                    if (uploadErrors.length > 0) {
                        show_error_msg(uploadErrors.join("\n"));
                    } else {
                        data.submit();
                    }
                },

                done: function (e, data) {//设置文件上传完毕事件的回调函数

                    if ("e" in data.result && data.result["e"]["code"] < 0) {
                        $("#screen_button").show();
                        $("#screen-progress").hide();
                        show_error_msg("upload error:" + data.result["e"]["code"] + ':' + data.result["e"]["info"]);
                        return;
                    }

                    $.each(data.result.files, function (index, file) {//
                        $("#screen-content").attr("src", file.url);
                        $("#screen-content").show();
                        scoller_input = $("#screen-input")
                        scoller_input.attr('value', file.url)
                    });

                    $("#screen-progress").hide();
                    $("#screen-success").show();
                },

                progressall: function (e, data) {//设置上传进度事件的回调函数

                    $("#screen_button").hide();
                    $("#screen-progress").show();

                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#scoller-progress .bar').css(
                            'width',
                            progress + '%'
                    );
                }

            });



        });


        function show_error_msg(msg) {

            $("#formErrorModal .modal-body p").text(msg);
            $("#formErrorModal").modal();

        }

    </script>
{% endblock %}