{% extends "base.html" %}

{% block content %}

    <div class="row-fluid input-prepend">
        <h3>视频管理</h3>
        <span class="add-on">模块:</span>
        <select class="col-sm-8" id="myselect" name="select_module">
            {% for module in modules %}
                {% ifequal this_module.id module.id %}
                    <option value="{{ module.id }}" selected="selected">{{ module.title }}</option>
                {% else %}
                    <option value="{{ module.id }}">{{ module.title }}</option>
                {% endifequal %}
            {% endfor %}
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <th>标题</th>
            <th>视频id</th>
            <th>类型</th>
            <th>腰封</th>
            <th>横图</th>
            <th>状态(开/关)</th>
            <th>所属模块</th>
            <th>操作</th>
        </thead>
        <tbody id="sortable">
            {% for item in items %}
                <tr id="module_{{ item.id }}" value="{{ item.id }}">
                    <td>{{ item.title }}</td>
                    <td>{{ item.video_id }}</td>
                    <td>{{ item.video_type }}</td>
                    <td> <a class="data_tip" href="#" data-toggle="tooltip" title="{{ item.introduction }}">{{ item.introduction|slice:"10" }}...</a> </td>
                    <td><img src="{{ item.h_image }}" style="height: 90px" class="img-polaroid"/></td>
                    <td>
                        <a class="select_pick" href="#" id="status_{{ item.id  }}" data-type="select" data-pk="{{ item.id  }}" data-url="/content/ipad/update_status/item" data-title="状态管理" data-value={{ item.state }}></a>
                    </td>
                    <td>{{ item.module.title }}</td>
                    <td colspan="2"><a href="{% url "query_item" item.id %}?module_id={{ this_module.id }}">修改</a> <a href="{% url "delete_item" item.id %}?module_id={{ this_module.id }}" class="del">删除</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not items %}
        <div class="row-fluid">
           <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 相关首页视频模块数据为空,请创建视频数据。
                </div>
            </div>
       </div>
    {% endif %}


    {% if this_module %}
        <form method="post" id="save_position_form" action="{% url 'cms_ipad_items' %}">
            <a class="btn btn-danger" href="{% url 'cms_ipad_add_item' this_module.id %}">新增内容</a>
            <input type="hidden" name="item_ids" id="item_ids"/>
            <input type="hidden" name="this_module_id" id="this_module_id" value="{{ this_module.id }}"/>
            <input type="submit" value="保存顺序" class="btn btn-primary" id="save_position_btn"/>
        </form>
    {% else %}
        <div class="row-fluid">
           <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 相关首页模块数据为空,请创建模块数据。
                  <a href="{% url 'cms_ipad_modules' %}">创建模块</a>
                </div>
            </div>
       </div>
    {% endif %}

{% endblock %}


{% block js %}

   <script type="text/javascript">
        function collect_module_ids_with_order(){
            children = $("#sortable").children();
            ret = ''
            for(i=0;i<children.length;i++){
                child = children[i];
                ret += $(child).attr('value')+',';
            }
            return ret.substring(0, ret.length-1);
        }

        $(document).ready(function () {

            $(".data_tip").tooltip();

            $("#sortable").sortable({
                revert: true,
                start: function(event, ui) {
                    ui.item.startPos = ui.item.index();
                },
                stop: function(event, ui) {
                    console.log("Start position: " + ui.item.startPos);
                    console.log("New position: " + ui.item.index());
                }
            });

            $("#save_position_btn").click(function(){
                item_ids = collect_module_ids_with_order();
                if(item_ids==''){
                    alert('没有要排序的内容');
                    return false;
                }
                $("#item_ids").val(item_ids);
            });

            $(".del").click(function(){

                var statu = confirm("确认删除吗?");
                if(!statu){
                    return false;
                }
            });

            $("#myselect").change(function(){
                module_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'cms_ipad_items' %}"+"?select_module="+module_id;
            });

            $(function(){
            $.fn.editable.defaults.mode = 'popup';
            $('.select_pick').editable({
                showbuttons: false,
                source: [
                      {value: 1, text: '开启'},
                      {value: 0, text: '关闭'}
               ]
            });
        });

        });
    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}