{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="row-fluid">

        <h3>更新视频</h3>
        <form role="form" method="post" action="{% url 'update_item' %}">
          <div class="form-group">
            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}">
            <input type="hidden" class="form-control" id="id" name="id" value="{{ item.id }}">
            <input type="hidden" class="form-control" id="module_id" name="module_id" value="{{ module_id }}">
          </div>

           <div class="form-group">
            <label for="title">腰封</label>
            <input type="text" class="form-control" id="introduction" name="introduction" value="{{ item.introduction }}">
          </div>
            
          <div class="form-group">
            <label for="video_count">模块标题</label>
            <input type="text" class="form-control" id="module_title" name="module_title" value="{{ item.module.title }}" readonly>
          </div>

          <button type="submit" class="btn btn-default">更新</button>
          <a class="btn btn-default" href="{% url 'cms_ipad_items' %}?select_module={{ module_id }}">返回</a>
        </form>
    </div>
</div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#li_ipad_module").addClass('active');

        });


    </script>
{% endblock %}