<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script type="text/javascript">
    $(function () {

        var validate_rules;
        var validate_form = function (form_selector, options) {
            var default_options;
            default_options = {
                errorPlacement: function (error, element) {
                    element.addClass('error');
                    error.css({"padding-left": "0px", "color": "#933", "display": "block"});
                    console.log(element.parent());
                    return error.insertBefore(element);
                },
                submitHandler: function (form) {
                    return form.submit();
                },
                success: function(label) {

                  },
                highlight: function (element, errorClass) {
                    return $(element).parent().find("." + errorClass).removeClass("checked");
                }
            };
            options = $.extend(default_options, options);
            var mes_obj = {};
            var mes = $.validator.messages;
            for (var k in mes) {
                if (typeof mes[k] !== 'function') {
                    mes_obj[k] = mes[k] + ' (｡･ω･｡) ';
                }
            }
            $.extend(mes, mes_obj);
            return $(form_selector).validate(options);
        };
        jQuery.validator.addMethod("date_time_24", function (value, element) {
            return this.optional(element) || /^([01]\d|2[0-3]):([0-5]\d)(;([01]\d|2[0-3]):([0-5]\d))*$/.test(value);
        }, '请输入有效的24小时时间，如23:59,多个时间请以;分隔');

        validate_rules = {
            'virtual_name': 'required',
            'cron': {'required': true,
                'date_time_24': true}
        };

        validate_form('form', {
                    ignore: ':hidden:not(input[id*=normal-input])',
                    rules: validate_rules
                }
        );
    });
</script>
