<!-- Modal -->
{% load util_tags %}
<div id="syncJobModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="syncJobModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="syncJobModalLabel">创建同步任务</h3>
  </div>

  <div class="modal-body">
     <form role="form" method="post" action="{% url "add_sync_plan" %}">

      <div class="form-group ui-widget">
        <label for="virtual_name">虚拟名称</label>
        <input type="text" class="form-control" id="virtual_name" name="virtual_name" placeholder="">
      </div>
      <div class="form-group">
        <label for="run_type">运行时间类型</label>
        <select class="form-control" id="run_type" name="run_type" >
            <option value="interval">间隔时间运行</option>
            <option value="cron">每天固定时间运行</option>
        </select>
      </div>
      <div class="form-group" id="interval_type">
        <label for="interval">每隔多少分钟间隔运行一次</label>
        <select name="interval" id="interval">
            {% for value in 1000|times:"1 1" %}
            <option value="{{ value }}" {% if forloop.counter == 10%}selected="selected"{% endif %} >{{ value }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group" id="cron_type">
        <label for="cron">每日固定时间运行(如10:30, 22:00)</label>
        <input type="text" class="form-control" id="cron" name="cron" >
      </div>
      <div class="form-group">
        <label for="is_auto_published">抓取后是否自动上线</label>
        <select class="form-control" id="is_auto_published" name="is_auto_published" >
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
      </div>
      <div class="form-group">
        <label for="max_fetch_count">抓取视频的个数限制</label>

        <select class="form-control" id="max_fetch_count" name="max_fetch_count" >
            {% for value in 11|times:"1 0" %}
            {% if forloop.counter0 == 0 %}
            <option value="{{ value }}" selected="selected">
                无限制</option>
                {% else %}
            <option value="{{ value }}" >
                {{ value }}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      <div class="form-group small-bottom" style="padding-bottom: 20px;">
        <input type="checkbox" class="checkbox" id="runatonce" name="runatonce" placeholder="" checked="checked">马上运行
      </div>
      <button type="submit" class="btn btn-success" id="create_job">创建</button>
{#      <a class="btn btn-default" href="{% url 'ipad_sub_channel_module_items' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ this_module.id }}">返回</a>#}
      <button class="btn" data-dismiss="modal" aria-hidden="true">返回</button>
      <input name="platform" type="hidden" value="{{ platform }}" />
      <input name="channel_id" type="hidden" value="{{ channel_id }}">
      <input name="subchannel_id" type="hidden" value="{{ subchannel_id }}">
      <input name="module_id" type="hidden" value="{% if module_id %}{{ module_id }}{% endif %}">
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>

</div>