{% extends "base.html" %}
{% load util_tags %}

{% block link %}
    <link rel="stylesheet" href="{{ static_url }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ static_url }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        #page {
            margin: 0 auto;
            text-align: center;
        }

        #page > form {
            text-align: left;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row-fluid" id="page">
            <h3>修改子频道模块同步任务</h3>

            <form role="form" method="post" action="{% url "update_sync_plan" job.id %}">
                <div class="form-group">
                    <label for="channel">频道</label>
                    <span class="input uneditable-input">{{ channel.title }} </span>
                </div>
                <div class="form-group">
                    <label for="subchannel">子频道</label>
                    <span class="input uneditable-input">{{ subchannel.title }}</span>
                </div>
                {% if module %}
                    <div class="form-group">
                        <label for="module">子频道模块</label>
                        <span class="input uneditable-input">{{ module.title }}</span>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="virtual_name">虚拟名称</label>
                    <input type="text" class="form-control" id="virtual_name" name="virtual_name"
                           value="{{ job.virtual_name }}">

                </div>
                <div class="form-group">
                    <label for="run_type">运行时间类型</label>
                    <select class="form-control" id="run_type" name="run_type">
                        <option value="interval" {% if not job.cron %}selected="selected"{% endif %}>间隔时间运行</option>
                        <option value="cron" {% if job.cron %}selected="selected"{% endif %}>每天固定时间运行</option>
                    </select>
                </div>


                <div class="form-group" id="interval_type">
                    <label for="interval">每隔多少分钟间隔运行一次</label>
                    <select name="interval" id="interval">
                        {% for value in 1000|times:"1 1" %}
                            <option value="{{ value }}"
                                    {% if forloop.counter == job.interval %}selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="cron_type">
                    <label for="cron">每日固定时间运行(如10:30, 22:00)</label>
                    <input type="text" class="form-control" id="cron" name="cron" value="{{ job.cron }}">
                </div>


                <input type="hidden" class="form-control" id="id" name="id" value="{{ job.id }}">
                <input type="hidden" class="form-control" name="platform" value="{{ platform }}">
                <input type="hidden" class="form-control" name="channel_id" value="{{ channel.id }}">
                <input type="hidden" class="form-control" name="subchannel_id" value="{{ subchannel.id }}">
                <input type="hidden" class="form-control" name="module_id" value="{{ module.id }}">
                <input type="hidden" class="from-control" name="from" value="{{ from }}">
                <button type="submit" class="btn btn-default" id="sub"><i class="icon-ok"></i>更新</button>
                {% if from == 'show_select_plans' %}
                    {% if back == 'all' %}
                        <a class="btn btn-default" href="{% url from %}?platform=all"><i class="icon-arrow-left"></i>返回</a>
                    {% else %}
                        <a class="btn btn-default"
                           href="{% url from %}?select_channel={{ channel.id }}&select_subchannel={{ subchannel.id }}&select_module={{ module.id }}&platform={{ back }}">
                            <i class="icon-arrow-left"></i>返回</a>
                    {% endif %}
                {% elif from == 'show_single_plan' %}
                    <a class="btn btn-default"
                       href="{% url from %}?channel_id={{ channel.id }}&subchannel_id={{ subchannel.id }}&moduld_id={{ module.id }}&platform={{ platform }}">
                        <i class="icon-arrow-left"></i>返回</a>

                {% endif %}
                {#                <a class="btn btn-default"#}
                {#                   href="{% url from %}?channel_id={{ channel.id }}&subchannel_id={{ subchannel.id }}&module_id={{ module.id }}&platform={{ platform }}">#}
                {#                    <i class="icon-arrow-left"></i>返回</a>#}
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ static_url }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ static_url }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ static_url }}file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sub").bind('click', function(e){
                e.preventDefault();
                var that = $(this);
                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    data: $('#virtual_name'),
                    url: "{% url 'check_virtual_name' %}",
                    success: function(data){
                        if (data.status === 'success'){
                            that.submit();
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            });

            var run_type = $('#run_type');
            run_type.change(function () {
                if ($(this).val() === 'interval') {
                    $('#interval_type').show();
                    $('#cron_type').hide();
                } else {
                    $('#interval_type').hide();
                    $('#cron_type').show();
                }
            });
            run_type.triggerHandler('change');

            $("#virtual_name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "{% url "virtual_name_autocomplete" %}",
                        dataType: "json",
                        type: 'post',
                        data: {
                            'q': $("#virtual_name").val()
                        },
                        success: function (data) {
                            return response(data);
                        }
                    });
                },
                minLength: 1,
                autoFocus: true
            });
        });
    </script>
    {% include "syncjob/_sync_plan_validate.html" %}
{% endblock %}