<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建子频道</h3>
    </div>

    <div class="modal-body">
        <form role="form" method="post" id="create_sub" action="{% url 'android_add_sub_channel' %}">
            <table class="table table-hover table-striped table-bordered" style="width: 90%;">
                <tbody>
                    <tr>
                        <td>
                            <span style="color: orangered">*</span>标题
                        </td>
                        <td>
                            <input type="text" class="form-control" id="title" name="title" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            子频道类型
                        </td>
                        <td>
                            <select class="form-control" id="type" name="type">
                                {% for k,v in subchannel_type_list %}
                                    <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-group" id="condition" hidden="true">
                        <td><label for="condition">筛选条件</label></td>
                        <td>
                            <div>
                                当前频道:{{ this_channel.title }}
                            </div>
                             <div>
                                   <input type="radio" value=1 name="is_show_filters" style="margin-bottom: 5px">全部
                                   <input type="radio" value=0 checked='checked' name="is_show_filters" style="margin-bottom: 5px">指定筛选条件
                            </div>
                            <div id="filter_list_items" style="display: none">
                            {% for kind,value in filter_list.items %}

                                    <div>
                                        <span for="{{ kind }}" style="margin-right: 10px;">{{ value.title }}</span>
                                        <select class="form-control" id="filter_{{ kind }}" name="filter_{{ kind }}" >
                                            <option value="">全部</option>
                                            {% for k,v in value.items %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{ kind }}"></label>
                                    </div>

                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr id="img-type" style="display: none;">
                        <td><label for="image_type">图片</label></td>
                        <td>
                            <select class="form-control" id="image_type" name="image_type" >
                                <option value="1">横图</option>
                                <option value="2">竖图</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">创建</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <input name="channel_id" type="hidden" value="{{ this_channel.id }}"/>
            <input name="cid" type="hidden" value="{{ this_channel.cid }}" />
        </form>
    </div>

    <div class="modal-footer">
    </div>

</div>