{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>更新子频道标签</h3>

            <form role="form" method="post" action="{% url 'android_update_sub_channel' %}" id="create_sub">
                <table class="table table-striped table-hover offset2">
                    <tr>
                        <td><label for="title">子频道ID</label></td>
                        <td>
                            <input type="text" class="form-control" id="id" name="id" value="{{ subchannel.id }}"
                                   readonly>
                            <input type="hidden" class="form-control" id="channe_id" name="channel_id"
                                   value="{{ channel_id }}">
                            <input type="hidden" class="form-control" id="cid" name="cid" value="{{ cid }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="title"><span style="color: orangered">*</span>标题</label></td>
                        <td><input type="text" class="form-control" id="title" name="title"
                                   value="{{ subchannel.title }}"></td>
                    </tr>
                    <tr>
                        <td><label for="type">子频道类型</label></td>
                        <td><input type="hidden" id="ty" value="{{ subchannel.type }}">
                            <input readonly="true" value="{{ subchannel_type_hash|dict_get:subchannel.type }}">
                            <input type="hidden" id="type" value="{{ subchannel.type }}" name="type">
{#                            <select class="form-control" id="type" name="type">#}
{#                                {% for k,v in subchannel_type_list %}#}
{#                                    <option value="{{ k }}">{{ v }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                        </td>
                    </tr>
                    <tr id="img-type" {% if subchannel.is_editable_box %}style="display: none;"{% endif %}>
                        <td><label for="image">图片类型</label></td>
                        <td><input type="hidden" id="img" value="{{ subchannel.image_type }}">
                            <select class="form-control" id="image_type" name="image_type">
                                <option value="1">横图</option>
                                <option value="2">竖图</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="condition" hidden="true">
                        <td><label for="condition">筛选条件</label></td>
                        <td>
                            <div>
                                当前频道:{{ this_channel.title }}
                            </div>
                            <div>
                                是否露出筛选条件:
                                <input type="radio" value=1 {% if subchannel.is_show_filters %}
                                       checked='checked' {% endif %} name="is_show_filters" style="margin-bottom: 5px">是
                                <input type="radio" value=0 {% if not subchannel.is_show_filters %}
                                       checked='checked' {% endif %} name="is_show_filters" style="margin-bottom: 5px">否
                            </div>
                            <div id="filter_list_items" style="display: none">
                                {% if filter_list %}
                                    {% for kind,value in filter_list.items %}

                                        <div>
                                            <span style="margin-right: 10px;">{{ value.title }}</span>
                                            <select class="form-control" id="filter_{{ kind }}"
                                                    name="filter_{{ kind }}">
                                                <option value=""
                                                        {% if value.current == '' %}selected="selected"{% endif %}>全部
                                                </option>
                                                {% for k,v in value.items %}
                                                    <option value="{{ v }}"
                                                            {% if value.current == v %}selected="selected"{% endif %}>
                                                        {{ k }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="{{ kind }}"></label>
                                        </div>

                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn">
                    <li class="icon-ok-sign"></li>
                    提交
                </button>
                <a class="btn btn-default" href="{% url 'android_sub_channel' %}?select_channel={{ channel_id }}">
                    <li class="icon-circle-arrow-left"></li>
                    返回</a>
            </form>
        </div>
    </div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#li_android_module").addClass('active');
            var val = $("#ty").val();
            $("select[name=type] option[value=" + val + "]").attr("selected", "selected");

            var img_type = $("#type");
            if (img_type.val() != 1) {
                $("#img-type").show();
            } else {
                $("#img-type").hide();
            }
            img_type.change(function () {
                var img_val = $(this).children('option:selected').val();
                if (img_val != 1) {
                    $("#img-type").show();
                } else {
                    $("#img-type").hide();
                }
            });

            if (val == 3) {
                $("#condition").show();
            }
            if ($('input[type=radio]:checked').val() === '1') {
                $('#filter_list_items').hide()
            } else {
                $('#filter_list_items').show()
            }

            $('input[type=radio]').click(function () {
                if ($(this).val() === '1') {
                    $('#filter_list_items').hide()
                } else {
                    $('#filter_list_items').show()
                }
            })

            img = $("#img").val();
            $("select[name=image_type] option[value=" + img + "]").attr("selected", "selected");

            num = $("#num").val();
            $("select[name=video_count] option[value=" + num + "]").attr("selected", "selected");

            area = $("#filter_area").val();
            $("select[name=area] option[value=" + area + "]").attr("selected", "selected");

            video_type = $("#filter_videotype").val();
            $("select[name=video_type] option[value=" + video_type + "]").attr("selected", "selected");

            year = $("#filter_year").val();
            $("select[name=year] option[value=" + year + "]").attr("selected", "selected");


        });
    </script>

    {% include "subchannel/subchannel_validate.html" %}

{% endblock %}