{% extends "base.html" %}

{% block link %}
<style type="text/css">
    .active-item-shadow {
        box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row-fluid input-prepend">
        <h3>子频道模块管理</h3>
        <span class="add-on">频道:</span>
        <select class="col-sm-8" id="select_channel" name="select_channel">
            {% for channel in channels %}
                {% ifequal this_channel.id channel.id %}
                    <option value="{{ channel.id }}" selected="selected">
                      {{ channel.title }}
                      ({% if channel.state == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% else %}
                    <option value="{{ channel.id }}">{{ channel.title }}
                    ({% if channel.state == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% endifequal %}
            {% endfor %}
        </select>
        {% if subchannels %}
        <span class="add-on" style="margin-left: 5px;">子频道:</span>
        <select class="col-sm-8" id="select_subchannel" name="select_subchannel">
            {% for subchannel in subchannels %}
                {% ifequal this_subchannel.id subchannel.id %}
                    <option value="{{ subchannel.id }}" selected="selected">
                      {{ subchannel.title }}({% if subchannel.state == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% else %}
                    <option value="{{ subchannel.id }}">{{ subchannel.title }}
                    ({% if subchannel.state == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% endifequal %}
            {% endfor %}
        </select>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
            <th>子频道模块ID</th>
            <th>标题</th>
            <th>类型</th>
            <th>phone只显示一个单元?</th>
            <th>状态(开/关)</th>
            <th>操作</th>
        </thead>
        <tbody id="sortable">
            {% for module in modules %}
                <tr id="module_{{ module.id }}" value="{{ module.id }}" class="sort-item">
                    <td>{{ module.id }}</td>
                    <td>{{ module.title }}</td>
                    <td>{% if module.module_type == 1 %}
                            轮播图模块
                        {% else %}
                            普通模块
                         {% endif %}
                    <td>
                        <a class="phone_display" href="#" id="phone_one_unit" data-type="select" data-pk="{{ module.id  }}" data-url="/content/android/update_status/subchannel/module" data-title="状态管理" data-value={{ module.phone_one_unit }}></a>
                    </td>
                    <td>
                        <a class="select_pick" href="#" id="state" data-type="select" data-pk="{{ module.id  }}" data-url="/content/android/update_status/subchannel/module" data-title="状态管理" data-value={{ module.state }}></a>
                    </td>

                    <td colspan="2">

                        <a href="{% url "android_query_sub_channel_module"%}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}">修改</a>
                        <a href="{% url "android_delete_sub_channel_module"%}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}" class="del">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if not channels %}
         <div class="row-fluid">
           <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 频道数据为空,请创建频道数据。
                  <a href="{% url 'android_channels' %}">创建频道</a>
                </div>
           </div>
         </div>
    {% else %}
    {% if not subchannels %}
             <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 该频道下没有精选子频道，请创建。
                  <a href="{% url 'android_sub_channel' %}?select_channel={{ this_channel.id }}  ">创建子频道</a>
                </div>
            </div>
    {% else %}

            {% if not modules %}
                <div class="row-fluid">
                   <div class="col-sm-8">
                        <div class="alert" >
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong>Warning!</strong> 子频道模块数据为空,请创建子频道模块数据。
                        </div>
                    </div>
               </div>
            {% endif %}

            <div class="row-fluid">
                <form method="post" id="save_position_form">
                    <input type="hidden" name="item_ids" id="item_ids"/>
                    <input type="hidden" name="this_subchannel_id" id="this_subchannel_id" value="{{ this_subchannel.id }}"/>
                    <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
                    <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">创建模块</a>
                    <input type="submit" value="保存顺序" class="btn btn-primary" id="save_position_btn"/>
                </form>
            </div>

    {% endif %}

    <div class="row-fluid">
        {% include  'subchannel_module/android_add_subchannel_module.html' %}
    </div>
    {% endif %}

{% endblock %}


{% block js %}
   <script type="text/javascript">

       {% include "common_module/sort_edit_del.js" %}

        $(document).ready(function () {

            var count_selector = $("#count");
            var jump_selector = $("#jump_type");
            count_selector.change(function(){
                var unit_num = $(this).val();
                var unit_total = $('#count option:last').val();
                for (var start=1; start<=unit_total;start++) {
                    if (start > unit_num){
                        $("#unit_type_div_"+start.toString()).css('display', 'none');
                    }
                    else{
                        $("#unit_type_div_"+start.toString()).css('display', 'inline-block');
                    }
                }
            });
            jump_selector.change(function(){
                var jump_type = $(this).val();
                if(jump_type === 'by_sub_channel') {
                    $("#jump_to_subchannel").css('display', 'block');
                    $("#condition").hide();
                } else if(jump_type === 'by_filter') {
                    $("#jump_to_subchannel").css('display', 'none');
                    $("#condition").show();
                } else {
                    $("#jump_to_subchannel").css('display', 'none');
                    $("#condition").hide();
                }
            });

            count_selector.trigger('change');
            jump_selector.trigger('change');

            $("#select_channel").change(function(){
                channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'android_sub_channel_modules' %}"+"?select_channel="+channel_id;
            });


            $("#select_subchannel").change(function(){
                subchannel_id = $(this).children('option:selected').val();
                channel_id = $("#select_channel").val();
                window.location.href = "{% url 'android_sub_channel_modules' %}"+"?select_channel="+channel_id +"&select_subchannel="+subchannel_id;
            });

            $('.phone_display').editable({
                showbuttons: false,
                source: [
                      {value: 1, text: '是'},
                      {value: 0, text: '否'}
               ]
            });

        });
    </script>

        {% include "subchannel_module/module_validate.html" %}

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}