{% extends "base.html" %}
{% load util_tags %}

{% block link %}
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">
        .active-item-shadow {
            box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
        }

        .btn-table {
            padding: 2px 5px;
        }
        .nav-list {
            color: #000;
        }
        .start-cate {
            font-weight: bold;
            color: #333;
        }
    </style>
{% endblock %}

{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li class="start-cate">频道管理<span class="divider">|</span></li>
            <li><a class="nav-list" href="{% url 'ipad_new_channels' %}">Ipad频道</a><span
                    class="divider">/</span></li>
            <li>
                <a class="nav-list" href="{% url 'ipad_sub_channels' %}?select_channel={{ this_channel.id }}">{{ this_channel.title }}频道</a><span
                    class="divider">/</span></li>
            <li class="active">{{ this_subchannel.title }}子频道-抽屉列表</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid" style="height: 50px">

        <div class="pull-left">
            <a class="btn" href="{% url 'ipad_sub_channels' %}?select_channel={{ this_channel.id }}"><i
                    class="icon-circle-arrow-left"></i>返回</a>
        </div>
        {% box_btns_show_perm this_channel.id request.user 3 as perm_flag %}
        {% if perm_flag %}
        <div class="pull-right ">
            {#            <a class="btn" href="#"><i class="icon-mobile-phone"></i>预览</a>#}
            {#            <a class="btn publish" id="publish" href="#"><i class="icon-bullhorn"></i>发布</a>#}
            <a class="btn box-state" value="1" href="#"><i class="icon-ok"></i>开启</a>
            <a class="btn box-state" value="0" href="#"><i class="icon-off"></i>关闭</a>
            <input type="hidden" name="item_ids" id="item_ids"/>
            <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
            <input type="hidden" name="this_subchannel_id" id="this_subchannel_id" value="{{ this_subchannel.id }}"/>
            <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
            <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>新增抽屉</a>
        </div>
        {% endif %}
    </div>

    <table class="table table-striped">
        <thead>
        <th><input type="checkbox" id="state-all-pick"></th>
        <th>子频道抽屉ID</th>
        <th>标题</th>
        <th>抽屉类型</th>
        <th>状态(开/关)</th>
        <th>视频个数</th>
        <th>操作</th>
        </thead>
        <tbody id="sortable">
        {% for module in modules %}
            <tr id="module_{{ module.id }}" value="{{ module.id }}" class="sort-item">
                <td><input type="checkbox" class="box-state-tag"></td>
                <td>{{ module.id }}</td>
                <td>{{ module.title }}</td>
                <td>{% ifequal module.module_type 0 %}普通抽屉{% else %}轮播图抽屉{% endifequal %}</td>

                <td class="out_pick td-state" id="status_{{ module.id }}">
                    {% if module.state == 0 %}关闭{% else %}开启{% endif %}
                </td>
                <td>{{ module.video_count }}</td>

                <td colspan="2">
                    {% if perm_flag %}
                    <a class="btn btn-small btn-table"
                       href="{% url "ipad_query_sub_channel_module" %}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}">
                        <li class="icon-edit"></li>
                        修改</a>
                    <a class="btn btn-danger btn-small del btn-table"
                       href="{% url "ipad_delete_sub_channel_module" %}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}">
                        <li class="icon-trash"></li>
                        删除</a>
                    {% endif %}
                    <a class="btn btn-small btn-info btn-table"
                       href="{% url 'ipad_sub_channel_module_items' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ module.id }}">
                        <li class="icon-film"></li>
                        视频</a>
                    {% if module.module_type != 1  %}
                    <a class="btn-small btn btn-success btn-table"
                       href="{% url 'show_single_plan' %}?channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}&module_id={{ module.id }}&platform=ipad">
                        <li class="icon-folder-open"></li>
                        抓取</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if not channels %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 频道数据为空,请创建频道数据。
                    <a href="{% url 'ipad_channels' %}">创建频道</a>
                </div>
            </div>
        </div>
    {% else %}
        {% if not subchannels %}
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 子频道数据为空,请创建子频道数据。
                    <a href="{% url 'ipad_sub_channels' %}?select_channel={{ this_channel.id }}  ">创建子频道</a>
                </div>
            </div>
        {% else %}

            {% if not modules %}
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Warning!</strong> 子频道抽屉数据为空,请创建子频道抽屉数据。
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endif %}

        <div class="row-fluid">
            {% include  'subchannel_module/ipad_add_subchannel_module.html' %}
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">


        {% include "common_module/sort_edit_del.js" with reorder_url="/content/ipad/subchannel/modules" %}
        {% include "common_module/state_switch_basic.js" %}

        $(document).ready(function () {

            $('.box-state').click(function () {
                var source = {
                    '1': '开启',
                    '0': '关闭'
                };
                var val = $(this).attr("value");
                var box_ids = collect_change_box_ids();
                if (box_ids.length > 0) {
                    $.ajax({
                        url: '/content/update_items_state',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            item_ids: box_ids,
                            value: val,
                            target_model: 'IpadSubChannelModule'
                        },
                        success: function (data) {
                            $().toastmessage({
                                position: 'middle-center'
                            });

                            if (data.status === 'success') {
                                for (var i = 0; i < data.item_ids.length; i++) {
                                    $('#status_' + data.item_ids[i]).html(source[val])
                                }
                                $().toastmessage('showSuccessToast', '操作成功');
                            } else {
                                $().toastmessage('showErrorToast', '操作失败');
                            }
                            $(".box-state-tag").prop('checked', false);
                            $('#state-all-pick').prop("checked", false)
                        }
                    })
                }
            });

        });
    </script>

    {% include "subchannel_module/module_validate.html" %}

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}