{% extends "base.html" %}
{% load util_tags %}

{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>更新子频道标签</h3>

            <form role="form" id="create_mod" method="post" action="{% url 'ipad_update_sub_channel_module' %}">
                <div class="form-group">
                    <label for="title">子频道ID</label>
                    <input type="text" class="form-control" id="id" name="id" value="{{ module.id }}"
                           readonly>
                    <input type="hidden" class="form-control" id="channe_id" name="channel_id" value="{{ channel_id }}">
                    <input type="hidden" class="form-control" id="subchanne_id" name="subchannel_id"
                           value="{{ subchannel_id }}">
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ module.title }}">
                </div>
                <div class="form-group">
                    <label for="module_type">模块类型</label>
                    <select class="form-control" id="module_type" name="module_type" disabled>
                        <option value="0" {% if module.module_type == 0 %}selected="selected"{% endif %}>普通模块</option>
                        <option value="1" {% if module.module_type == 1 %}selected="selected"{% endif %}>轮播图模块</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="video_count">视频个数</label>
                    <input type="hidden" id="num" value="{{ module.video_count }}">
                    <select class="form-control" id="count" name="video_count">
                        {% for value in 21|times:"1 1" %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="count"></label>
                </div>

                <button type="submit" class="btn btn-success">更新</button>
                <a class="btn btn-default"
                   href="{% url 'ipad_sub_channel_modules' %}?select_channel={{ channel_id }}&select_subchannel={{ subchannel_id }}">返回</a>

            </form>
        </div>
    </div>
{% endblock %}


{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#li_ipad_module").addClass('active');

            var num = $("#num").val();
            $("select[name=video_count] option[value=" + num + "]").attr("selected", "selected");

        });
    </script>

    {% include "subchannel_module/module_validate.html" %}

{% endblock %}