<!-- Modal -->
{% load util_tags %}
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建子频道抽屉</h3>
    </div>
    <div class="modal-body">
        <form role="form" id="create_mod" method="post" action="{% url 'ipad_add_sub_channel_module' %}">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label for="title">标题</label></td>
                    <td><input type="text" class="form-control" id="title" name="title" placeholder=""></td>
                </tr>
                <tr>
                    <td><label for="module_type">抽屉类型</label></td>
                    <td><select class="form-control" id="module_type" name="module_type">
                        <option value="0">普通抽屉</option>
                        <option value="1">轮播图抽屉</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="video_count">视频个数</label></td>
                    <td><select class="form-control" id="count" name="video_count">
                        {% for value in 21|times:"1 1" %}
                            <option value="{{ value }}" {% if forloop.last %}selected="selected"{% endif %}>
                                {{ value }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <input name="channel_id" type="hidden" value="{{ this_channel.id }}"/>
                <input name="subchannel_id" type="hidden" value="{{ this_subchannel.id }}"/>
            </table>
            <button type="submit" class="btn btn-success">创建</button>
            <a class="btn btn-default"
               href="{% url 'ipad_sub_channel_modules' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}">返回</a>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>

</div>