{% extends "base.html" %}

{% load util_tags %}

{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>更新子频道标签</h3>

            <form role="form" id="create_mod" method="post" action="{% url 'iphone_update_sub_channel_module_v4' %}">
                <div class="form-group">
                    <label for="title">子频道ID</label>
                    <input type="text" class="form-control" id="module_id" name="module_id" value="{{ module.id }}"
                           readonly>
                    <input type="hidden" class="form-control" id="channe_id" name="channel_id" value="{{ channel_id }}">
                    <input type="hidden" class="form-control" id="subchanne_id" name="subchannel_id"
                           value="{{ subchannel_id }}">
                    <input type="hidden" class="form-control" id="module_type" name="module_type"
                           value="{{ module.module_type }}">
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ module.title }}">
                </div>
                <div class="form-group">
                    <label for="module_type">模块类型</label>
                    <select class="form-control" id="module_type" name="module_type" disabled="disabled">
                        <option value="0" {% if module.module_type == 0 %}selected="selected"{% endif %}>普通模块</option>
                        <option value="1" {% if module.module_type == 1 %}selected="selected"{% endif %}>轮播图模块</option>
                    </select>
                </div>
                <div id="slider" hidden="hidden">
                    <div class="form-group">轮播图个数</div>
                    <label for="slider_video_count"></label>
                    <select class="form-group" id="slider_video_count" name="slider_video_count">
                        {% for value in 21|times:"1 1" %}
                            <option value="{{ value }}"
                                    {% if module.slider_video_count == value %}selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="ordinary">
                    <div class="form-group">
                        <label for="video_count">单元个数</label>
                        <input type="hidden" id="unit_count" name="unit_count" value="{{ module.unit_count }}">
                        <select class="form-control" id="count" name="count">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="video_count">单元类型</label>

                        {% for unit_type_div in module.unit_type_divs %}

                            {% if unit_type_div %}
                                <div class="form-group" style="margin-left: 80px" id="unit_div_{{ forloop.counter }}">
                                <span style="margin-right: 10px;"
                                      for="unit_type_div_{{ forloop.counter }}">第{{ forloop.counter }}个单元</span>
                                    <input type="hidden" id="unit_type_div_{{ forloop.counter }}"
                                           value="{{ unit_type_div }}">
                                    <select class="form-control" id="unit_select_{{ forloop.counter }}"
                                            name="unit_select_{{ forloop.counter }}">
                                        <option value="horizontal_twos">横图模板(2视频/单元)</option>
                                        <option value="vertical_threes">竖图模板(3视频/单元)</option>
                                    </select>
                                </div>
                            {% else %}
                                <div class="form-group" style="margin-left: 80px;display:none;"
                                     id="unit_div_{{ forloop.counter }}">
                                <span style="margin-right: 10px;"
                                      for="unit_type_div_{{ forloop.counter }}">第{{ forloop.counter }}个单元</span>
                                    <input type="hidden" id="unit_type_div_{{ forloop.counter }}"
                                           value="{{ unit_type_div }}">
                                    <select class="form-control" id="unit_select_{{ forloop.counter }}"
                                            name="unit_select_{{ forloop.counter }}">
                                        <option value="horizontal_twos">横图模板(2视频/单元)</option>
                                        <option value="vertical_threes">竖图模板(3视频/单元)</option>
                                    </select>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-success">更新</button>
                <a class="btn btn-default"
                   href="{% url 'iphone_sub_channel_modules_v4' %}?select_channel={{ channel_id }}&select_subchannel={{ subchannel_id }}">返回</a>

            </form>
        </div>
    </div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#li_iphone_module").addClass('active');

            var num = $("#unit_count").val();
            $("select[name=count] option[value=" + num + "]").attr("selected", "selected");

            var unit_var;
            for (var start = 1; start <= 6; start++) {
                unit_var = $("#unit_type_div_" + start.toString()).val();
                $("select[id=unit_select_" + start.toString() + "] option[value=" + unit_var + "]").attr("selected", "selected");
            }

            var unit_total = $("#count option:last").val();
            var count_selector = $("#count");
            count_selector.change(function () {
                var unit_num = $(this).val();

                for (start = 1; start <= unit_total; start++) {
                    if (start > unit_num) {
                        $("#unit_div_" + start.toString()).css('display', 'none');
                    }
                    else {
                        $("#unit_div_" + start.toString()).css('display', 'block');
                    }
                }
            });
            count_selector.trigger("change");

            var module_type = $("#module_type");
            module_type.change(function () {
                if ($(this).val() == 1) {
                    $("div#ordinary").hide();
                    $("div#slider").show();
                } else {
                    $("div#ordinary").show();
                    $("div#slider").hide();
                }
            });
            module_type.trigger("change");

        });
    </script>

        {% include "subchannel_module/module_validate.html" %}

{% endblock %}