<!-- Modal -->
{% load util_tags %}
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建子频道抽屉</h3>
    </div>

    <div class="modal-body">
        <form role="form" id="create_mod" method="post" action="{% url 'iphone_add_sub_channel_module' %}">
            <table class="table table-bordered table-striped">
            <tr class="form-group">
               <td><span style="color: orangered">*</span>标题</td>
               <td> <input type="text" class="form-control" id="title" name="title" placeholder=""></td>
            </tr>
             <tr class="form-group">
                <td><label for="module_type">模块类型</label></td>
                <td>
                    <select class="form-control" id="module_type" name="module_type">
                        <option value="0">普通抽屉</option>
                        <option value="1">轮播图抽屉</option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td><label for="iphone_video_count">抽屉内视频个数(iphone)</label></td>
                <td>
                <select class="form-control" id="iphone_video_count_normal" name="iphone_video_count">
                    {% for value  in 41|times:"2 2" %}
                       <option value="{{ value }}"{% if value == 6 %}selected="selected"{% endif %} >
                           {{ value }}
                       </option>
                    {% endfor %}
                </select>
                <select class="form-control" id="iphone_video_count_slider" name="iphone_video_count">
                    {% for value  in 41|times:"1 1" %}
                       <option value="{{ value }}"{% if value == 6 %}selected="selected"{% endif %} >
                           {{ value }}
                       </option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr class="form-group">
                <td><label for="ipad_video_count">抽屉内视频个数(ipad)</label></td>
                <td>
                    <select class="form-control" id="ipad_video_count_normal" name="ipad_video_count">
                        {% for value  in 21|times:"2 2" %}
                           <option value="{{ value }}"{% if value == 20 %}selected="selected"{% endif %} >
                               {{ value }}
                           </option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="ipad_video_count_slider" name="ipad_video_count">
                        {% for value  in 21|times:"1 1" %}
                           <option value="{{ value }}"{% if value == 20 %}selected="selected"{% endif %} >
                               {{ value }}
                           </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            </table>
            <button type="submit" class="btn btn-default"><li class="icon-ok-sign"></li>创建</button>
            <a class="btn btn-default"
               href="{% url 'iphone_sub_channel_modules' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}"><li class="icon-circle-arrow-left"></li>返回</a>
            <input name="channel_id" type="hidden" value="{{ this_channel.id }}"/>
            <input name="subchannel_id" type="hidden" value="{{ this_subchannel.id }}"/>
        </form>
    </div>

    <div class="modal-footer">
    </div>

</div>