{% extends "base.html" %}
{% load util_tags %}
{% block content %}
    <div class="container">
        <div class="row-fluid" style="margin-left: 180px;">

            <h3>更新子频道标签</h3>

            <form role="form" id="create_mod" method="post" action="{% url 'iphone_update_sub_channel_module' %}">
                <table class="table table-hover table-striped"></table>
                <tr class="form-group">
                    <td><label for="title">子频道ID</label></td>
                    <input type="text" class="form-control" id="id" name="id" value="{{ module.id }}" readonly>
                    <input type="hidden" class="form-control" id="channe_id" name="channel_id" value="{{ channel_id }}">
                    <input type="hidden" class="form-control" id="subchanne_id" name="subchannel_id"
                           value="{{ subchannel_id }}">
                    <input type="hidden" class="form-control" id="module_type" name="module_type"
                           value="{{ module.module_type }}">
                </tr>
                <tr class="form-group">
                    <td><label for="module_type">模块类型</label></td>
                    <td>
                        <select class="form-control" id="module_type" name="module_type" disabled="disabled">
                            <option value="0" {% if module.module_type == 0 %}selected="selected"{% endif %}>普通模块
                            </option>
                            <option value="1" {% if module.module_type == 1 %}selected="selected"{% endif %}>轮播图模块
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td><label for="title">标题</label></td>
                    <td><input type="text" class="form-control" id="title" name="title" value="{{ module.title }}"></td>
                </tr>

                <tr class="form-group">
                    <td><label for="video_count">模块内视频个数(iphone)</label></td>
                    <input type="hidden" id="iphone_count" value="{{ module.iphone_video_count }}">
                    <td>
                        <select class="form-control" id="iphone_video_count" name="iphone_video_count">
                            {% if module.is_headline_module %}
                                {% for value in  41|times:"1" %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                {% for value in  41|times:"2 2" %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td><label for="video_count">模块内视频个数(ipad)</label></td>
                    <td>
                        <input type="hidden" id="ipad_count" value="{{ module.ipad_video_count }}">
                        <select class="form-control" id="ipad_video_count" name="ipad_video_count">
                            {% if module.is_headline_module %}
                                {% for value in  21|times:"1" %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                {% for value in  21|times:"2 2" %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <div></div>
                <button type="submit" class="btn btn-default">
                    <li class="icon-ok-sign"></li>
                    更新
                </button>
                <a class="btn btn-default"
                   href="{% url 'iphone_sub_channel_modules' %}?select_channel={{ channel_id }}&select_subchannel={{ subchannel_id }}">
                    <li class="icon-circle-arrow-left"></li>
                    返回</a>

            </form>
        </div>
    </div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#li_iphone_module").addClass('active');

            var iphone_num = $("#iphone_count").val();
            $("select[name=iphone_video_count] option[value=" + iphone_num + "]").attr("selected", "selected");

            var ipad_num = $("#ipad_count").val();
            $("select[name=ipad_video_count] option[value=" + ipad_num + "]").attr("selected", "selected");

        });
    </script>

    {% include "subchannel_module/module_validate.html" %}

{% endblock %}