{% extends "base.html" %}

{% block link %}
<style type="text/css">
    .active-item-shadow {
        box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
    }
</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <h3>子频道标签管理</h3>
        <div class="row-fluid input-prepend">
        <span class="add-on">频道:</span>
        <select class="col-sm-8" id="myselect" name="select_channel">
            {% for channel in channels %}
                {% ifequal this_channel.id channel.id %}
                    <option value="{{ channel.id }}" selected="selected">
                        {{ channel.title }}({% ifequal channel.state 1 %}开启{% endifequal %}
                        {% ifequal channel.state 0 %}关闭{% endifequal %})
                    </option>
                {% else %}
                    <option value="{{ channel.id }}">{{ channel.title }}
                        ({% ifequal channel.state 1 %}开启{% endifequal %}
                        {% ifequal channel.state 0 %}关闭{% endifequal %})
                    </option>
                {% endifequal %}
            {% endfor %}
        </select>
        </div>
        <div class="pull-right ">
{#            <a class="btn" href="#"><i class="icon-mobile-phone"></i>预览</a>#}
            <a class="btn publish" id="publish" href="#"><i class="icon-bullhorn"></i>发布</a>
{#            <a class="btn channel-state" value="1" href="#"><i class="icon-ok"></i>开启</a>#}
{#            <a class="btn channel-state" value="0" href="#"><i class="icon-off"></i>关闭</a>#}
{#            <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>创建android频道</a>#}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <th><input type="checkbox" id="state-all-pick"></th>
        <th>子频道ID</th>
        <th>标题</th>
        <th>类型</th>
        <th>图片</th>
        <th>是否高亮</th>
        <th>状态(开/关)</th>
        <th>操作</th>
        </thead>
        <tbody id="sortable">
        {% for subchannel in subchannels %}
            <tr id="module_{{ subchannel.id }}" value="{{ subchannel.id }}" class="sort-item">
                <td><input type="checkbox" class="channel-state-tag"></td>
                <td>{{ subchannel.id }}</td>
                <td>{{ subchannel.title }}</td>
                <td>
                    {% ifequal subchannel.type 1 %}人工运营(模块页){% endifequal %}
                    {% ifequal subchannel.type 2 %}视频列表/专辑{% endifequal %}
                    {% ifequal subchannel.type 3 %}筛选条件{% endifequal %}
                </td>
                <td>
                    {% ifequal subchannel.image_type 1 %}横图{% endifequal %}
                    {% ifequal subchannel.image_type 2 %}竖图{% endifequal %}
                </td>
                {#                    <td>{% if subchannel.highlight %}是{% else %}否{% endif %}</td>#}
                <td>
                    <a class="select_pick" href="#" id="highlight" data-type="select" data-pk="{{ subchannel.id }}"
                       data-url="/content/android/update_status/subchannel" data-title="状态管理"
                       data-value={{ subchannel.highlight }}></a>
                </td>
                <td>
                    <a class="select_pick" href="#" id="state" data-type="select" data-pk="{{ subchannel.id }}"
                       data-url="/content/android/update_status/subchannel" data-title="状态管理"
                       data-value={{ subchannel.state }}></a>
                </td>

                <td colspan="2"><a
                        href="{% url "android_query_sub_channel" %}?subchannel_id={{ subchannel.id }}&channel_id={{ this_channel.id }}">修改</a>
                    <a href="{% url "android_delete_sub_channel" %}?subchannel_id={{ subchannel.id }}&channel_id={{ this_channel.id }}"
                       class="del">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if not channels %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 频道数据为空,请创建频道数据。
                    <a href="{% url 'android_channels' %}">创建频道</a>
                </div>
            </div>
        </div>
    {% else %}
        {% if not subchannels %}
            <div class="row-fluid">
                <div class="col-sm-8">
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> 子频道数据为空,请创建子频道数据。
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row-fluid">
            <form method="post" id="save_position_form">
                <input type="hidden" name="item_ids" id="item_ids"/>
                <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
                <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">创建子频道</a>
                <input type="submit" value="保存顺序" class="btn btn-primary" id="save_position_btn"/>
            </form>
        </div>

        <div class="row-fluid">
            {% include  'subchannel/android_add_subchannel.html' %}
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript">

        {% include "common_module/sort_edit_del.js" %}

        $(document).ready(function () {
            $("#myselect").change(function () {
                var channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'android_sub_channel' %}" + "?select_channel=" + channel_id;
            });

            var type_sel = $("#type");
            type_sel.change(function () {
                var type_value = $(this).children('option:selected').val();
                var img_sel = $("#img-type");
                var condition = $("#condition");
                if (type_value == 2) {
                    img_sel.show();
                    condition.hide();
                } else if (type_value == 3) {
                    img_sel.hide();
                    condition.show();
                } else {
                    img_sel.hide();
                    condition.hide();
                }
            });

        })

        function collect_change_channel_ids() {
            var channel_id_array = [];
            var channel_ids;
            $("input:checkbox:checked.channel-state-tag").each(function () {
                channel_id_array.push($(this).parent().parent().attr('value'))
            });
            channel_ids = channel_id_array.join(",");
            return channel_ids;
        }

        function collect_change_channel_titles() {
            var channel_title_array = [];
            var channel_titles = [];
            $("input:checkbox:checked.channel-state-tag").each(function () {
                channel_title_array.push($(this).parent().next().next().text())
            });
            channel_titles = channel_title_array.join(", ");
            return channel_titles
        }

        $(function () {
            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.channel-state-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.channel-state-tag").attr("checked", false)
                }
            });

            //发布视频
            $('#publish').click(function () {
                var channel_ids = "";
                channel_ids = collect_change_channel_ids();
                if (channel_ids.length > 0) {
                    if ($('#publish').attr('disabled') == 'disabled'){return 0;}
                    $.ajax({
                        url: '/content/android/subchannel/publish',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            subchannel_ids: channel_ids
                        },
                        beforeSend: function () {
                            $('#publish').attr('disabled', true);
                            var myDate = new Date();
                            var dateString = myDate.getFullYear() + '年' + myDate.getMonth() + '月' + myDate.getDate() + '日 星期' + myDate.getDay() + ' ' + myDate.toLocaleTimeString() + '\n';
                            var boxString = '目标平台: Android ' + ' 子频道: ' + collect_change_channel_titles() + '\n';
                            var sta = confirm(dateString + boxString + "是否确认上线?");
                            if (!sta) {
                                $('#publish').removeAttr('disabled');
                                return false;
                            }
                        },
                        success: function (data) {
                            $('#publish').removeAttr('disabled');
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            if (data.status == 'success') {
                                $().toastmessage('showToast', {text: '发布成功!', type: 'success', sticky: true});
                            }
                            else if (data.status == 'error') {
                                $().toastmessage('showToast', {text: "\"" + data.box_title + "\"" + "---" + data.desc, type: 'error', sticky: true});
                            }

                        },
                        complete: function () {
                            //
                        },
                        error: function (data) {
                            console.info("error: " + data.responseText);
                        }

                    })
                }
                else {
                    alert("请先选择需要发布的抽屉");
                }
            });
        })

    </script>
    {% include "subchannel/subchannel_validate.html" %}
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

{% endblock %}