<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建子频道</h3>
    </div>

    <div class="modal-body">
        <form role="form" method="post" id="create_sub" action="{% url 'android_add_sub_channel' %}">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="">
            </div>
            <div class="form-group">
                <label for="type">子频道类型</label>
                <select class="form-control" id="type" name="type">
                    <option value="1">人工运营(模块页)</option>
                    <option value="2">视频列表/专题</option>
                    <option value="3">筛选条件</option>
                </select>
            </div>
            <div class="form-group" id="condition" hidden="true">
                <label for="condition">筛选条件</label>
                {% for kind,value in filter_list.items %}
                    <div style="margin-left: 80px;">
                        <div>
                            <span for="{{ kind }}" style="margin-right: 10px;">{{ value.title }}</span>
                            <select class="form-control" id="filter_{{ kind }}" name="filter_{{ kind }}" >
                                <option value="">全部</option>
                                {% for k,v in value.items %}
                                    <option value="{{ v }}">{{ k }}</option>
                                {% endfor %}
                            </select>
                            <label for="{{ kind }}"></label>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group" id="img-type" style="display: none;">
                <label for="image_type">图片</label>
                <select class="form-control" id="image_type" name="image_type" >
                    <option value="1">横图</option>
                    <option value="2">竖图</option>
                </select>
            </div>


            <button type="submit" class="btn btn-success">创建</button>
            <a class="btn btn-default"
               href="{% url 'android_sub_channel' %}?select_channel={{ this_channel.id }}">返回</a>
            <input name="channel_id" type="hidden" value="{{ this_channel.id }}"/>
            <input name="cid" type="hidden" value="{{ this_channel.cid }}" />
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>

</div>