<!-- Modal -->
{% load util_tags %}
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">创建子频道</h3>
  </div>

  <div class="modal-body">
     <form role="form" method="post" id="create_sub" action="{% url 'ipad_add_sub_channel'%}">
     <table class="table table-bordered table-striped">
     <tr>
         <td><label for="title">标题:</label></td>
         <td><input type="text" class="form-control" id="title" name="title" placeholder=""></td>
     </tr>
     <tr>
        <td><label for="is_choiceness">是否设置为精选子频道:</label>
            <label style="color: red">(每个频道仅允许建一个精选子频道)</label>
        </td>
        <td><select class="form-control" id="is_choiceness" name="is_choiceness">
                    <option value="0">否</option>
                    <option value="1">是</option>
            </select>
        </td>
     </tr>
     <tr>
        <td><label for="image">图片:</label></td>
        <td><select class="form-control" id="image" name="image_type" >
                <option value="1">横图</option>
                <option value="2">竖图</option>
            </select>
        </td>
     </tr>
     <tr>
        <td><label for="count">视频个数:</label></td>
        <td><select class="form-control" id="count" name="video_count" >
                {% for value in 31|times:"1 10" %}
                <option value="{{ value }}" {% if value == 20 %}selected="selected"{% endif %}>
                    {{ value }}</option>
                {% endfor %}
            </select>
        </td>
     </tr>
     {% if this_channel.is_film_channel %}
     <tr>
        <td><label for="count">会员:</label></td>
        <td><select class="form-control" id="for_membership" name="for_membership" >
                <option value="0" selected="selected">否</option>
                <option value="1" >是</option>
            </select>
        </td>
     </tr>
     {% endif %}
     <tr>
        <td><label for="type">子频道类型:</label></td>
        <td><select class="form-control" id="type" name="type" >
                <option value="1">抽屉</option>
                <option value="2">列表</option>
                <option value="3">筛选条件</option>
            </select>
        </td>
     </tr>
     <div class="form-group" >
     <tr style="display:none" id="condition_tr">
        <td><label for="condition">筛选条件:</label></td>
        <td>当前频道:{{ this_channel.title }},
            <input type="radio" value=1 checked='checked' name="is_show_filters" style="margin-bottom: 5px">全部
            <input type="radio" value=0 name="is_show_filters" style="margin-bottom: 5px">指定筛选条件

         <div id="filter_list_items" style="display: none">
         {% for kind,value in filter_list.items %}
                 <div>
                     <span for="{{ kind }}" style="margin-right: 10px;">{{ value.title }}</span>
                     <select class="form-control" id="filter_{{ kind }}" name="filter_{{ kind }}" >
                         <option value="">全部</option>
                         {% for k,v in value.items %}
                             <option value="{{ v }}">{{ k }}</option>
                         {% endfor %}
                     </select>
                     <label for="{{ kind }}"></label>
                 </div>
         {% endfor %}
         </div>
        </td>
     </tr>
     </div>
     </table>

      <button type="submit" class="btn btn-success" >创建</button>
      <a class="btn btn-default" href="{% url 'ipad_sub_channels' %}?select_channel={{ this_channel.id }}">返回</a>
      <input name="channel_id" type="hidden" value="{{ this_channel.id }}" />
      <input name="cid" type="hidden" value="{{ this_channel.cid }}" />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>

</div>
