{% extends "base.html" %}
{% load util_tags %}

{% block content %}
<div class="container">
        <div class="row-fluid">

        <h3>更新子频道标签</h3>
     <form role="form" id="create_sub" method="post" action="{% url 'ipad_update_sub_channel'%}" >
     <table class="table table-bordered table-striped">
     <tr>
        <td><label for="title">子频道ID</label></td>
        <td><input type="text" class="form-control" id="id" name="id" value="{{ subchannel.id }}" readonly>
            <input type="hidden" class="form-control" id="channe_id" name="channel_id" value="{{ channel_id }}">
            <input type="hidden" class="form-control" id="cid" name="cid" value="{{ cid  }}">
        </td>
     </tr>
     <tr>
        <td><label for="title">标题</label></td>
        <td><input type="text" class="form-control" id="title" name="title" value="{{ subchannel.title }}">
        </td>
     </tr>
     <tr>
        <td><label for="type">子频道类型</label></td>
        <td><input type="hidden" id="ty" value="{{ subchannel.type }}">
            <select class="form-control" id="type" name="type">
                <option value="1">人工运营(模块页)</option>
                <option value="2">人工运营(列表页)</option>
                <option value="3">筛选条件</option>
            </select>
        </td>
     </tr>
     <tr>
        <td><label for="image">图片类型</label></td>
        <td><input type="hidden" id="img" value="{{ subchannel.image_type }}">
            <select class="form-control" id="image" name="image_type">
                <option value="1">横图</option>
                <option value="2">竖图</option>
            </select>
        </td>
     </tr>
     <tr>
      <div class="form-group" id="condition" hidden="true">
        <td><label for="condition">筛选条件</label></td>

        <td>{% if filter_list %}
              {% for kind,value in filter_list.items %}
{#                  <div style="margin-left: 80px;">#}
{#                      <div>#}
                          <span style="margin-right: 10px;">{{ value.title }}</span>
                          <select class="form-control" id="filter_{{ kind }}" name="filter_{{ kind }}">
                              <option value="" {% if value.current == '' %}selected="selected"{% endif %}>全部
                              </option>
                              {% for k,v in value.items %}
                                  <option value="{{ v }}"
                                          {% if value.current == v %}selected="selected"{% endif %}>
                                      {{ k }}</option>
                              {% endfor %}
                          </select>
                          <label for="{{ kind }}"></label>
{#                      </div>#}
{#                  </div>#}
              {% endfor %}
          {% endif %}
        </td>
      </div>
     </tr>
      <tr>
        <td></tdd><label for="video_count">视频个数</label></td>
        <td><input type="hidden" id="num" value="{{ subchannel.video_count }}">
            <select class="form-control" id="count" name="video_count">
                {% for value in 31|times:"1 10" %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </td>
      </tr>
      </table>
      <button type="submit" class="btn btn-success">更新</button>
      <a class="btn btn-default" href="{% url 'ipad_sub_channels' %}?select_channel={{ channel_id }}">返回</a>

    </form>
    </div>
</div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#li_ipad_module").addClass('active');
            val =$("#ty").val();
            $("select[name=type] option[value="+val+"]").attr("selected","selected");

            if(val==3){
                $("#condition").show();
            }

            img = $("#img").val();
            $("select[name=image_type] option[value="+img+"]").attr("selected","selected");

            num = $("#num").val();
            $("select[name=video_count] option[value="+num+"]").attr("selected","selected");

            area = $("#filter_area").val();
            $("select[name=area] option[value="+area+"]").attr("selected", "selected");

            video_type = $("#filter_videotype").val();
            $("select[name=video_type] option[value="+video_type+"]").attr("selected", "selected");

            year = $("#filter_year").val();
            $("select[name=year] option[value="+year+"]").attr("selected", "selected");

            $("#type").change(function(){
                val = $(this).children('option:selected').val();

                if(val==3){
                    $("#condition").show();
                }else{
                    $("#condition").hide();
                }

            });

        });

    </script>

    {% include "subchannel/subchannel_validate.html" %}

{% endblock %}