{% extends "base.html" %}
{% load util_tags %}
{% block link %}
<link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css" >

{% include "common_module/sort_img.css" %}
    </style>
{% endblock %}

{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li>频道管理<span class="divider">/</span></li>
            <li><a style="text-decoration: none;" href="/content/iphone/new_channels">Iphone频道</a><span class="divider">/</span>
            </li>
            <li class="active">{{ this_channel.title }}-子频道列表</li>
        </ul>
    </div>
{% endblock %}


{% block content %}

    <div class="row-fluid ">
        <div class="pull-left">
            <a class="btn" href="{% url 'iphone_new_channels' %}"><i class="icon-circle-arrow-left"></i>返回</a>
        </div>

        {% box_btns_show_perm this_channel.id request.user 2 as perm_flag %}
        {% if perm_flag %}
        <div class="pull-right ">
            {#            <a class="btn" href="#"><i class="icon-mobile-phone"></i>预览</a>#}
            {#            <a class="btn publish" id="publish" href="#"><i class="icon-bullhorn"></i>发布</a>#}
            <a class="btn channel-state" value="1" href="#"><i class="icon-ok"></i>开启</a>
            <a class="btn channel-state " value="0" href="#"><i class="icon-off"></i>关闭</a>
            <input type="hidden" name="item_ids" id="item_ids"/>
            <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
            <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
            <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>新增子频道</a>
        </div>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
        <th><input type="checkbox" id="state-all-pick"></th>
        <th>子频道ID</th>
        <th>标题</th>
        <th>类型</th>
        <th>图片</th>
        <th>状态(开/关)</th>
        <th>操作</th>
        </thead>
        <tbody id="sortable">
        {% for subchannel in subchannels %}
            <tr id="module_{{ subchannel.id }}" value="{{ subchannel.id }}" class="sort-item">
                <td><input type="checkbox" class="box-state-tag"></td>
                <td>{{ subchannel.id }}</td>
                <td>{{ subchannel.title }}</td>
                <td>
                    {% for k,v in subchannel_type_list %}
                        {% ifequal subchannel.type k%}{{ v }}{% endifequal %}
                    {% endfor %}
                </td>
                <td>
                    {% ifequal subchannel.image_type 1 %}横图{% endifequal %}
                    {% ifequal subchannel.image_type 2 %}竖图{% endifequal %}
                </td>
                <td class="out_pick td-state" id="status_{{ subchannel.id }}">
                    {% if subchannel.state == 0 %}关闭{% else %} 开启{% endif %}
                </td>
{#                <td>#}
{#                    {% if subchannel.is_choiceness %}#}
{#                        <a class="select_pick" href="#" id="module_with_units" data-type="select"#}
{#                           data-pk="{{ subchannel.id }}" data-url="/content/iphone/update_status/subchannel"#}
{#                           data-title="v4.0+模板" data-value={{ subchannel.module_with_units }}></a>#}
{#                    {% else %}#}
{#                        -#}
{#                    {% endif %}#}
{#                </td>#}
                <td colspan="2">
                    {% if perm_flag %}
                        <a class="btn-small btn btn-table"
                           href="{% url "iphone_query_sub_channel" %}?subchannel_id={{ subchannel.id }}&channel_id={{ this_channel.id }}"><i
                                class="icon-edit"></i>修改</a>
                        <a class='btn-small btn btn-danger del btn-table'
                           href="{% url "iphone_delete_sub_channel" %}?subchannel_id={{ subchannel.id }}&channel_id={{ this_channel.id }}"><i
                                class="icon-trash"></i>删除</a>
                    {% endif %}
                    {% if subchannel.is_editable_box %}
                        <a class="btn-small btn btn-info btn-table"
                           href="{% url 'iphone_sub_channel_modules' %}?select_channel={{ this_channel.id }}&select_subchannel={{ subchannel.id }}">
                            <li class="icon-th-large"></li>
                            抽屉</a>
                    {% elif subchannel.is_editable_video_list %}
                        <a class="btn-small btn btn-info btn-table"
                           href="{% url 'iphone_sub_channel_module_items' %}?select_channel={{ this_channel.id }}&select_subchannel={{ subchannel.id }}">
                            <li class="icon-film"></li>
                            视频</a>
                        <a class="btn-small btn btn-success btn-table"
                           href="{% url 'show_single_plan' %}?channel_id={{ this_channel.id }}&subchannel_id={{ subchannel.id }}&platform=iphone">
                            <li class="icon-folder-open"></li>
                            抓取</a>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if not channels %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 频道数据为空,请创建频道数据。
                    <a href="{% url 'iphone_channels' %}">创建频道</a>
                </div>
            </div>
        </div>
    {% else %}
        {% if not subchannels %}
            <div class="row-fluid">
                <div class="col-sm-8">
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> 子频道数据为空,请创建子频道数据。
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row-fluid">
            {% include  'subchannel/iphone_add_subchannel.html' %}
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">

        {% include "common_module/sort_edit_del.js" %}

        {% include "common_module/state_switch_basic.js" %}

        $(document).ready(function () {
            $('.channel-state').click(function () {
                var source = {
                    '1': '开启',
                    '0': '关闭'
                };
                var val = $(this).attr("value");
                var channel_ids = collect_change_channel_ids();
                console.log(channel_ids);
                if (channel_ids.length > 0) {
                    $.ajax({
                        url: '/content/iphone/update_status/subchannel',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            sub_channel_ids: channel_ids,
                            value: val
                        },
                        success: function (data) {
                            $().toastmessage({
                                position: 'middle-center'
                            });

                            if (data.status === 'success') {
                                for (var i = 0; i < data.channel_ids.length; i++) {
                                    $('#status_' + data.channel_ids[i]).html(source[val])
                                }
                                $().toastmessage('showSuccessToast', '操作成功');
                            } else {
                                $().toastmessage('showErrorToast', '操作失败');
                            }
                            var state_boxes = $('.box-state-tag').add($('#state-all-pick'));
                            state_boxes.prop('checked', false);
                        }
                    })
                }
            });


            var type_sel = $("#type");
            $("#myselect").change(function () {
                var channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'iphone_sub_channels' %}" + "?select_channel=" + channel_id;
            });

            $("#is_choiceness").change(function () {
                var is_choice = $(this).val();
                if (is_choice == '1') {
                    type_sel.attr('disabled', 'disabled').children("option[value='1']").attr("selected", "selected");
                    type_sel.trigger('change');
                } else {
                    type_sel.removeAttr('disabled');
                    type_sel.trigger('change');
                }

                //以下为限制每个频道只允许创建一个精选子频道
                var is_selected = $("#is_choiceness").val()
                var current_channel_id = $("#this_channel_id").val()
                if(is_selected == '1'){
                    $.ajax({
                        url:"/content/check_if_has_selected_subchannel",
                        type:'post',
                        dataType: 'json',
                        data:{
                            current_channel_id:current_channel_id,
                            platform: 'iphone'
                        },
                        success:function(data){
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            if(data.status == 'discontinue'){
                                $().toastmessage('showErrorToast', data.desc);
                                $("#is_choiceness").val("0");
                                $("#is_choiceness").trigger('change');
                            }

                        },
                        error:function(data){

                        }
                    })
                }
            });
            adjust_filter_info = function () {
                var type_value = $("#type").children('option:selected').val();
                var img_sel = $("#img-type");
                var video_num = $('#video-num')
                var condition = $("#condition");
                if (type_value == 2) {
                    img_sel.show();
                    video_num.show()
                    condition.hide();
                } else if (type_value == 3) {
                    condition.show();
                    video_num.hide();
                    img_sel.hide();
                } else {
                    img_sel.hide();
                    video_num.hide()
                    condition.hide();
                }
                if ($('input[type=radio]:checked').val() === '1') {
                    $('#filter_list_items').hide()
                } else {
                    $('#filter_list_items').show()
                }

            }
            adjust_filter_info()
            type_sel.change(function () {
                adjust_filter_info()
            });
            $('input[type=radio]').click(function () {
                if ($(this).val() === '1') {
                    $('#filter_list_items').hide()
                } else {
                    $('#filter_list_items').show()
                }
            })

        });

        function collect_change_channel_ids() {
            var channel_id_array = [];
            var channel_ids;
            $("input:checkbox:checked.box-state-tag").each(function () {
                channel_id_array.push($(this).parent().parent().attr('value'))
            });
            channel_ids = channel_id_array.join(",");
            return channel_ids;
        }

        function collect_change_channel_titles() {
            var channel_title_array = [];
            var channel_titles = [];
            $("input:checkbox:checked.box-state-tag").each(function () {
                channel_title_array.push($(this).parent().next().next().text())
            });
            channel_titles = channel_title_array.join(", ");
            return channel_titles
        }

        $(function () {
            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.box-state-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.box-state-tag").attr("checked", false)
                }
            });

            //发布视频
            $('#publish').click(function () {
                var channel_ids = "";
                channel_ids = collect_change_channel_ids();
                if (channel_ids.length > 0) {
                    if ($('#publish').attr('disabled') == 'disabled') {
                        return 0;
                    }
                    $.ajax({
                        url: '/content/iphone/subchannel/publish',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            subchannel_ids: channel_ids
                        },
                        beforeSend: function () {
                            $('#publish').attr('disabled', true);
                            var myDate = new Date();
                            var dateString = myDate.getFullYear() + '年' + myDate.getMonth() + '月' + myDate.getDate() + '日 星期' + myDate.getDay() + ' ' + myDate.toLocaleTimeString() + '\n';
                            var boxString = '目标平台: iPhone ' + ' 子频道: ' + collect_change_channel_titles() + '\n';
                            var sta = confirm(dateString + boxString + "是否确认上线?");
                            if (!sta) {
                                $('#publish').removeAttr('disabled');
                                return false;
                            }
                        },
                        success: function (data) {
                            $('#publish').removeAttr('disabled');
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            if (data.status == 'success') {
                                $().toastmessage('showToast', {text: '发布成功!', type: 'success', sticky: true});
                            }
                            else if (data.status == 'error') {
                                $().toastmessage('showToast', {text: "\"" + data.box_title + "\"" + "---" + data.desc, type: 'error', sticky: true});
                            }

                        },
                        complete: function () {
                            //
                        },
                        error: function (data) {
                            console.info("error: " + data.responseText);
                        }

                    })
                }
                else {
                    alert("请先选择需要发布的抽屉");
                }
            });


        })
    </script>
    {% include "subchannel/subchannel_validate.html" %}
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

{% endblock %}