<script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
<script type="text/javascript">
    $(function () {
        var validate_rules;
        var validate_form = function (form_selector, options) {
            var default_options = {
                errorPlacement: function (error, element) {
                    if (element.is(":checkbox")) {
                        return error.appendTo(element.next());
                    } else {
                        element.addClass('error');
                        error.css({"padding-left": "0", "color": "red"});
                        return error.appendTo(element.parent());
                    }
                },
                submitHandler: function (form) {
                    return form.submit();
                },
                success: function (label) {
                    return label.html("&nbsp;").addClass("checked");
                },
                highlight: function (element, errorClass) {
                    return $(element).parent().find("." + errorClass).removeClass("checked");
                }
            };
            options = $.extend(default_options, options);
            return $(form_selector).validate(options);
        };
        validate_rules = {
            'title': {
                'required': true
            }
        };
        validate_form('form#create_sub', {
                    rules: validate_rules
                }
        );
    });
</script>