{% extends "base.html" %}
{% load util_tags %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">

        {% include "common_module/sort_img.css" %}

        .input-prepend {
            margin: 10px 5px;
        }

        .table td .thumbnail {
            max-height: 300px;
            max-width: 250px;
        }

        .table td img {
            cursor: pointer;
        }

        #lack-mes {
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li>背景图管理<span class="divider">/</span></li>
            <li style="font-weight: normal;color: #555;">启动图管理</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="row-fluid ">

        <div class="row-fluid input-prepend">
            <span class="add-on">终端类型</span>
            <select id="terminal_type">
                {% for k, v in terminal_tuple %}
                    <option value="{{ k }}" {% if terminal_type == k %}selected="selected"{% endif %}>{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pull-right ">

            <a href="{% url 'add_client_start_page' %}?terminal_type={{ terminal_type }}" role="button" class="btn"
               data-toggle="modal"><i class="icon-plus"></i>新增</a>
        </div>
    </div>

    {% if start_image_objs %}
        <table class="table table-striped table-hover">
            <thead>
            <th>图片</th>
            <th>图片URL</th>
            <th>生效时间</th>
            <th>过期时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
            <tbody>
            {% for obj in start_image_objs %}
                <tr>
                    <td><img class="thumbnail"
                             src="{% if obj.image %}{{ obj.image }}{% else %}{{ obj.image_4s }}{% endif %}"
                             title="点击查看原图">
                    </td>
                    <td>{% if obj.image %}{{ obj.image }}{% else %}{{ obj.image_4s }}{% endif %}</td>
                    <td>{{ obj.effect_at }}</td>
                    <td>{{ obj.expired_at }}</td>
                    <td class="out_pick">
                        <a class="select_pick" href="#" id="state" data-type="select" data-name="state"
                           data-pk="{{ obj.id }}"
                           data-url="{% url 'update_client_start_page_state' obj.id %}" data-title="状态管理"
                           data-value={{ obj.state }}></a>
                    </td>
                    <td colspan="2">
                        <a class="btn-small btn btn-table"
                           href="{% url "query_client_start_page" obj.id %}?terminal_type={{ terminal_type }}"><i
                                class="icon-edit"></i>修改</a>
                        <a class='btn-small btn btn-danger del btn-table'
                           href="{% url "delete_client_start_page" obj.id %}?terminal_type={{ terminal_type }}"><i
                                class="icon-trash"></i>删除</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

        <div id="lack-mes">
            <div class="alert alert-info">
                <i class="icon-info-sign"></i>没有启动图!
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript">

        {% include "common_module/sort_edit_del.js" %}

        {% include "common_module/state_switch_basic.js" %}

        $(document).ready(function () {
            $("#terminal_type").change(function () {
                var terminal_type = $(this).children('option:selected').val();
                window.location.href = "{% url 'client_start_pages' %}" + "?terminal_type=" + terminal_type;
            });

            $(".thumbnail").bind('click', function () {
                window.open($(this).attr('src'));
            })

        });


    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

{% endblock %}