{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-timepicker/css/jquery-ui-timepicker-addon.css">
    <style type="text/css">
        form {
            display: inline-block;
        }

        .controls .alert-success {
{#            display: none;#}

        }

        .img-polaroid {
            max-width: 150px;
            max-height: 120px;
        }

        .btn-wrap {
            margin-top: 30px;
        }

        #create_start_image {
            margin: 50px 0 0 200px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <h4>修改{{ terminal_type_str }}启动图</h4>

            <form role="form" id="create_start_image" method="post" action="{% url "update_client_start_page" obj.id %}">
                <input type="hidden" name="terminal_type" value="{{ terminal_type }}">
                {% if terminal_type != 3 %}
                    <div class="control-group">
                        <label for="img-grid-1-input" class="control-label imgDesc">
                            启动图
                        </label>

                        <div class="controls">
                <span id="img-grid-1-button" class="btn btn-success fileinput-button   "
                      {% if obj.image %}style="display:none;"{% endif %}>
                     <span>+ 上传截图...</span>
                     <input id="img-grid-1-upload" type="file" name="files[]" multiple>
                </span>

                            <div id="img-grid-1-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not obj.image %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='img-grid-1-content' src="{% if obj.image %}{{ obj.image }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="img-grid-1-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='img-grid-1-input' name='image'
                                   value="{% if obj.image %}{{ obj.image }}{% endif %}" height="100" width="100"/>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label for="normal-input" class="control-label imgDesc">4s启动图</label>

                        <div class="controls">

                <span id="normal-button" class="btn btn-success fileinput-button  btn-large"
                      {% if obj.image_4s %}style="display:none;"{% endif %}>
                     <span>+ 上传截图...</span>
                     <input id="normal-upload" type="file" name="files[]" multiple>
                </span>

                            <div id="normal-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not obj.image_4s %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='normal-content' src="{% if obj.image_4s %}{{ obj.image_4s }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="normal-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='normal-input' name='image_4s'
                                   value="{% if obj.image_4s %}{{ obj.image_4s }}{% endif %}" height="100"
                                   width="100"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selected-input" class="control-label imgDesc">5s启动图</label>

                        <div class="controls">

                <span id="normal-selected-button" class="btn btn-success fileinput-button  btn-large"
                      {% if obj.image_5s %}style="display:none;"{% endif %}>
                     <span>+ 上传截图...</span>
                     <input id="normal-selected-upload" type="file" name="files[]" multiple>
                </span>

                            <div id="normal-selected-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not obj.image_5s %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='normal-selected-content'
                                     src="{% if obj.image_5s %}{{ obj.image_5s }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="normal-selected-progress"
                                 class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='normal-selected-input' name='image_5s'
                                   value="{% if obj.image_5s %}{{ obj.image_5s }}{% endif %}"
                                   height="100" width="100"/>
                        </div>
                    </div>
                    <div class="control-group ordinary">
                        <label for="small-input" class="control-label imgDesc">6启动图</label>

                        <div class="controls">

                <span id="small-button" class="btn btn-success fileinput-button  btn-large "
                      {% if obj.image_6 %}style="display:none;"{% endif %}>
                     <span>+ 上传截图...</span>
                     <input id="small-upload" type="file" name="files[]" multiple>
                </span>

                            <div id="small-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not obj.image_6 %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='small-content'
                                     src="{% if obj.image_6 %}{{ obj.image_6 }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="small-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='small-input' name='image_6'
                                   value="{% if obj.image_6 %}{{ obj.image_6 }}{% endif %}" height="100"
                                   width="100"/>
                        </div>
                    </div>
                    <div class="control-group ordinary">
                        <label for="selected-input" class="control-label imgDesc">6plus启动图</label>

                        <div class="controls">

                <span id="small-selected-button" class="btn btn-success fileinput-button  btn-large "
                      {% if obj.image_6plus %}style="display:none;"{% endif %}>
                     <span>+ 上传截图...</span>
                     <input id="small-selected-upload" type="file" name="files[]" multiple>
                </span>

                            <div id="small-selected-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not obj.image_6plus %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='small-selected-content'
                                     src="{% if obj.image_6plus %}{{ obj.image_6plus }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="small-selected-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='small-selected-input' name='image_6plus'
                                   value="{% if obj.image_6plus %}{{ obj.image_6plus }}{% endif %}"
                                   height="100" width="100"/>
                        </div>
                    </div>


                {% endif %}
                <div class="form-group form_datetime">
                    <label for="effect_at">生效时间</label>
                    <input name="effect_at" size="16" type="text" value="{{ obj.effect_at }}" readonly>
                </div>
                <div class="form-group form_datetime">
                    <label for="expired_atd">过期时间</label>
                    <input name="expired_at" size="16" type="text" value="{{ obj.expired_at }}" readonly>
                </div>

                <div class="btn-wrap">
                    <button type="submit" class="btn btn-default"><i class="icon-ok"></i>确定</button>
                    <a class="btn btn-default" href="{% url 'client_start_pages' %}?terminal_type={{ terminal_type }}"><i
                            class="icon-arrow-left"></i>返回</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-timepicker/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-timepicker/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript">
        {% include "background_img/validate.js" %}
        {% include "common_module/image_upload.js" %}
        {% include "background_img/add_img_desc.js" %}

        $(document).ready(function () {
            $('.form_datetime input').datetimepicker({
                minDate: new Date()
            });
            var img_upload_arr = ['normal', 'img-grid-1', 'normal-selected', 'small', 'small-selected'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

        });


    </script>
{% endblock %}