{% extends "base.html" %}
{% load util_tags %}

{% block link %}

    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">
        div.nav-group {
            position: relative;
        }

        div.tool-box {
            position: absolute;
            right: 0;
            top: 0;
        }

        a.btn-table {
            padding: 2px 5px;
        }

        div.pull-right a.btn {
            margin-left: 5px;
            margin-bottom: 10px;
        }

        div.navigation-div [class^="icon-"] {
            display: inline-block;
            margin: 0 5px 0 5px;
            width: 14px;
        }

        #preview {
            min-width: 800px;
        {#            height: 600px;#} {#            overflow-y: scroll;#}
        }

        #previewPage {
            width: 650px;
            height: 530px;
            border: 2px solid #ccc;
            border-radius: 4px;
            margin: 0 auto;
            overflow-y: auto;
            background-color: #f5f5f5;
        }

        #preview-content {
        {#           overflow-y: scroll;#} {#            border: 2px solid #ccc;#} {#            border-radius: 10px;#} height: 900px;
        {#           padding-right: 2px;#} width: auto;
            margin: 0 auto;
        {#            background-color: #f5f5f5;#}
        }

        .candidate {
            margin: 10px auto;
            width: 492px;
        }

        .ordinary, .v-meta {
            display: inline-block;
        {#            color: #fff;#}
        }

        .v-meta {
            background-color: #fff;
            width: 224px;
            height: 54px;
        }

        .v-meta-title {
            padding-top: 8px;
            margin: 0 5px;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 13px;
            line-height: 18px;
            height: 18px;
            overflow: hidden;
        }

        .v-meta-entry {
            font-size: 12px;
            color: #909090;
            margin: 0 5px;
        }

        .ordinary {
            margin: 15px 10px;
            height: 180px;
        {#            -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#} {#            -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#} {#            box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#}
        }

        .episode {
            width: 224px;
            height: 126px;
        }

        .slider-img {
            width: 470px;
            height: 265px;

        }

        .candidate-head {
            margin-left: 12px;
            font-size: 18px;
        }

        .slider {
            width: 470px;
            height: auto;
            margin: 20px auto 10px;
        }

        .carousel-inner > .item {
            width: 470px;
        }

        .carousel-indicators {
            position: absolute;
            left: 40%;
            top: 240px;
            width: 75px;
            height: 15px;
        }

        .carousel-meta {
            height: 60px;
            width: 100%;
            background-color: #fff;
        {#            font-size: 0;#}
        }

        #myCarousel {
            position: relative;

        }

        .carousel-indicators > li {
            cursor: pointer;
        }

        .dir-control {
            height: 100%;
            width: 30px;
            display: inline-block;
        }
        .dir-control > a:hover {
            color: #333;
        }

        .dir-control > a {
            text-decoration: none;
            color: #ccc;
            display: inline-block;
            padding: 15px 0;
            width: 100%;
        }

        .dir-left > a > i {
            padding-left: 8px;
        }

        .dir-right > a > i {
            display: block;
            text-align: right;
            margin-right: 8px;
        }

        .carousel-title {
            display: inline-block;
            width: 410px;
            vertical-align: top;
            padding-top: 8px;
{#            margin-left: 10px;#}
{#            margin-right: 10px;#}
        }
        .carousel-meta-title {
            padding: 8px 10px 0;
            margin: 0 5px;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 16px;
            line-height: 18px;
            height: 18px;
            overflow: hidden;
        }
        .carousel-meta-entry {
            padding: 5px 10px 0;
            font-size: 13px;
            color: #909090;
            margin: 0 5px;
        }

    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li><a style="text-decoration: none;">内容管理</a><span class="divider">/</span></li>
            <li class="active">抽屉列表</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="nav-group">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/content/android/main_page/uniq_modules">Android</a>
                </li>
                <li>
                    <a href="/content/android/main_page/preview">预览</a>
                </li>
                <li class="active">
                    <a href="/content/android/main_page/preview_example">示例效果</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="preview">
        <div id="previewPage">
            <div id="preview-content">
                <div class="slider">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="active item">
                                <img class="slider-img" src="http://r1.ykimg.com/0510000054C829306714C048C601E35D"
                                     alt="">
                            </div>
                            <div class="item">
                                <img class="slider-img" src="http://r2.ykimg.com/0510000054C617356714C0340C0B0C1F"
                                     alt="">
                            </div>

                        </div>
                        <div class="carousel-meta">
                            <div class="dir-control dir-left">
                                <a href="#myCarousel" data-slide="prev"><i class="icon-angle-left icon-2x"></i></a>
                            </div><!-- this annotation exists for removing the space between elements with inline-block type, do not del it

                            --><div class="carousel-title">
                               <div class="carousel-meta-title">
                                   这是标题君
                               </div>
                               <div class="carousel-meta-entry">
                                   播放: 10000万
                               </div>

                            </div><!--

                            --><div class="dir-control dir-right">
                                <a href="#myCarousel" data-slide="next"><i class="icon-angle-right icon-2x"></i></a>
                            </div>
                        </div>
                        {#                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>#}
                        {#                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>#}
                    </div>


                </div>
                <div class="candidate">
                    <div class="candidate-head">
                        <img src="http://r2.ykimg.com/0510000054BC8CF16714C07FF5078C57"
                             style="vertical-align: text-bottom;">
                        电视剧
                    </div>
                    <div class="candidate-body">
                        <div class="ordinary">
                            <div class="thumbnails">
                                <img class="episode" src="http://r1.ykimg.com/0510000054D192CC6714C011350B8D2F">
                            </div>
                            <div class="v-meta">
                                <div class="v-meta-title">
                                    还要不要脸了，啊，还要不要 啦啦啦啦啦
                                </div>
                                <div class="v-meta-entry">
                                    播放: 18万
                                </div>
                            </div>


                        </div>
                        <div class="ordinary">
                            <div class="thumbnails">
                                <img class="episode" src="http://r2.ykimg.com/0510000054D2F2716714C05F780C7E4F">
                            </div>
                            <div class="v-meta">
                                <div class="v-meta-title">
                                    还要不要脸了，啊，还要不要
                                </div>
                                <div class="v-meta-entry">
                                    播放: 18万
                                </div>
                            </div>


                        </div>
                        <div class="ordinary">
                            <div class="thumbnails">
                                <img class="episode" src="http://r4.ykimg.com/0510000054C7021B6714C00830051269">
                            </div>
                            <div class="v-meta">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="candidate">
                    <div class="candidate-head">
                        <img src="http://r2.ykimg.com/0510000054BC8CF16714C07FF5078C57"
                             style="vertical-align: text-bottom;">
                        动漫
                    </div>
                    <div class="candidate-body">
                        <div class="ordinary">
                            <div class="thumbnails">
                                <img class="episode" src="http://r1.ykimg.com/0510000054CBB3086714C07D8D02C271">
                            </div>
                            <div class="v-meta">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}