<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">同步信息</h3>
    </div>

    <div class="modal-body main_page">
        <input type="hidden" id="current_box_input" value="{{ current_box_id }}">
        {% if not override_boxes %}
            <div class="alert alert-error">
                <strong>⚠ 没有平台抽屉与此公用抽屉关联,请先去相应分平台建立关联</strong>
            </div>
        {% else %}
            <div style="width: 90%;margin: auto">
                <table class="table-hover table-striped table" style="width: 100%;border-width: 0px;">
                    <thead>
                    <th>目标平台</th>
                    <th>目标抽屉</th>
                    </thead>
                    <tbody>
                    {% for override_box in override_boxes %}
                        <tr>
                            <td style="border-width: 0px">{{ override_box.platform_to_s }}</td>
                            <td style="border-width: 0px">{{ override_box.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert alert-info" role="alert">
                    <a href="#" class="alert-link">有<span id="sync_video_num"
                                                          style="font-size: 18px;margin-left: 2px;color: p"></span>个视频同步到各抽屉</a>
                </div>
            </div>
        {% endif %}
        {% if override_boxes %}
            <a href="#" class="btn btn-danger" id="sync_to_platforms">开始同步</a>
        {% endif %}
        <button class="btn" id="close-modal-btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>

    <div class="modal-footer">

    </div>

</div>


<script type="text/javascript">
    $("#select_all_platforms").click(function () {

        if ($(this).is(":checked")) {
            $("input:checkbox.platform_checkbox").prop("checked", true);

        } else {
            $("input:checkbox.platform_checkbox").prop("checked", false);

        }
    });

    function collect_selected_checkbox_value() {
        var video_ids_array = []
        $("input:checkbox:checked.video-status-tag").each(function () {
            video_ids_array.push($(this).prop("value"));
        });
        return video_ids_array;
    }
    ;

    $('#sync_button').click(function () {
        var video_ids_array = collect_selected_checkbox_value();
        $('#sync_video_num').html(video_ids_array.length)
    })

    $("#sync_to_platforms").click(function () {
        var video_ids_array = collect_selected_checkbox_value();
        var video_ids = video_ids_array.join(',')
        var current_box_id = $("#current_box_input").prop("value")
        if (video_ids_array.length > 0) {
            $.ajax({
                url: "/content/common_content/box_videos/sync",
                type: "POST",
                dataType: "json",
                data: {
                    video_ids: video_ids,
                    current_box_id: current_box_id
                },
                beforeSend: function () {
                    $("loading").show();
                },
                success: function (data) {
                    $().toastmessage({
                        position: 'middle-center'
                    });
                    if (data.status == 'success') {
                        $().toastmessage('showSuccessToast', '操作成功');
                        $('#close-modal-btn').trigger('click');
                    }
                    else {
                        $().toastmessage('showErrorToast', '同步失败');
                    }

                },
                complete: function () {
                    $("loading").hide();
                },
                error: function (data) {
                    console.info("error: " + data.responseText);
                }

            })

        } else {
            $().toastmessage({
                position: 'middle-center'
            });

            $().toastmessage('showErrorToast', '同步失败,请先选择需要同步的视频.');
        }

    })


</script>

