{% extends "base.html" %}



{% block link %}
<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
<div class="container">
        <div class="row-fluid">

        <h3>更新视频(游戏详情)</h3>
        <form method="post">
            <input type="hidden" name="box_id" value="{{ box_id }}">
            <input type="hidden" name="video_type" value="{{ video_type }}">
            <input type="hidden" name="id" value="{{ item_id }}">
            <!-- <textarea for="url_filed" name="url" cols="3" rows="6"></textarea> -->
                <table>
                <tr>
                    <td>游戏ID:</td>
                    <td><input type="text" id="game_id" name="game_id" value="{{ game.original_game_id }}"></td>
                    <td><a id="get_game_info" class="btn btn-primary" onclick="get_game_info()" href="#" name="get_game_info" >获取游戏信息</a></td>
                </tr>
                <tr>
                    <td>游戏名称:</td>
                    <td><input type="text" id="game_name" name="game_name" value="{{ game.appname }}"></td>
                </tr>
                <tr>
                    <td>版本:</td>
                    <td><input type="text" id="game_version" name="game_version" value="{{ game.version }}"></td>
                </tr>
                <tr>
                    <td>itunes id:</td>
                    <td><input type="text" id="itunes_id" name="itunes_id" value="{{ game.itunesid }}"></td>
                </tr>
                <tr>
                    <td>logo:</td>
                    <td><input type="text" id="logo" name="logo" value="{{ game.logo }}"></td>
                </tr>
                <tr>
                    <td>滚动图:</td>
                    <td><input type="text" id="scroll" name="scroll" value="{{ game.scroller }}"></td>
                </tr>
                <tr>
                    <td>评分（score）:</td>
                    <td><input type="text" id="score" name="score" value="{{ game.score }}"></td>
                </tr>
                <tr>
                    <td>URL:</td>
                    <td><input type="text" id="url" name="url" value="{{ game.url }}"></td>
                </tr>
                <tr>
                    <td>categories:</td>
                    <td><input type="text" id="categories" name="categories" value="{{ game.categories }}"></td>
                </tr>
                <tr>
                    <td>描述:</td>
                    <td><input type="text" id="desc" name="desc" value="{{ game.desc }}"></td>
                </tr>
                <tr>
                    <td>上架时间:</td>
                    <td><input type="text" id="upload_time" name="upload_time" value="{{ game.upload_time }}"></td>
                </tr>
                <tr>
                    <td>大小:</td>
                    <td><input type="text" id="size" name="size" value="{{ game.size }}"></td>
                </tr>
                <tr>
                    <td>收费类型:</td>
                    <td><input type="text" id="charge_type" name="charge_type" value="{{ game.charge }}"></td>
                </tr>
                <tr>
                    <td>跳转类型:</td>
                    <td><input type="text" id="redirect_type" name="redirect_type" value="{{ game.redirect_type }}"></td>
                </tr>
                <tr>
                    <td>推荐类型:</td>
                    <td><input type="text" id="recommend_type" name="recommend_type" value="{{ game.recommend_type }}"></td>
                </tr>
                <tr>
                    <td>外链URL:</td>
                    <td><input type="text" id="redirect_url" name="redirect_url" value="{{ game.redirect_url }}"></td>
                </tr>


            </table>

            <div id="footer">
                <button type="submit" class="btn btn-danger">提交</button>
                <a class="btn btn-primary" href="'/ipad/update/subchannel/module/item$">返回</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}




{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        function get_game_info(){
                var game_id = $("#game_id").val();
                $.get('/content/get_game_info', {game_id: game_id, product: 'iPad'},
                        function(response, status, xhr){
                            if (status == 'success') {
                                $("#game_name").val(response["appname"]);
                                $("#game_version").val(response["version"]);
                                $("#itunes_id").val(response["itunesid"]);
                                $("#logo").val(response["logo"]);
                                $("#scroll").val(response["scroller"]);
                                $("#score").val(response["score"]);
                                $("#url").val(response["url"]);
                                $("#desc").val(response["desc"]);
                                $("#upload_time").val(response["upload_time"]);
                                $("#size").val(response["size"]);
                                $("#charge_type").val(response["charge"]);
                                $("#redirect_type").val(response["redirect_type"]);
                                $("#recommend_type").val(response["recommend_type"]);
                                $("#redirect_url").val(response["redirect_url"]);
                                $("#categories").val(response["categories"]);
                            }
                        }, dataType="json"
                );
                event.preventDefault();
            }
    </script>

{% endblock %}