<div id="PublishModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">发布信息</h3>
            </div>

            <div class="modal-body main_page">
                <div class="alert alert-error" id="modal-error-area" style="display: none">
                    <strong>⚠ 发布失败，请先选择发布的频道。</strong>
                </div>
                <div style="width: 90%;margin: auto;min-height: 150px" id="modal-info-area">
                    <table class="table-hover table-striped table" style="width: 100%;border-width: 0px;">
                        <thead>
                        <th>平台</th>
                        <th>频道</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border-width: 0px">android</td>
                                <td style="border-width: 0px">123</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-danger" id="sync-publish">开始发布</a>
                <button class="btn" id="close-modal-btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
</div>