<!-- Modal -->
{% load util_tags %}
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">创建Android频道</h3>
    </div>

    <div class="modal-body">
        <form role="form" id="create_cha" method="post" action="{% url "android_add_new_channel" %}">
            <table class="table table-bordered table-striped">
            <td for="cid"><label><span style="color: orangered">*</span>关联自有/主站频道</label></td>
                <td>
                    <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=1>&nbsp;主站Cid&nbsp;
                    <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=0>&nbsp;自有Cid&nbsp;
                    <select class="form-control" id="cid" name="cid">
                        <option value="0"></option>
                     </select>
                </td>
            </tr>
                <tr>
                    <td><label><span style="color: orangered">*</span>频道名称</label></td>
                    <td><input type="text" class="form-control" id="title" name="title" placeholder=""></td>
                </tr>
                <tr>
                    <td><label>分类</label></td>
                    <td>
                        <input readonly="true" value='{{ content_type_hash|dict_get:content_type }}'>
                        <input type="hidden" value="{{content_type}}" name="content_type">
                    </td>
                </tr>
                <tr>
                    <td><label>频道类型</label></td>
                    <td>
                        <select name="show_type">
                            <option value="1">普通频道</option>
                            <option value="2">视频推广</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="normal-input" class="control-label"><span style="color: orangered">*</span>背景图(尺寸 248 x 248)</label></td>
                    <td>
                        <div class="controls">
                            <span id="normal-button" class="btn btn-success fileinput-button ">
                                 <span>+ 上传截图...</span>
                                 <input id="normal-upload" type="file" name="files[]" multiple>
                            </span>
                            <div id="normal-success" class="alert alert-success">
                                <button type="button" class="close">&times;</button>
                                <img id='normal-content' src="" class="img-polaroid">
                            </div>
                            <div id="normal-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='normal-input' name='icon_bg' value="" height="100" width="100"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="small-input" class="control-label"><span style="color: orangered">*</span>图标(尺寸112×108)</label>
                    </td>
                    <td>
                        <div class="controls">
                            <span id="small-button" class="btn btn-success fileinput-button ">
                                 <span>+ 上传截图...</span>
                                 <input id="small-upload" type="file" name="files[]" multiple>
                            </span>
                            <div id="small-success" class="alert alert-success">
                                <button type="button" class="close">&times;</button>
                                <img id='small-content' src="" class="img-polaroid">
                            </div>
                            <div id="small-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='small-input' name='icon' value="" height="100" width="100"/>
                        </div>
                    </td>
                </tr>
            </table>



{#            <div class="form-group">#}
{#                <label for="color">色值</label>#}
{#                {% for single_color in color_board %}#}
{#                    <label for="color_{{ forloop.counter }}"></label>#}
{#                    {% ifequal forloop.counter0 0 %}#}
{#                        <input type="radio"  id="color_{{ forloop.counter }}" name="color" value="{{ single_color }}" style="vertical-align: top;margin-left: 50px;" checked="checked">#}
{#                    {% else %}#}
{#                        <input type="radio"  id="color_{{ forloop.counter }}" name="color" value="{{ single_color }}" style="vertical-align: top;margin-left: 50px;">#}
{#                    {% endifequal %}#}
{#                    <span style="background-color:{{ single_color }};display:inline-block;width: 100px;">&nbsp;&nbsp;</span>#}
{#                    <br>#}
{#                {% endfor %}#}
{#            </div>#}
            <button type="submit" class="btn btn-success">创建</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </form>
    </div>

    <div class="modal-footer">

    </div>

</div>