<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">创建iPad频道</h3>
</div>

<div class="modal-body">
    <form role="form" id="create_cha" method="post" action="{% url "ipad_add_new_channel" %}">
        <table class="table table-bordered table-striped">
        <tr>
            <td for="cid"><label><span style="color: orangered">*</span>关联自有/主站频道</label></td>
                <td>
                    <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=1>&nbsp;主站Cid&nbsp;
                    <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=0>&nbsp;自有Cid&nbsp;
                    <select class="form-control" id="cid" name="cid">
                        <option value="0"></option>
                     </select>
                </td>
        </tr>
        <tr>
            <td><label for="title"><span style="color: orangered">*</span>频道名称</label></td>
            <td><input type="text" class="form-control" id="title" name="title" placeholder=""></td>
        </tr>
        <tr>
            <td><label for="channel_type">营销频道类型</label></td>
            <td><input type="radio" value=0 checked='checked' id="for_sale" name="for_sale" style="margin-bottom: 5px">&nbsp;非营销频道
            <input type="radio" value=1 id="for_sale" name="for_sale" style="margin-bottom: 5px">&nbsp;营销频道&nbsp;</td>
        </tr>
        <tr>
            <td><label for="normal-input" class="control-label">正常图标(大)(60x60)</label></td>
            <td><div class="controls">
                <span id="normal-button" class="btn btn-success fileinput-button   ">
                     <span>+ 上传截图...</span>
                     <input id="normal-upload" type="file" name="files[]" multiple>
                </span>
                <div id="normal-success" class="alert alert-success">
                    <button type="button" class="close">&times;</button>
                    <img id='normal-content' src="" class="img-polaroid">
                </div>
                <div id="normal-progress" class="progress progress-success progress-striped  active"
                     style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' id='normal-input' name='icon_big' value="" height="100" width="100"/>
            </div>
            </td>
        </tr>
        <tr>
            <td><label for="normal-selected-input" class="control-label">选中图标(大)(60x60)</label></td>
            <td><div class="controls">
                <span id="normal-selected-button" class="btn btn-success fileinput-button   ">
                     <span>+ 上传截图...</span>
                     <input id="normal-selected-upload" type="file" name="files[]" multiple>
                </span>
                <div id="normal-selected-success" class="alert alert-success">
                    <button type="button" class="close">&times;</button>
                    <img id='normal-selected-content' src="" class="img-polaroid">
                </div>
                <div id="normal-selected-progress" class="progress progress-success progress-striped  active"
                     style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' id='normal-selected-input' name='icon_big_selected' value="" height="100"
                       width="100"/>
            </div>
            </td>
        </tr>
        <tr class="ordinary">
            <td><label for="small-input" class="control-label">正常图标(小)(30x30)</label></td>
            <td><div class="controls">
                <span id="small-button" class="btn btn-success fileinput-button   ">
                     <span>+ 上传截图...</span>
                     <input id="small-upload" type="file" name="files[]" multiple>
                </span>
                <div id="small-success" class="alert alert-success">
                    <button type="button" class="close">&times;</button>
                    <img id='small-content' src="" class="img-polaroid">
                </div>
                <div id="small-progress" class="progress progress-success progress-striped  active"
                     style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' id='small-input' name='icon_small' value="" height="100" width="100"/>
            </div>
            </td>
        </tr>
        <tr class="ordinary">
            <td><label for="small-selected-input" class="control-label">选中图标(小)(30x30)</label></td>
            <td><div class="controls">
                <span id="small-selected-button" class="btn btn-success fileinput-button   ">
                     <span>+ 上传截图...</span>
                     <input id="small-selected-upload" type="file" name="files[]" multiple>
                </span>
                <div id="small-selected-success" class="alert alert-success">
                    <button type="button" class="close">&times;</button>
                    <img id='small-selected-content' src="" class="img-polaroid">
                </div>
                <div id="small-selected-progress" class="progress progress-success progress-striped  active"
                     style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' id='small-selected-input' name='icon_small_selected' value="" height="100"
                       width="100"/>
            </div>
            </td>
        </tr>
        <tr class="sales" style="display:none;">
            <td><label for="image">营销图片类型</label></td>
            <td><select class="form-control" id="image_sale" name="image_type_sale">
                <option value="0">横图</option>
                <option value="1">竖图</option>
            </select>
            </td>
        </tr>
    </table>
        <button type="submit" class="btn btn-success">创建</button>
        <a class="btn btn-default" href="{% url 'ipad_new_channels' %}">返回</a>
    </form>
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
</div>

</div>