<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">创建Cid</h3>
</div>

<div class="modal-body">
    <form role="form" id="add_cid" method="post" action="{% url "cid_add" %}" onsubmit="return checkSubmit()">
        <div class="form-group">
            <label for="cid">Cid</label>
            <input type="text" class="form-control" id="cid" name="cid" placeholder="">
        </div>
        <div class="form-group">
            <label for="title">名称</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="is_youku_channel">自有/主站</label>
            <input type="radio" name="is_youku_channel" id="is_youku_channel" value="1">主站
            <input type="radio" name="is_youku_channel" id="is_youku_channel" value="0">自有
        </div>
        <button type="submit" class="btn btn-success">创建</button>
        <a class="btn btn-default" href="{% url 'cids' %}">返回</a>
    </form>
</div>