{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}

    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        {% if navigation_list %}
            <ul class="breadcrumb">
            {% for idx,val in navigation_list %}
                {% if forloop.last %}
                    <li class="active">{{ val }}</li>
                {% else %}
                    <li><a style="text-decoration: none;">{{ val }}</a><span class="divider">/</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
    <h4>
        Cid修改
    </h4>
    <form id="add_cid" action="{% url 'cid_edit' %}" method="post" onsubmit="return checkSubmit()">
        <input name="id" type="hidden" value="{{ cid.id }}">
        <table class="table table-striped">
            <tr>
                <td>Cid</td>
                <td>{{ cid.cid }}</td>
            </tr>
            <tr>
                <td>名称</td>
                <td><input name="title" type="text" value="{{ cid.title }}"></td>
            </tr>
            <tr>
                <td>自有/主站</td>
                <td>
                    <input name="is_youku_channel" value="1" type="radio" {% if cid.is_youku_channel %}checked="checked" {% endif %}>主站
                    <input name="is_youku_channel" value="0" type="radio" {% if not cid.is_youku_channel %}checked="checked" {% endif %}>自有
                </td>
            </tr>
        </table>
        <a href="{% url 'cids' %}" class="btn">返回</a>
        <button type="submit" class="btn">修改</button>
    </form>
    </div>
{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script type="text/javascript">
        function checkSubmit(){
            if($('#title').val() == ''){
                alert("名称不能为空");
                return false;
            }
        }
    </script>

{% endblock %}