{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}

    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        {% if navigation_list %}
            <ul class="breadcrumb">
            {% for idx,val in navigation_list %}
                {% if forloop.last %}
                    <li class="active">{{ val }}</li>
                {% else %}
                    <li><a style="text-decoration: none;">{{ val }}</a><span class="divider">/</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="row-fluid">
            <h4>Cid管理</h4>
        </div>
        <div class="row-fluid span12">
            <a class="span10"></a>
            <a href="#myModal" role="button" class="btn" data-toggle="modal">创建Cid</a>
        </div>
        <div class="row-fluid">
            {% include  'cid/_cid_add.html' %}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Cid</th>
            <th>名称</th>
            <th>自有/主站</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in cids %}
            <tr>
                <td>{{ i.cid }}</td>
                <td>{{ i.title }}</td>
                <td>{% if i.is_youku_channel %} 主站Cid {% else %} 自有Cid {% endif %}</td>
                <td>
                    <a href="{% url 'cid_edit' %}?id={{ i.id }}" class="btn">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script type="text/javascript">
        function checkSubmit(){
            var all_cid_num = '{{ all_cid_num }}'.split('|');
            var cid = $('#cid').val();
            if(cid == ''){
                alert("cid不能为空");
                return false;
            }else{
                if(isNaN(cid)){
                    alert("cid必须为数字");
                    return false;
                }
                if($.inArray(cid, all_cid_num) != -1){
                    alert("此Cid编号已存在");
                    return false;
                }
            }
            if($('#title').val() == ''){
                alert("名称不能为空");
                return false;
            }
            if($("#is_youku_channel:checked").length == 0){
                alert("请选取类型 自有/主站");
                return false;
            }

        }
    </script>

{% endblock %}