{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    {#    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">#}
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>
    <style type="text/css">
        div#addWrapper {
            text-align: center;
        }

        div#addPage {
            display: inline-block;
            text-align: left;
            margin-top: 20px;
        }

        table {
            border-collapse: separate !important;
            border-spacing: 0;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden
        }

        #main-content tbody tr {
            background-color: #fafafa;
        }

        .table tr:first-child td {
            border-top: none;
        }

        #img-content {
            max-height: 150px;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div id="addWrapper">
                <div id="addPage">

                    <h4>视频修改</h4>

                    <form role="form" method="post" id="mainPageContent" action="{% url 'iphone_update_video' %}">
                        <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">
                        <table class="table table-hover table-striped">
                            <tr>
                                <td style="width: 200px"><label for="url">URL</label></td>
                                <td><textarea id="url" class="form-control" name="url"
                                              rows="5">{{ video.url }}</textarea></td>
                            </tr>
                            <tr>
                                <td><label for="title"><span style="color: orangered">*</span>标题</label></td>
                                <td><input type="text" class="form-control" id="title" name="title"
                                           value="{{ video.title }}"></td>
                            </tr>
                            <tr>
                                <td><label for="subtitle">子标题</label></td>
                                <td><input type="text" class="form-control" id="subtitle" name="subtitle"
                                           value="{{ video.subtitle }}"></td>
                            </tr>
                            <tr>
                                <td><label for="intro">腰封</label></td>
                                <td><input type="text" class="form-control" id="intro" name="intro"
                                           value="{{ video.intro }}"></td>
                            </tr>
                            <tr>
                                <td><label for="pgc_uid">pgc-uid</label></td>
                                <td><input type="text" class="form-control" id="pgc_uid" name="pgc_uid"
                                           value="{{ video.pgc_uid }}"></td>
                            </tr>
                            <tr class="control-group">
                                <td><span style="color: orangered">*<label>图片-{{ type_of_image.desc }}:</label></span>
                                </td>

                                <div class="validate-error"></div>
                                <td>
                                    <div class="controls">
                                <span id="screen-button" class="btn btn-success fileinput-button" >
                                    <span>+ 上传截图...</span>
                                    <input id="screen-img-upload" type="file" name="files[]" multiple>
                                </span>

                                        <div id="screen-success" class="alert alert-success"
                                             style="font-size: 20px;margin-top: 10px;width: 165px;{% if not type_of_image.image_url %}display: none{% endif %}">
                                            <button type="button" class="close">&times;</button>
                                            <img id='img-content' src="{{ type_of_image.image_url }}"
                                                 class="img-polaroid">
                                        </div>
                                        <div id="screen-progress"
                                             class="progress progress-success progress-striped  active"
                                             style="display: none">
                                            <div class="bar"></div>
                                        </div>
                                        <input type='hidden' id='screen-input' name='{{ type_of_image.name }}'
                                               value="{{ type_of_image.image_url }}" height="100"
                                               width="100"/>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><label for="video_type">视频类型</label></td>
                                <td><label class="form-control" id="video_type">
                                    {% show_video_type_human_readable video.video_type %} </label></td>
                            </tr>
                            <tr>
                                <td><label for="pay_type">付费类型</label></td>
                                <td><label>{{ video.pay_type_for_view }}</label></td>
                            </tr>
                        </table>
                        <input type="hidden" id="is_slider_box" name="is_slider_box" value="{{ is_slider_box }}">
                        <button type="submit" class="btn btn-default"><i class="icon-ok-sign"></i>确定</button>
                        <a class="btn btn-default"
                           href="{% url 'iphone_main_page_videos' %}?box_id={{ video.box_id }}">
                            <i class="icon-circle-arrow-left"></i>返回</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".alert button").click(function () {
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });

            var url = '/content/img/upload';
            //初始化，主要是设置上传参数，以及事件处理方法(回调函数)

            $('#screen-img-upload').fileupload({
                autoUpload: true,//是否自动上传
                url: url,//上传地址
                dataType: 'json',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 1048576,


                add: function (e, data) {

                    var uploadErrors = [];
                    var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                    if ('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                        uploadErrors.push('上传图片格式错误!');
                    }

                    if ('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 1048576) {
                        uploadErrors.push('上传图片需要小于1M!');
                    }

                    if (uploadErrors.length > 0) {
                        show_error_msg(uploadErrors.join("\n"));
                    } else {
                        data.submit();
                    }
                },

                done: function (e, data) {//设置文件上传完毕事件的回调函数

                    if ("e" in data.result && data.result["e"]["code"] < 0) {
                        $("#screen_button").show();
                        $("#screen-progress").hide();
                        show_error_msg("upload error:" + data.result["e"]["code"] + ':' + data.result["e"]["info"]);
                        return;
                    }

                    $.each(data.result.files, function (index, file) {//
                        $("#img-content").attr("src", file.url);
                        $("#img-content").show();
                        scoller_input = $("#screen-input")
                        scoller_input.attr('value', file.url)
                    });

                    $("#screen-progress").hide();
                    console.log("in success")
                    $("#screen-success").show();
                },

                progressall: function (e, data) {//设置上传进度事件的回调函数

                    $("#screen_button").hide();
                    $("#screen-progress").show();

                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#scoller-progress .bar').css(
                            'width',
                            progress + '%'
                    );
                }

            });

        });


    </script>
    {% include "iphone/main_page/video_manage/main_page_validate_iphone.html" %}
{% endblock %}