{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>
    <style type="text/css">
        div#addWrapper {
            text-align: center;
        }

        div#addPage {
            display: inline-block;
            text-align: left;
            margin-top: 20px;
        }

        table {
            border-collapse: separate !important;
            border-spacing: 0;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden
        }
        table td {
            vertical-align: top;
        }

        #main-content tbody tr {
            background-color: #fafafa;
        }

        .table tr:first-child td {
            border-top: none;
        }

        #img-content {
            max-height: 150px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
        <div id="addWrapper">
                <div id="addPage">
            <h4>视频修改</h4>

            <form role="form" method="post" id="mainPageContent" action="{% url 'iphone_update_video' %}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">

                <table class="table table-hover table-striped">
                    <tr>
                        <td>直播ID</td>
                        <td>{{ video.video_id }}</td>
                    </tr>
                    <tr>
                        <td><span style="color: orangered">*</span>直播页面url:</td>
                        <td><textarea id="live_broadcast_url" name="live_broadcast_url"
                                      rows="5">{{ video.live_broadcast_url }}</textarea></td>
                    </tr>

                    <tr>
                        <td><span style="color: orangered">*</span>标题</td>
                        <td><input type="text" class="form-control" id="title" name="title" value="{{ video.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td>子标题</td>
                        <td><input type="text" class="form-control" id="subtitle" name="subtitle"
                                   value="{{ video.subtitle }}"></td>
                    </tr>
                    <tr>
                        <td>腰封</td>
                        <td><input type="text" class="form-control" id="intro" name="intro" value="{{ video.intro }}">
                        </td>
                    </tr>
                    <tr class="control-group">
                        <td><span style="color: orangered">*<label>图片-{{ type_of_image.desc }}:</label></span></td>
                        <div class="validate-error"></div>
                        <td>
                            <div class="controls">
                                <span id="screen-button" class="btn btn-success fileinput-button">
                                    <span>+ 上传截图...</span>
                                    <input id="screen-upload" type="file" name="files[]" multiple>
                                </span>

                                <div id="screen-success" class="alert alert-success"
                                     style="font-size: 20px;margin-top: 10px;width: 165px;
                                             {% if not type_of_image.image_url %}display: none;{% endif %}">
                                    <button type="button" class="close">&times;</button>
                                    <img id='screen-content' src="{{ type_of_image.image_url }}"
                                         class="img-polaroid">
                                </div>
                                <div id="screen-progress"
                                     class="progress progress-success progress-striped  active"
                                     style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='screen-input' name='{{ type_of_image.name }}'
                                       value="{{ type_of_image.image_url }}" height="100"
                                       width="100"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>聊天窗口背景图(3.5)</td>
                        <td>
                            <div class="controls">
                                <span id="image_3_5-button" class="btn btn-success fileinput-button">
                                    <span>+ 上传截图...</span>
                                    <input id="image_3_5-upload" type="file" name="files[]" multiple>
                                </span>
                                <div id="image_3_5-success" class="alert alert-success"
                                    style="font-size: 20px;margin-top: 10px;width: 165px;
                                                     {% if not video.live_broadcast_bg_image_3_5 %}display: none;{% endif %}">
                                    <button type="button" class="close">&times;</button>
                                    <img id='image_3_5-content' src="{{ video.live_broadcast_bg_image_3_5 }}" class="img-polaroid">
                                </div>
                                <div id="image_3_5-progress"
                                    class="progress progress-success progress-striped  active"
                                    style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='image_3_5-input' name='live_broadcast_bg_image_3_5'
                                    value="{{ video.live_broadcast_bg_image_3_5 }}" height="100"
                                    width="100"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>聊天窗口背景图(4)</td>
                        <td>
                            <div class="controls">
                                <span id="image_4-button" class="btn btn-success fileinput-button">
                                    <span>+ 上传截图...</span>
                                    <input id="image_4-upload" type="file" name="files[]" multiple>
                                </span>
                                <div id="image_4-success" class="alert alert-success"
                                    style="font-size: 20px;margin-top: 10px;width: 165px;
                                                     {% if not video.live_broadcast_bg_image_4 %}display: none;{% endif %}">
                                    <button type="button" class="close">&times;</button>
                                    <img id='image_4-content' src="{{ video.live_broadcast_bg_image_4 }}" class="img-polaroid">
                                </div>
                                <div id="image_4-progress"
                                    class="progress progress-success progress-striped  active"
                                    style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='image_4-input' name='live_broadcast_bg_image_4'
                                    value="{{ video.live_broadcast_bg_image_4 }}" height="100"
                                    width="100"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>聊天窗口背景图(4.7)</td>
                        <td>
                            <div class="controls">
                                <span id="image_4_7-button" class="btn btn-success fileinput-button">
                                    <span>+ 上传截图...</span>
                                    <input id="image_4_7-upload" type="file" name="files[]" multiple>
                                </span>
                                <div id="image_4_7-success" class="alert alert-success"
                                    style="font-size: 20px;margin-top: 10px;width: 165px;
                                                     {% if not video.live_broadcast_bg_image_4_7 %}display: none;{% endif %}">
                                    <button type="button" class="close">&times;</button>
                                    <img id='image_4_7-content' src="{{ video.live_broadcast_bg_image_4_7 }}" class="img-polaroid">
                                </div>
                                <div id="image_4_7-progress"
                                    class="progress progress-success progress-striped  active"
                                    style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='image_4_7-input' name='live_broadcast_bg_image_4_7'
                                    value="{{ video.live_broadcast_bg_image_4_7 }}" height="100"
                                    width="100"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>聊天窗口背景图(5.5)</td>
                        <td>
                            <div class="controls">
                                <span id="image_5_5-button" class="btn btn-success fileinput-button">
                                    <span>+ 上传截图...</span>
                                    <input id="image_5_5-upload" type="file" name="files[]" multiple>
                                </span>
                                <div id="image_5_5-success" class="alert alert-success"
                                    style="font-size: 20px;margin-top: 10px;width: 165px;
                                                     {% if not video.live_broadcast_bg_image_5_5 %}display: none;{% endif %}">
                                    <button type="button" class="close">&times;</button>
                                    <img id='image_5_5-content' src="{{ video.live_broadcast_bg_image_5_5 }}" class="img-polaroid">
                                </div>
                                <div id="image_5_5-progress"
                                    class="progress progress-success progress-striped  active"
                                    style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='image_5_5-input' name='live_broadcast_bg_image_5_5'
                                    value="{{ video.live_broadcast_bg_image_5_5 }}" height="100"
                                    width="100"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>视频类型</td>
                        <td>{% show_video_type_human_readable video.video_type %}</td>
                    </tr>
                    <tr>
                        <td>是否付费:</td>
                        <td><select class="form-control" id="paid" name="paid" placeholder="">
                            {% for live_paid in live_broadcast_paid %}
                                <option value="{{ live_paid.id }}"
                                        {% ifequal live_paid.id video.paid %}
                                        selected="selected"
                                        {% endifequal %}
                                        >
                                    {{ live_paid.desc }}
                                </option>
                            {% endfor %}
                        </select></td>
                    </tr>

                </table>

                <input type="hidden" id="is_slider_box" name="is_slider_box" value="{{ is_slider_box }}">
                <button type="submit" class="btn btn-default"><i class="icon-ok-sign"></i>确定</button>
                <a class="btn btn-default"
                   href="{% url 'iphone_main_page_videos' %}?box_id={{ video.box_id }}"><i class="icon-circle-arrow-left"></i>返回</a>

            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>

    <script type="text/javascript">
        {% include "common_module/image_upload.js" %}

        $(function () {

            var img_upload_arr = ['screen', 'image_3_5', 'image_4', 'image_4_7', 'image_5_5'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }
        });

    </script>
        {% include "iphone/main_page/video_manage/main_page_validate_iphone.html" %}
{% endblock %}
