{% extends "base.html" %}

{% load util_tags %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">
        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
            background-color: green;
        }

        tbody#sortable tr.placeholder {
            height: 100px;
            color: slategrey;
            position: relative;
        }

        tbody#sortable tr.placeholder:before {
            position: absolute;

        }

        /*css below can copy to other page to realize the same table display effect*/
        div.nav-group {
            position: relative;
            height: 40px;
        }

        .img-polaroid {
            height: 60px;
            max-width: none;
        }

        .btn-table {
            padding: 2px 5px;
        }

        .active-item-shadow {
            box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
        }

        .btn-block {
            float: right;
            display: inline-block;
            width: auto;
        }

        #save_position_form {
            margin: 0 0 10px;
            display: inline-block;
            vertical-align: top;
        }

        #batch-form {
            display: inline-block;
            text-align: right;
            margin: 0 0 10px;
        }

        table {
            font-size: 13px;
        }

        td.canBeEdit {
            max-width: 195px;
            min-width: 130px;
        }

        .text-block {
            display: none;
        }

        .text-block > textarea {
            font-size: 13px;
            padding: 0;
            margin: 0;
            display: block;
            max-height: 100px;
            resize: vertical;
            width: 100%;
        }

        .text-block > button {
            float: right;
            margin-left: 3px;
            margin-top: 2px;
        }

        .td-vid {
            min-width: 75px;
        }

        .td-type {
            min-width: 84px;
        }

        .td-manage {
{#            min-width: 56px;#}
            min-width: 105px;
        }

        .td-state {
            min-width: 26px;
        }

    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li><a href="/content/iphone/main_page/uniq_modules" style="text-decoration: none;">iPhone内容管理</a><span
                    class="divider">/</span></li>
            {#                        <li><a></a><span class="divider">/</span></li>#}
            <li class="active">{{ box.title }} - 视频列表</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div style="width: auto;overflow: auto">
        <div class="nav-group" id="nav-buttons">
            <div class="pull-left">
                <a class="btn" href="{% url "iphone_uniq_modules" %}"><i class="icon-circle-arrow-left"></i>返回</a>
            </div>
            <div class="btn-block">
                {% box_btns_show_perm current_box_id request.user as perm_flag %}
                {% if perm_flag %}
                    <form method="post" id="save_position_form">
                        <input type="hidden" name="item_ids" id="item_ids"/>
                        <input type="hidden" name="box_id" id="box_id" value="{{ current_box_id }}"/>
                        <a class="btn" href="{% url 'iphone_main_page_add_video' %}?box_id={{ current_box_id }}"><i
                                class="icon-plus"></i>新增内容</a>
                        <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
                    </form>

                    {% if videos %}
                        <a class="btn video-state" value="1"><i class="icon-ok-circle"></i>开启</a>
                        <a id="sync_button" role="button" value="0" class="btn video-state"><i
                                class="icon-off"></i>关闭</a>
                        <input type="hidden" id="del" name="del" value="0">
                        <input type="hidden" id="del" name="use" value="0">
                        <input type="hidden" id="pack_ids" name="pack_ids" value="">

                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <th><label class="checkbox"><input type="checkbox" id="state-all-pick"></label></th>
                <th>内容ID</th>
                <th>类型</th>
                <th>标题</th>
                <th>子标题</th>
                <th>腰封</th>
                <th>版权</th>
                <th>付费类型</th>
                {% if is_slider_box %}
                    <th>轮播图</th>
                {% else %}
                    <th>横图</th>
                {% endif %}
                {#                <th>竖图</th>#}
                <th>状态</th>
                {% if perm_flag %}
                <th>操作</th>
                {% endif %}
                </thead>
                <tbody id="sortable">
                {% for video in videos %}

                    <tr class="sort-item" value="{{ video.id }}" id="box_{{ video.box_id }}">
                    <td><label class="checkbox"><input type="checkbox" class="video-status-tag" value="{{ video.id }}"></label>
                    </td>
                    {% if video.video_type == 4 %}
                        <td class="td-vid"><a class="data_tip" href="#" data-toggle="tooltip"
                                              title="{{ video.url }}">{{ video.url | slice:"10" }}...</a></td>
                    {% else %}
                        <td class="td-vid">{{ video.video_id }}</td>
                    {% endif %}
                    <td class="td-type">{{ video.video_type_for_view }}</td>
                    <td class="canBeEdit">
                        <div class="text-block">
                            <label for="title-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="title-{{ video.id }}">{{ video.title }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.title }}</div>
                    </td>
                    <td class="canBeEdit text-sub">
                        <div class="text-block">
                            <label for="subtitle-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="subtitle-{{ video.id }}">{{ video.subtitle }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.subtitle }}</div>
                    </td>
                    <td class="canBeEdit text-sub">
                        <div class="text-block">
                            <label for="intro-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="intro-{{ video.id }}">{{ video.intro }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.intro }}</div>
                    </td>
                    <td>{{ video.copyright_for_view }}</td>
                    <td>{{ video.pay_type_for_view }}</td>
                    {% if is_slider_box %}
                        <td>{% if video.s_image %}
                            <a target="_blank" href="{{ video.url_to_play }}"><img src="{{ video.s_image }}"
                                                                               style="height: 60px"
                                                                               title="{{ video.title }}"
                                                                               class="img-polaroid"/></a>{% endif %}
                        </td>
                    {% else %}
                        <td>{% if video.h_image %}
                            <a target="_blank" href="{{ video.url_to_play }}"><img src="{{ video.h_image }}"
                                                                               title="{{ video.title }}"
                                                                               style="height: 60px"
                                                                               class="img-polaroid"/></a>{% endif %}
                        </td>
                    {% endif %}
                    <td class="out_pick td-state" id="status_{{ video.id }}">
                        {{ video_state_hash|dict_get:video.state }}
                    </td>
                    {% if perm_flag %}
                        <td class="td-manage" colspan="2">
                            <a class="btn btn-small btn btn-table" href="{% url "iphone_query_video" video.id %}">
                                <li class="icon-edit"></li>
                                修改</a>
                            <a class="btn btn-small btn-danger btn-table del"
                               href="{% url "iphone_delete_video" video.id %}" class="del">
                                <li class="icon-trash"></li>
                                删除</a>
                        </td>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if not videos %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 相关首页视频模块数据为空,请创建视频数据。
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'popup/iphone_popup.html' %}
{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
    function save_position_btn_func() {
        var item_ids = $('#item_ids').val();
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/content/iphone/main_page/videos',
            data: {
                item_ids: item_ids
            },
            success: function (data) {
                if (data.status === 'success') {
                    $().toastmessage({
                        position: 'middle-center'
                    });
                    $().toastmessage('showSuccessToast', '操作成功');
                    setTimeout(function () {
                        location.reload()
                    }, 1000);
                } else {
                    $().toastmessage('showErrorToast', "操作失败")
                }
            }

        })
    }
    {% include "common_module/sort_edit_del.js" %}
    {% include "common_module/dbclick_edit.js" with save_url='/content/iphone/main_page/update_video_value'%}
    function collect_selected_checkbox_value() {
        var video_ids_array = [];
        var video_ids = '';
        console.log($("input:checkbox:checked.video-status-tag"));
        $("input:checkbox:checked.video-status-tag").each(function () {
            video_ids_array.push($(this).parent().parent().parent().attr("value"));
            video_ids = video_ids_array.join(",");
        });
        return video_ids;
    }

    function is_all_videos_checked() {
        var checked_videos = $("input:checkbox:checked.video-status-tag");
        var videos = $("input:checkbox.video-status-tag");
        var all_pick_box = $("#state-all-pick");
        if (checked_videos.length == videos.length) {
            all_pick_box.prop('checked', true);
        } else {
            all_pick_box.prop('checked', false);
        }
    }

    $(document).ready(function () {

        //make the nav buttons of handling videos be fixed on the top while scrolling
        var nav_btns = $('#nav-buttons');
        var fixmeTop = nav_btns.offset().top - $(".navbar-fixed-top").height();
        $(window).scroll(function () {
            var curTop = $(this).scrollTop();
            if (curTop > fixmeTop) {
                if ($("#storePos").length === 0) {
                    var stick = $('<div id="storePos"><div>').css({'height': nav_btns.height(), 'width': nav_btns.width()});
                    nav_btns.parent().prepend(stick)
                }
                nav_btns.css({width: nav_btns.width(), position: 'fixed', top: 41, 'background-color': '#fafafa',
                    'box-shadow': '0 2px 8px -2px #888', 'padding-top': 5})
                        .children(':first').css('margin-left', 5).end().children().eq(1).css('margin-right', 5);
            } else {
                $("#storePos").remove();
                nav_btns.css({width: 'inherit', position: 'static', 'padding-top': 0, 'box-shadow': 'none'});
            }
        });


        $('#state-all-pick').click(function () {
            if ($(this).is(':checked')) {
                $("input:checkbox.video-status-tag").prop("checked", true)
            } else {
                $("input:checkbox:checked.video-status-tag").prop("checked", false)
            }
        });

        $('input:checkbox.video-status-tag').click(function () {
            is_all_videos_checked();
        });

        $('.video-state').click(function () {
            var source = {
                '1': '开启',
                '0': '关闭'
            };
            var val = $(this).attr("value");
            var video_ids = collect_selected_checkbox_value();
            console.log(video_ids);
            if (video_ids.length > 0) {
                $.ajax({
                    url: '/content/iphone/main_page/update_status/video',
                    type: "POST",
                    dataType: 'json',
                    data: {
                        video_ids: video_ids,
                        value: val
                    },
                    success: function (data) {
                        for (var i = 0; i < data.video_ids.length; i++) {
                            $('#status_' + data.video_ids[i]).html(source[val])
                        }
                        $().toastmessage({
                            position: 'middle-center'
                        });
                        $().toastmessage('showSuccessToast', '操作成功');
                        $("input:checkbox.video-status-tag").prop('checked', false);
                        $('#state-all-pick').prop("checked", false)
                    }
                })
            }
        });

        $(".data_tip").tooltip();

        {#        $('#box_list').change(function () {#}
        {#            var box_id = $(this).val();#}
        {#            window.location = location.pathname + '?box_id=' + box_id;#}
        {#        });#}


        //all the code below is the old preview related snippets
        $(".img-polaroid").draggable({
            start: function () {
            },
            drag: function () {
            },
            stop: function () {
                $(this).css('left', '0').css('top', '0');
            },
            //containment: "#candidate_id_",
            //handle: "img",
            scroll: false,
            cursor: "move",
            helper: "clone",
            revert: "invalid"
        });

        var preview_obj = $("#preview");
        var wrapper_obj = $("#preview_wrapper");
        var footer_obj = $("#preview_footer");
        var go_obj = $("span#forward");
        var back_obj = $("span#backward");

        $("#preview_save").click(function () {
            if ($("#preview_wrapper div[id^='candidate_id']").length == 0) {
                return false;
            }
            var sel_items = $(".move_item");
            var item_ids = sel_items.map(function () {
                return $(this).children('img').attr("entity_id");
            }).get().join(',');
            var block_id = sel_items.parent().attr("id").match(/\d+/);
            console.info(item_ids);
            console.info(block_id);
            $.ajax({
                type: "POST",
                url: "/content/iphone/preview_save",
                dataType: "json",
                data: {
                    packed_ids: block_id + ":" + item_ids
                },
                success: function (data) {
                    console.log(data);
                    if (data['save_status'] == "success") {
                        window.location = location;
                    }
                }
            })
        });
        $('#previewBtn').click(function () {
            if (wrapper_obj.children().length == 0) {
                $.ajax({
                    type: "POST",
                    url: "/content/iphone/preview",
                    dataType: "html",
                    data: {
                        box_id: {{ current_box_id }}
                    },
                    success: function (data) {
                        var snippet = $($.parseHTML(data, document, true));
                        //append  div first, otherwise the script will execute when the div is empty
                        snippet.filter('div').appendTo(wrapper_obj);
                        snippet.filter('script').appendTo(footer_obj);
                        wrapper_obj.scrollTop(
                                        $('#candidate_id_{{ current_box_id }}').offset().top - 185
                        );
                    }
                })
            } else {
                back_obj.hide();
                go_obj.hide();
                wrapper_obj.empty();
                footer_obj.children('script').remove();
            }
            preview_obj.toggle(50);
        });

        $('#closeSign').click(function () {
            popup_clear();
        });
        $('#preview_cancel').click(function () {
            popup_clear();
        });

        function popup_clear() {
            wrapper_obj.empty();
            footer_obj.children('script').remove();
            go_obj.hide();
            back_obj.hide();
            preview_obj.toggle();
        }
    });


    $(function () {
        var _move = false; //移动标记
        var _x, _y; //鼠标离控件左上角的相对位置
        var selector = $("#preview");
        $("#preview_move").mousedown(function (e) {
            _move = true;
            $(this).css("cursor", "move");

            _x = e.pageX - parseInt(selector.css("left"));
            _y = e.pageY - parseInt(selector.css("top"));
            selector.fadeTo(20, 0.8); //点击后开始拖动并透明显示
        });
        $(document).mousemove(function (e) {
            if (_move) {
                var x = e.pageX - _x; //移动时根据鼠标位置计算控件左上角的绝对位置
                var y = e.pageY - _y;
                if (x < 0) x = 0;
                if (y < 0) y = 0;
                selector.css({ top: y, left: x }); //控件新位置
            }
        }).mouseup(function () {
            //add if to avoid the selector district fade when the mouse is on
            if (_move) {
                _move = false;
                selector.fadeTo("fast", 1); //松开鼠标后停止移动并恢复成不透明
            }
        });
    });


    </script>
    {% include "subchannel_and_module_items/batch_handle_js.html" %}
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}