{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}

        .prepend {
            float: left;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        {% if navigation_list %}
            <ul class="breadcrumb">
                {% for idx,val in navigation_list %}
                    {% if forloop.last %}
                        <li class="active">{{ val }}</li>
                    {% else %}
                        <li><a style="text-decoration: none;">{{ val }}</a><span class="divider">/</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div>

            <div class="pull-right">
                <input type="hidden" name="item_ids" id="item_ids"/>
{#                <a class="btn" href="#"><i class="icon-mobile-phone"></i>预览</a>#}
                {% if not request.user.is_normal_user %}
                    <a class="btn publish" id='publish-button' href="#PublishModal" role="button" data-toggle="modal" ><i class="icon-bullhorn"></i>发布</a>
                    <a class="btn channel-state" value="1" href="#"><i class="icon-ok"></i>开启</a>
                    <a class="btn channel-state" value="0" href="#"><i class="icon-off"></i>关闭</a>
                    <button type="submit" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
                    <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>创建iphone频道</a>
                {% endif %}
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <th><input type="checkbox" id="state-all-pick"></th>
            <th>Cid</th>
            <th>标题</th>
            {#            <th>色值</th>#}
            <th>图标</th>
            <th>图标选中</th>
            <th>状态管理</th>
            <th>操作</th>
            </thead>
            <tbody id="sortable">
            {% for channel in channels %}
                <tr id="channel_{{ channel.id }}" value="{{ channel.id }}" class="sort-item">
                    <td><input type="checkbox" class="channel-state-tag"></td>
                    <td>{{ channel.cid }}</td>
                    <td>{{ channel.title }}</td>
                    {#                    <td>{{ channel.color }}</td>#}
                    <td>
                        {% if channel.icon_3_2 %}
                            <img src={{ channel.icon_3_2 }} class="big-icon"/>
                        {% else %}
                            <span>未上传</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if channel.icon_3_2_selected %}
                            <img src={{ channel.icon_3_2_selected }} class="big-icon"/>
                        {% else %}
                            <span>未上传</span>
                        {% endif %}
                    </td>
                    <td id="status_{{ channel.id }}">
                        {#                        <a class="select_pick" href="#" id="state" data-type="select" data-pk="{{ channel.id }}"#}
                        {#                           data-url="/content/iphone/update_status/channel" data-title="状态管理"#}
                        {#                           data-value={{ channel.state }}></a>#}
                        {{ channel_state_hash|dict_get:channel.state }}
                    </td>
                    <td colspan="1">
                        {% if channel.cid == 1001 %}
                        <a class="btn btn-small btn-info btn-table" style="margin: 0 6px;"
                           href="{% url 'iphone_ranking' %}">
                            <li class="icon-th-large"></li>
                            管理</a>
                        {% else %}
                        <a class="btn btn-small btn-info btn-table"
                           href="{% url 'iphone_sub_channels' %}?select_channel={{ channel.id }}">
                            <li class="icon-th-large"></li>
                            子频道</a>
                        {% endif %}
                        {% box_btns_show_perm channel.id request.user 2 as perm_flag %}
                        {% if perm_flag %}
                            <a class="btn btn-small btn-table" href="{% url "iphone_query_new_channel" channel.id %}">
                                <li class="icon-edit"></li>
                                修改</a>
                        {% endif %}
                        {% if not request.user.is_normal_user %}

                            <a class="btn btn-small btn-danger btn-table del"
                               href="{% url "iphone_delete_new_channel" channel.id %}">
                                <li class="icon-trash"></li>
                                删除</a>
{#                            <a class="btn btn-small btn-warning btn-table"#}
{#                               href="{% url "show_main_box_perm" %}?box_id={{ channel.id }}&platform=iphone&src=iphone_channel">#}
{#                                <i class="icon-user-md"></i>权限</a>#}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    {% if not channels %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> iphone频道数据为空,请创建数据。
                </div>
            </div>
        </div>
    {% endif %}


    <div class="row-fluid">
        {% include  'iphone/channel/add_channel.html' %}
    </div>

    <div class="row-fluid">
        {% include  'iphone/channel/_publish_modal.html' %}
    </div>

    <!-- Modal -->
    <div id="formErrorModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">提示(Esc关闭)</h3>
        </div>
        <div class="modal-body">
            <p class="text-error">提示消息</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

{% endblock %}




{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
        {% include "common_module/sort_edit_del.js" with reorder_url="/content/iphone/new_channels" %}
        {% include "common_module/image_upload.js" %}
        function collect_change_channel_ids() {
            var channel_id_array = []
            var channel_ids = ''
            $("input:checkbox:checked.channel-state-tag").each(function () {
                channel_id_array.push($(this).parent().parent().attr('value'))
            })
            channel_ids = channel_id_array.join(",")
            return channel_ids
        }

        function collect_change_channel_titles() {
            var channel_title_array = [];
            var channel_titles = [];
            $("input:checkbox:checked.channel-state-tag").each(function () {
                channel_title_array.push($(this).parent().next().next().text())
            })
            channel_titles = channel_title_array.join(", ");
            return channel_titles
        }

        $(function () {
            $('#publish-button').click(function(){
                var channel_ids = "";
                channel_ids = collect_change_channel_ids();
                var channel_titles = collect_change_channel_titles()
                if (channel_ids.length > 0) {
                    $('#modal-error-area').hide();
                    $('#modal-info-area').show();
                    $('#sync-publish').show();
                    $('#modal-info-area > table > tbody').empty();
                    var channel_titles_arr = channel_titles.split(',')
                    for(i = 0;i < channel_titles_arr.length;i++){
                        $('#modal-info-area > table').append("<tr><td style='border-width: 0px'>iphone</td><td style='border-width: 0px'>" + channel_titles_arr[i] +"</td></tr>")

                    }
                }else{
                    $('#modal-error-area').show()
                    $('#modal-info-area').hide()
                    $('#sync-publish').hide()
                }

            })
            //发布视频
            $('#sync-publish').click(function () {
                var channel_ids = "";
                channel_ids = collect_change_channel_ids();
                if (channel_ids.length > 0) {
                    if ($('#publish').attr('disabled') == 'disabled') {
                        return 0;
                    }
                    $.ajax({
                        url: '/content/iphone/channel/publish',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            channel_ids: channel_ids
                        },
                        success: function (data) {
                            $('#publish').removeAttr('disabled');
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            if (data.status == 'success') {
                                $().toastmessage('showToast', {text: '发布成功!', type: 'success', sticky: false});
                            }
                            else if (data.status == 'error') {
                                $().toastmessage('showToast', {text: data.desc, type: 'error', sticky: false});
                            }

                        },
                        complete: function () {
                            //
                        },
                        error: function (data) {
                            console.info("error: " + data.responseText);
                        }

                    })
                }
                else {
                    alert("请先选择需要发布的抽屉");
                }
            });

            $('.image_pick').editable({
                showbuttons: false,
                source: [
                    {value: 1, text: '竖图'},
                    {value: 0, text: '横图'}
                ]
            });

            $("#channel_type").change(function () {
                $(".ordinary").toggle();
                $(".sales").toggle();
            });

            var img_upload_arr = ['small', 'small-selected'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.channel-state-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.channel-state-tag").attr("checked", false)
                }
            })
            $('.channel-state').click(function () {
                var channel_ids = ""
                var val = $(this).attr("value")
                var source = {
                    '1': '开启',
                    '0': '关闭'
                }
                channel_ids = collect_change_channel_ids()
                if (channel_ids.length > 0) {
                    $.ajax({
                        url: '/content/iphone/update_status/new_channel',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            channel_ids: channel_ids,
                            value: val
                        },
                        success: function (data) {
                            for (var i = 0; i < data.channel_ids.length; i++) {
                                $('#status_' + data.channel_ids[i]).html(source[val])
                            }
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            $().toastmessage('showSuccessToast', '操作成功');
                            $("input:checkbox.channel-state-tag").prop('checked', false);
                            $('#state-all-pick').prop("checked",false)
                        }
                    })
                }
            })

            $("#channel-content-type").change(function () {
                var content_type = $(this).children('option:selected').val();
                window.location.href = "{% url 'iphone_new_channels' %}" + "?content_type=" + content_type;
            });

        })

    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("input[name='is_youku_channel']").click(function () {
                is_youku_channel = $("input[name='is_youku_channel']:checked").val();
                $("#cid").empty();
                if (is_youku_channel == 1) {
                    {% for i in youku_cid_details %}
                        $('#cid').append('<option value="{{ i.cid }}">{{ i.title }}</option>');
                    {% endfor %}
                }else{
                    {% for i in mobile_cid_details %}
                        $('#cid').append('<option value="{{ i.cid }}">{{ i.title }}</option>');
                    {% endfor %}
                }
            });

            $("#myselect").change(function () {
                var channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'iphone_sub_channels' %}" + "?select_channel=" + channel_id;
            });

            var type_sel = $("#type");
            type_sel.change(function () {
                var type_value = $(this).children('option:selected').val();
                var img_sel = $("#img-type");
                var condition = $("#condition");
                if (type_value == 2) {
                    img_sel.show();
                    condition.hide();
                } else if (type_value == 3) {
                    img_sel.hide();
                    condition.show();
                } else {
                    img_sel.hide();
                    condition.hide();
                }
            });

        })

    </script>

    {% include "iphone/channel/channel_validate.html" %}
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}