{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <h3>更新iPhone频道数据</h3>

            <form role="form" id="create_cha" method="post" action="{% url "iphone_update_new_channel" %}"
                  class="offset2">
                <table class="table table-hover table-striped">
                    <input type="hidden" class="form-control" id="id" name="id" value="{{ channel.id }}">
                    <tr>
                        <td style="width:30%">
                            <label for="cid">关联自有/主站频道</label>
                        </td>
                        <td>
                            <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=1
                                    {% ifequal is_youku_channel 1 %}checked="checked" {% endifequal %}>&nbsp;主站Cid&nbsp;
                            <input type="radio" id="is_youku_channel" name="is_youku_channel" style="margin-bottom: 5px" value=0
                                    {% ifequal is_youku_channel 0 %}checked="checked" {% endifequal %}>&nbsp;自有Cid&nbsp;
                            <br><select class="form-control" id="cid" name="cid">
                                <option value="{{ current_cid.cid }}">{{ current_cid.title }}</option>
                             </select>
                        </td>
                    </tr>
                <tr>
                    <td><label for="title">频道名称</label></td>
                    <td><input type="text" class="form-control" id="title" name="title" value="{{ channel.title }}">
                    </td>
                </tr>

{#                <tr>#}
{#                    <td><label for="color">标题色值</label></td>#}
{#                    <td>#}
{#                        <input type="text" class="form-control" id="color" name="color" value="{{ channel.color }}">#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>#}
{#                        <label for="image_type_choiceness">精选图片</label>#}
{#                    </td>#}
{#                    <td>#}
{#                        <select class="form-control" id="image_type_choiceness" name="image_type_choiceness">#}
{#                            {% if channel.image_type_choiceness %}#}
{#                                <option value="1">竖图</option>#}
{#                                <option value="0">横图</option>#}
{#                            {% else %}#}
{#                                <option value="0">横图</option>#}
{#                                <option value="1">竖图</option>#}
{#                            {% endif %}#}
{#                        </select>#}
{#                    </td>#}
{#                </tr>#}
{##}
{##}
{#                <tr>#}
{#                    <td><label for="image_type_all">全部图片</label></td>#}
{#                    <td>#}
{#                        <select class="form-control" id="image_type_all" name="image_type_all" placeholder="">#}
{#                            {% if channel.image_type_all %}#}
{#                                <option value="1">竖图</option>#}
{#                                <option value="0">横图</option>#}
{#                            {% else %}#}
{#                                <option value="0">横图</option>#}
{#                                <option value="1">竖图</option>#}
{#                            {% endif %}#}
{#                        </select>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>#}
{#                        <label for="normal-input" class="control-label">图标</label>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="controls">#}
{##}
{#                        <span id="normal-button" class="btn btn-success fileinput-button  "#}
{#                              {% if channel.icon %}style="display:none;"{% endif %}>#}
{#                             <span>+ 上传截图...</span>#}
{#                             <input id="normal-upload" type="file" name="files[]" multiple>#}
{#                        </span>#}
{##}
{#                            <div id="normal-success" class="alert alert-success"#}
{#                                 style="font-size: 20px;margin-top: 10px;width:150px;#}
{#                                         {% if not channel.icon %}display:none;{% endif %}">#}
{#                                <button type="button" class="close">&times;</button>#}
{#                                <img id='normal-content' src="{% if channel.icon %}{{ channel.icon }}{% endif %}"#}
{#                                     class="img-polaroid">#}
{#                            </div>#}
{#                            <div id="normal-progress" class="progress progress-success progress-striped  active"#}
{#                                 style="display: none">#}
{#                                <div class="bar"></div>#}
{#                            </div>#}
{#                            <input type='hidden' id='normal-input' name='normal-img'#}
{#                                   value="{% if channel.icon %}{{ channel.icon }}{% endif %}" height="100" width="100"/>#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="selected-input" class="control-label">图标</label></td>#}
{#                    <td>#}
{#                        <div class="controls">#}
{##}
{#                            <span id="normal-selected-button" class="btn btn-success fileinput-button  "#}
{#                                  {% if channel.icon_52 %}style="display:none;"{% endif %}>#}
{#                                 <span>+ 上传截图...</span>#}
{#                                 <input id="normal-selected-upload" type="file" name="files[]" multiple>#}
{#                            </span>#}
{##}
{#                            <div id="normal-selected-success" class="alert alert-success"#}
{#                                 style="font-size: 20px;margin-top: 10px;width:150px;#}
{#                                         {% if not channel.icon_52 %}display:none;{% endif %}">#}
{#                                <button type="button" class="close">&times;</button>#}
{#                                <img id='normal-selected-content'#}
{#                                     src="{% if channel.icon_52 %}{{ channel.icon_52 }}{% endif %}"#}
{#                                     class="img-polaroid">#}
{#                            </div>#}
{#                            <div id="normal-selected-progress"#}
{#                                 class="progress progress-success progress-striped  active"#}
{#                                 style="display: none">#}
{#                                <div class="bar"></div>#}
{#                            </div>#}
{#                            <input type='hidden' id='normal-selected-input' name='selected-img'#}
{#                                   value="{% if channel.icon_52 %}{{ channel.icon_52 }}{% endif %}" height="100"#}
{#                                   width="100"/>#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
                <tr>
                    <td><label for="small-input" class="control-label">图标(普通)(68x68)</label></td>
                    <td>
                        <div class="controls">

                            <span id="small-button" class="btn btn-success fileinput-button   "
                                  {% if channel.icon_3_2 %}style="display:none;"{% endif %}>
                                 <span>+ 上传截图...</span>
                                 <input id="small-upload" type="file" name="files[]" multiple>
                            </span>

                            <div id="small-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not channel.icon_3_2 %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='small-content' src="{% if channel.icon_3_2 %}{{ channel.icon_3_2 }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="small-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='small-input' name='small-img'
                                   value="{% if channel.icon_3_2 %}{{ channel.icon_3_2 }}{% endif %}" height="100"
                                   width="100"/>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td><label for="selected-input" class="control-label">图标(选中)(68x68)</label></td>
                    <td>
                        <div class="controls">

                            <span id="small-selected-button" class="btn btn-success fileinput-button   "
                                  {% if channel.icon_3_2_selected %}style="display:none;"{% endif %}>
                                 <span>+ 上传截图...</span>
                                 <input id="small-selected-upload" type="file" name="files[]" multiple>
                            </span>

                            <div id="small-selected-success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;width:150px;
                                         {% if not channel.icon_3_2_selected %}display:none;{% endif %}">
                                <button type="button" class="close">&times;</button>
                                <img id='small-selected-content'
                                     src="{% if channel.icon_3_2_selected %}{{ channel.icon_3_2_selected }}{% endif %}"
                                     class="img-polaroid">
                            </div>
                            <div id="small-selected-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='small-selected-input' name='selected-img-small'
                                   value="{% if channel.icon_3_2_selected %}{{ channel.icon_3_2_selected }}{% endif %}"
                                   height="100" width="100"/>
                        </div>
                    </td>
                </tr>
            </table>

                <button type="submit" class="btn btn-default">
                    <li class="icon-ok-sign"></li>
                    更新
                </button>
                <a class="btn btn-default" href="{% url 'iphone_new_channels' %}">
                    <li class="icon-circle-arrow-left"></li>
                    返回</a>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        {% include "common_module/image_upload.js" %}

        $(document).ready(function () {
            $("input[name='is_youku_channel']").click(function () {
                is_youku_channel = $("input[name='is_youku_channel']:checked").val();
                $("#cid").empty();
                if (is_youku_channel == 1) {
                    {% for i in youku_cid_details %}
                        $('#cid').append('<option value="{{ i.cid }}">{{ i.title }}</option>');
                    {% endfor %}
                }else{
                    {% for i in mobile_cid_details %}
                        $('#cid').append('<option value="{{ i.cid }}">{{ i.title }}</option>');
                    {% endfor %}
                }
            });

            $("#li_iphone_module").addClass('active');

            var img_upload_arr = ['small', 'small-selected'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

        });

    </script>

    {% include "iphone/channel/channel_validate.html" %}

{% endblock %}