{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-timepicker/css/jquery-ui-timepicker-addon.css">
    <style type="text/css">
        form {
            display: inline-block;
        }

        .controls .alert-success {
            display: none;

        }

        .img-polaroid {
            max-width: 150px;
            max-height: 120px;
        }

        .btn-wrap {
            margin-top: 30px;
        }

        #create_start_image {
            margin: 50px 0 0 200px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <h4>新增android排行榜</h4>

            <form role="form" id="create_start_image" method="post" action="{% url "android_update_ranking" rank.id %}">
                <input type="hidden" name="platform" value="1">

                <div class="form-control">
                    <label for="cid">模块ID</label>
                    <input type="text" name="cid" id="cid" value="{{ rank.cid }}">
                </div>

                <div class="form-control">
                    <label for="title">标题</label>
                    <input type="text" name="title" id="title" value={{ rank.title }}>
                </div>


                <div class="btn-wrap">
                    <button type="submit" class="btn btn-default"><i class="icon-ok"></i>确定</button>
                    <a class="btn btn-default"
                       href="{% url 'android_ranking' %}"><i
                            class="icon-arrow-left"></i>返回</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript">
        {% include "android/rank/validate.js" %}

        $(document).ready(function () {

        });


    </script>
{% endblock %}