{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}
        .prepend {
            float: left;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <h3>IOS会员商品页背景图管理</h3>
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="input-prepend prepend">
            <span class="add-on">设备类型:</span>
            <select class="form-control" id="device-type-select" name="device_type">
                <option value="iphone"
                        {% if device_type == 'iphone' %}
                            selected
                        {% endif %}>iphone</option>
                <option value="ipad"
                        {% if device_type == 'ipad' %}
                            selected
                        {% endif %}>ipad</option>
            </select>
        </div>
        <div class="pull-right">
            <a href="{% url 'vip_goods_back_img_add_img' %}?device_type={{ device_type }}" role="button" class="btn"
               data-toggle="modal"><i class="icon-plus"></i>新增内容</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <th><input type="checkbox" id="state-all-pick"></th>
        <th>小图</th>
        <th>大图</th>
        <th>状态</th>
        <th>操作</th>
        </thead>
        <tbody id="sortable">
        {% for back_img in back_imgs %}
            <tr id="channel_{{ channel.id }}" value="{{ channel.id }}" class="sort-item">
            <td><input type="checkbox" class="channel-state-tag"></td>
            <td><img src="{{ back_img.vip_img }}" style="height: 60px"/></td>
            <td><img src="{{ back_img.vip_img_hd }}" style="height: 60px"/></td>
            <td>
                <a class="select_pick" style="padding-right: 8px" href="#"
                   id="state" data-type="select"
                   data-pk="{{ back_img.id }}"
                   data-url="/content/vip_goods_page/back_img/update_status?device_type={{ device_type }}"
                   data-title="状态管理"
                   data-value={{ back_img.state }}></a>
            </td>
            <td>
                <a class="btn btn-small btn-table"
                   href="{% url "vip_goods_back_img_update_img" back_img.id %}?device_type={{ device_type }}">
                    <li class="icon-edit"></li>
                    修改</a>
                <a class="btn btn-small btn-danger btn-table del"
                   href="{% url "vip_goods_back_img_delete_img" back_img.id %}?device_type={{ device_type }}">
                    <li class="icon-trash"></li>
                    删除</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not back_imgs %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 没有任何内容
                </div>
            </div>
        </div>
    {% endif %}

    <div id="formErrorModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">提示(Esc关闭)</h3>
        </div>
        <div class="modal-body">
            <p class="text-error">提示消息</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
        {% include "common_module/sort_edit_del.js" %}
        {% include "common_module/image_upload.js" %}

            $("#device-type-select").change(function () {
                var device_type = $(this).children('option:selected').val();
                window.location.href = "{% url 'vip_goods_page_back_img_manage' %}" + "?device_type=" + device_type;
            });


    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}
