{% extends "base.html" %}
{% load util_tags %}

{% block link %}

    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">

        th {
            vertical-align: top;
        }

        form select {
            vertical-align: baseline;
        }

        pre.format-json {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 8px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h3>用户操作日志</h3>
    </div>
    <div class="for-test">
        你正在查看[
        {% translate_url_location platform %} -
        {% translate_url_location area %} -
        {% translate_url_location family %} -
        {% translate_url_location operation %} -
        {{ email }}
        ] 的日志
    </div>
    <form method="get" action="/content/user_action/logs" accept-charset="UTF-8">
        平台
        <select id="platform" name="platform">
            <option value="">全部</option>
            {% for platform_type in platform_list %}
                {% if platform == platform_type %}
                    <option value="{{ platform_type }}"
                            selected="selected">{% translate_url_location platform_type %}</option>
                {% else %}
                    <option value="{{ platform_type }}">{% translate_url_location platform_type %}</option>
                {% endif %}
            {% endfor %}
        </select>
        区域
        <select id="area" name="area">
            <option value="">全部</option>
            {% for area_type in area_list %}
                {% if area == area_type %}
                    <option value="{{ area_type }}" selected="selected">{% translate_url_location area_type %}</option>
                {% else %}
                    <option value="{{ area_type }}">{% translate_url_location area_type %}</option>
                {% endif %}
            {% endfor %}
        </select>
        位置
        <select id="family" name="family">
            <option value="">全部</option>
            {% for family_type in family_list %}
                {% if family == family_type %}
                    <option value="{{ family_type }}"
                            selected="selected">{% translate_url_location family_type %}</option>
                {% else %}
                    <option value="{{ family_type }}">{% translate_url_location family_type %}</option>
                {% endif %}
            {% endfor %}
        </select>
        操作
        <select id="operation" name="operation">
            <option value="">全部</option>
            {% for operation_type in operation_list %}
                {% if operation == operation_type %}
                    <option value="{{ operation_type }}"
                            selected="selected">{% translate_url_location operation_type %}</option>
                {% else %}
                    <option value="{{ operation_type }}">{% translate_url_location operation_type %}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        邮箱：<input type="text" value="{{ email }}" name="email" placeholder="支持模糊查询如 li">
        <input type="submit" value="查询" name="commit">
    </form>

    <div class="row-fluid">
        <table class="table table-striped">
            <thead>
            <th style="width: 5%">平台</th>
            <th style="width: 5%">区域</th>
            <th style="width: 10%">位置</th>
            <th style="width: 5%">操作</th>
            <th style="width: 10%">用户</th>
            <th style="width: 10%">时间</th>
            <th style="width: 50%">详情</th>
            </thead>
            <tbody id="sortable">
            {% for log in logs %}
                <tr id="module_{{ module.id }}" value="{{ module.id }}">
                    <td>{% translate_url_location log.platform %}</td>
                    <td>{% translate_url_location log.area %}</td>
                    <td>{% translate_url_location log.family %}</td>
                    <td>{% translate_url_location log.operation %}</td>
                    <td>
                        {% for user in users %}
                            {% if user.id == log.user_id %}
                                {{ user.email }}
                            {% endif %}
                        {% endfor %}</td>
                    <td>{{ log.commit_datetime }}</td>
                    <td class="td-json">
                        <pre class="format-json">{{ log.params }}</pre>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if not logs %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 日志数据为空!
                </div>
    {% endif %}
    </div>




{% endblock %}

{% block js %}
    <script type="text/javascript">
        {#        $('#area, #family').val('').hide()#}
        $('#platform').change(function () {
            platform_val = $(this).val();
            if (platform_val) {
                console.info(platform_val);
                $.ajax({
                    url: '/content/user_action/log_filters',
                    type: 'GET',
                    async: false,
                    data: {
                        on_change: 'platform',
                        platform: platform_val
                    },
                    success: function (json) {
                        $('#area option:not(:first)').remove(); //只保留'全部'
                        area_info_list = json.area_info_list
                        for (index in area_info_list) {
                            $('#area').append("<option value='" + area_info_list[index][0] + "'>" + area_info_list[index][1] + "</option>").show()
                        }
                    }
                })
            }
        });
        $('#area').change(function () {
            platform_val = $('#platform').val();
            area_val = $(this).val();
            if (area_val) {
                $.ajax({
                    url: '/content/user_action/log_filters',
                    type: 'GET',
                    async: false,
                    data: {
                        on_change: 'area',
                        platform: platform_val,
                        area: area_val
                    },
                    success: function (json) {
                        $('#family option:not(:first)').remove(); //只保留'全部'
                        family_info_list = json.family_info_list
                        for (index in family_info_list) {
                            $('#family').append("<option value='" + family_info_list[index][0] + "'>" + family_info_list[index][1] + "</option>").show()
                        }
                    }
                })
            }
        })
        $('#family').change(function () {
            platform_val = $('#platform').val();
            area_val = $('#area').val();
            family_val = $(this).val();
            if (family_val) {
                $.ajax({
                    url: '/content/user_action/log_filters',
                    type: 'GET',
                    async: false,
                    data: {
                        on_change: 'family',
                        platform: platform_val,
                        area: area_val,
                        family: family_val
                    },
                    success: function (json) {
                        $('#operation option:not(:first)').remove(); //只保留'全部'
                        operation_info_list = json.operation_info_list
                        for (index in operation_info_list) {
                            $('#operation').append("<option value='" + operation_info_list[index][0] + "'>" + operation_info_list[index][1] + "</option>").show()
                        }
                    }
                })
            }
        })
    </script>
{% endblock %}
