{% extends "base.html" %}
{% load util_tags %}


{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <h3>修改品牌官网模块</h3>

        </div>
        <form role="form" id="create_cha" method="post" action="{% url "brand_update_module" module.id%}">
            <input type="hidden" name="module_id"

            <table>
                <tr><label for="title">标题(必填):</label></tr>
                <tr><input type="text" class="form-control" id="title" name="title" placeholder="" value="{{ module.title }}"></tr>
                <tr>
                <tr><label for="link_to_url">点击标题后跳转到哪儿(选填):</label></tr>
                <tr><input type="text" class="form-control" id="link_to_url" name="link_to_url" placeholder="" value="{{ module.link_to_url }}"></tr>
                </tr>
                <tr>
                    <td><label for="platform">适用平台:</label></td>
                    <td><input type="checkbox" id="state_for_android" name="state_for_android" value="1"
                               {% if module.state_for_android == 1 %}
                               checked
                               {% endif %}
                            >android&nbsp;&nbsp;
                        <input type="checkbox" id="state_for_iphone" name="state_for_iphone" value="1"
                                {% if module.state_for_iphone == 1 %}
                               checked
                                {% endif %}
                                >iphone&nbsp;&nbsp;
                        <input type="checkbox" id="state_for_ipad" name="state_for_ipad" value="1"
                                {% if module.state_for_ipad == 1 %}
                               checked
                                {% endif %}
                                >ipad&nbsp;&nbsp;
                    </td>
                </tr>
                <tr id="android">
                    <td><label for="android_subchannel">投放位置(android子频道)</label></td>

                    <td><select class="channels_selector" id="channel_id_of_android" name="channel_id_of_android">
                    {% if not selected_android_sub_channel %}
                        {% for android_channel in android_channels %}
                            <option value="{{ android_channel.id }}">{{ android_channel.title }}({{ state_dict|dict_get:android_channel.state }})</option>
                        {% endfor %}
                    {% else %}
                        {% for android_channel in android_channels %}
                            <option value="{{ android_channel.id }}"
                                    {% if android_channel.id == selected_android_channel.id %}
                                        selected
                                    {% endif %}
                                    >{{ android_channel.title }}({{ state_dict|dict_get:android_channel.state }})</option>
                        {% endfor %}
                    {% endif %}

                    </select>

                    </td>
                    <td><select class="sub_channels_selector" id="subchannel_id_of_android"
                                name="subchannel_id_of_android">
                    {% if not selected_android_sub_channel %}
                        <option value="0">无</option>
                    {% else %}
                        {% for android_sub_channel in android_sub_channels_of_selected_channel %}
                            <option value="{{ android_sub_channel.id }}"
                                    {% if android_sub_channel.id == selected_android_sub_channel.id %}
                                    selected
                                    {% endif %}
                                    >{{ android_sub_channel.title }}({{ state_dict|dict_get:android_sub_channel.state }})</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                    </td>
                </tr>
                <tr id="iphone">
                    <td><label for="iphone_subchannel">投放位置(iphone子频道)</label></td>

                    <td><select class="channels_selector" id="channel_id_of_iphone" name="channel_id_of_iphone">
                        {% if not selected_iphone_sub_channel %}
                            {% for iphone_channel in iphone_channels %}
                                <option value="{{ iphone_channel.id }}">{{ iphone_channel.title }}({{ state_dict|dict_get:iphone_channel.state }})</option>
                            {% endfor %}
                        {% else %}
                            {% for iphone_channel in iphone_channels %}
                                <option value="{{ iphone_channel.id }}"
                                        {% if iphone_channel.id == selected_iphone_channel.id %}
                                        selected
                                        {% endif %}
                                        >{{ iphone_channel.title }}({{ state_dict|dict_get:iphone_channel.state }})</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    </td>
                    <td><select class="sub_channels_selector" id="subchannel_id_of_iphone"
                                name="subchannel_id_of_iphone">
                        {% if not selected_iphone_sub_channel %}
                            <option value="0">无</option>
                        {% else %}
                            {% for iphone_sub_channel in iphone_sub_channels_of_selected_channel %}
                                <option value="{{ iphone_sub_channel.id }}"
                                        {% if iphone_sub_channel.id == selected_iphone_sub_channel.id %}
                                        selected
                                        {% endif %}
                                        >{{ iphone_sub_channel.title }}({{ state_dict|dict_get:iphone_sub_channel.state }})</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    </td>
                </tr>
                <tr id="ipad">
                    <td><label for="ipad_subchannel">投放位置(ipad子频道)</label></td>

                    <td><select class="channels_selector" id="channel_id_of_ipad" name="channel_id_of_ipad">
                        {% if not selected_ipad_sub_channel %}
                            {% for ipad_channel in ipad_channels %}
                                <option value="{{ ipad_channel.id }}">{{ ipad_channel.title }}({{ state_dict|dict_get:ipad_channel.state }})</option>
                            {% endfor %}
                        {% else %}
                            {% for ipad_channel in ipad_channels %}
                                <option value="{{ ipad_channel.id }}"
                                        {% if ipad_channel.id == selected_ipad_channel.id %}
                                        selected
                                        {% endif %}
                                        >{{ ipad_channel.title }}({{ state_dict|dict_get:ipad_channel.state }})</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    </td>
                    <td><select class="sub_channels_selector" id="subchannel_id_of_ipad"
                                name="subchannel_id_of_ipad">
                        {% if not selected_ipad_sub_channel %}
                            <option value="0">无</option>
                        {% else %}
                            {% for ipad_sub_channel in ipad_sub_channels_of_selected_channel %}
                                <option value="{{ ipad_sub_channel.id }}"
                                        {% if ipad_sub_channel.id == selected_ipad_sub_channel.id %}
                                        selected
                                        {% endif %}
                                        >{{ ipad_sub_channel.title }}({{ state_dict|dict_get:ipad_sub_channel.state }})</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-success">保存</button>
            <a class="btn btn-default" href="{% url 'brand_modules' %}">返回</a>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript">
        {% include "common_module/image_upload.js" %}
        {% include 'brand/modules/_brand_module_validate.js' %}
        $(document).ready(function () {
            $("#li_iphone_module").addClass('active');
            var img_upload_arr = ['normal', 'small'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }
        });

    </script>
    <script type="text/javascript">
    $(".channels_selector").change(function(){
        platform = $(this).parents("tr").attr("id")
        selected_channel_id = $(this).val()
        $.ajax({
            url: '/content/brand/brand_module/select_channel',
            type: "POST",
            dataType: 'json',
            data: {
                platform: platform,
                selected_channel_id: selected_channel_id
            },
            success: function (data) {
                alert(data.replace_options);
                $("#"+platform+" .sub_channels_selector").html(data.replace_options)
            }
        })
    })

</script>

{% endblock %}