{% extends "base.html" %}

{% block content %}

    <div class="row-fluid input-prepend">
        <h3>精选页模块管理</h3>
        <span class="add-on">频道:</span>
        <select class="col-sm-8" id="select_channel" name="select_channel">
            {% for channel in channels %}
                {% ifequal this_channel.id channel.id %}
                    <option value="{{ channel.id }}" selected="selected">
                      {{ channel.title }}
                      ({% if channel.switch_jin == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% else %}
                    <option value="{{ channel.id }}">{{ channel.title }}
                    ({% if channel.switch_jin == 1 %}开启{% else %}关闭{% endif %})
                    </option>
                {% endifequal %}
            {% endfor %}
        </select>

    </div>
    <table class="table table-striped">
        <thead>
            <th>CID</th>
            <th>标题</th>
            <th>视频个数</th>
            <th>状态(开/关)</th>
            <th>操作</th>
        </thead>
        <tbody id="sortable">
            {% for module in modules %}
                <tr id="module_{{ module.id }}" value="{{ module.id }}">
                    <td>{{ module.id }}</td>
                    <td>{{ module.title }}</td>
                    <td>{{ module.nums }}</td>

                    <td>
                        <a class="select_pick" href="#" id="status_{{ module.id  }}" data-type="select" data-pk="{{ module.id  }}" data-url="/content/ipad/update_status/jinpage/module" data-title="状态管理" data-value={{ module.state }}></a>
                    </td>

                    <td colspan="2">

                        <a href="{% url "ipad_query_sub_channel_module"%}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}">修改</a>
                        <a href="{% url "ipad_delete_sub_channel_module"%}?module_id={{ module.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}" class="del">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if not channels %}
         <div class="row-fluid">
           <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 频道数据为空,请创建频道数据。
                  <a href="{% url 'ipad_channels' %}">创建频道</a>
                </div>
           </div>
         </div>
    {% else %}
{#    {% if not subchannels %}#}
{#             <div class="col-sm-8">#}
{#                <div class="alert" >#}
{#                  <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                  <strong>Warning!</strong> 子频道数据为空,请创建子频道数据。#}
{#                  <a href="{% url 'ipad_sub_channel' %}">创建子频道</a>#}
{#                </div>#}
{#            </div>#}
{#    {% else %}#}

            {% if not modules %}
                <div class="row-fluid">
                   <div class="col-sm-8">
                        <div class="alert" >
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong>Warning!</strong> 模块数据为空,请创建精选页模块。
                        </div>
                    </div>
               </div>
            {% endif %}

            <div class="row-fluid">
                <form method="post" id="save_position_form">
                    <input type="hidden" name="item_ids" id="item_ids"/>
{#                    <input type="hidden" name="this_subchannel_id" id="this_subchannel_id" value="{{ this_subchannel.id }}"/>#}
                    <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
                    <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">创建模块</a>
                    <input type="submit" value="保存顺序" class="btn btn-primary" id="save_position_btn"/>
                </form>
            </div>

{#    {% endif %}#}

    <div class="row-fluid">
        {% include  'jinpage_module/add_jinpage_module.html'  %}
    </div>
    {% endif %}

{% endblock %}


{% block js %}

   <script type="text/javascript">
        function collect_module_ids_with_order(){
            children = $("#sortable").children();
            ret = ''
            for(i=0;i<children.length;i++){
                child = children[i];
                ret += $(child).attr('value')+',';
            }
            return ret.substring(0, ret.length-1);
        }

        $(document).ready(function () {

            $(".data_tip").tooltip();

            $("#sortable").sortable({
                revert: true,
                start: function(event, ui) {
                    ui.item.startPos = ui.item.index();
                },
                stop: function(event, ui) {
                    console.log("Start position: " + ui.item.startPos);
                    console.log("New position: " + ui.item.index());
                }
            });

            $("#save_position_btn").click(function(){
                item_ids = collect_module_ids_with_order();
                if(item_ids==''){
                    alert('没有要排序的内容');
                    return false;
                }
                $("#item_ids").val(item_ids);
            });

            $(".del").click(function(){

                var statu = confirm("确认删除吗?");
                if(!statu){
                    return false;
                }
            });

            $("#select_channel").change(function(){
                channel_id = $(this).children('option:selected').val();
                window.location.href = "{% url 'ipad_jin_page_module' %}"+"?select_channel="+channel_id;
            });


            $("#select_subchannel").change(function(){
                subchannel_id = $(this).children('option:selected').val();
                channel_id = $("#select_channel").val();
                window.location.href = "{% url 'ipad_sub_channel_modules' %}"+"?select_channel="+channel_id +"&select_subchannel="+subchannel_id;
            });

            $(function(){
            $.fn.editable.defaults.mode = 'popup';
            $('.select_pick').editable({
                showbuttons: false,
                source: [
                      {value: 1, text: '开启'},
                      {value: 0, text: '关闭'}
               ]
            });
        });

        });
    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}