{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>视频修改</h3>

            <form role="form" method="post" action="{% url 'android_update_channel_video' %}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">
                <input type="hidden" name="channel_id" value="{{ video.channel_id }}">
                    <div class="form-group">
                        <label for="video_id">视频ID</label>
                        <label>{{ video.video_id }}</label>
                    </div>

                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ video.title }}">
                </div>

                <div class="form-group">
                    <label for="subtitle">子标题</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ video.subtitle }}">
                </div>

                <div class="form-group">
                    <label for="intro">腰封</label>
                    <input type="text" class="form-control" id="intro" name="intro" value="{{ video.intro }}">
                </div>

                <div class="form-group">
                    <label for="pgc_uid">pgc-uid</label>
                    <input type="text" class="form-control" id="pgc_uid" name="pgc_uid" value="{{ video.pgc_uid }}">
                </div>

                <div class="control-group">
                    <label for="screen-input" class="control-label">图片</label>

                    <div class="controls">

                <span id="screen_button" class="btn btn-success fileinput-button  btn-large ">
                    <span>+ 上传截图...</span>
                    <input id="screen-img-upload" type="file" name="files[]" multiple>
                </span>

                        <div id="screen-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px">
                            <button type="button" class="close">&times;</button>
                            <img id='img-content' src="{{ video.h_image }}" class="img-polaroid">
                        </div>
                        <div id="screen-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='screen-input' name='h_image' value="{{ video.h_image }}" height="100"
                               width="100"/>

                    </div>

                </div>


                <div class="form-group">
                    <label for="video_type">视频类型</label>
                    <label class="form-control" id="video_type" >
                           {% show_video_type_human_readable video.video_type %} </label>
                </div>

                <div class="form-group">
                    <label for="pay_type">付费类型</label>
                    <label>{{ video.pay_type_for_view }}</label>
                </div>

                <button type="submit" class="btn btn-default">修改</button>
                <a class="btn btn-default"
                   href="{% url 'android_channel_videos' %}?channel_id={{ video.channel_id }}">返回</a>

            </form>
        </div>
    </div>
{% endblock %}