{% extends "base.html" %}

{% load util_tags %}


{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid" style="margin-left: 200px;">

            <h3>更新视频</h3>

            <form role="form" method="post" action="{% url 'iphone_update_fixed_position_video' %}">

                <div class="form-group">
                    <label for="type">类型</label>
                    <input type="text" class="form-control" id="type"
                           value="{% show_video_type_human_readable video.video_type %}" readonly>
                </div>
                <div class="form-group">
                    <label for="video_id">视频ID</label>
                    <input type="text" class="form-control" id="video_id" value="{{ video.video_id }}" readonly>
                </div>
                <div class="form-group">
                    <label for="fixed_position">固定位置</label>
                    <select class="form-control" id="fixed_position" name="fixed_position" placeholder="">
                        {% for idx in fixed_position_list %}
                            <option value="{{ idx }}" {% if idx == video.fixed_position %}
                                    selected="selected" {% endif %}>{{ idx }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ video.title }}">
                    <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">
                    <input type="hidden" class="form-control" id="module_id" name="module_id" value="{{ module_id }}">
                    <input type="hidden" class="form-control" id="subchannel_id" name="subchannel_id"
                           value="{{ subchannel_id }}">
                    <input type="hidden" class="form-control" id="channel_id" name="channel_id"
                           value="{{ channel_id }}">
                </div>


                <div class="form-group">
                    <label for="subtitle">副标题</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ video.subtitle }}">
                </div>
                <div class="form-group">
                    <label for="title">腰封</label>
                    <input type="text" class="form-control" id="introduction" name="intro" value="{{ video.intro }}">
                </div>
                <div class="form-group">
                    <label for="pgc_uid">PGC_UID</label>
                    <input type="text" class="form-control" id="pgc_uid" name="pgc_uid" value="{{ video.intro }}">
                </div>

                <div class="control-group">
                    <label for="normal-input" class="control-label" id="h_image_label">横图</label>

                    <div class="controls">
                                <span id="normal-button" class="btn btn-success fileinput-button"
                                      {% if video.h_image %}style="display:none;"{% endif %}>
                                     <span>+ 上传截图...</span>
                                     <input id="normal-upload" type="file" name="files[]" multiple>
                                </span>

                        <div id="normal-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.h_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='normal-content'
                                 src="{% if video.h_image %}{{ video.h_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="normal-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='normal-input' name='h_image'
                               value="{% if video.h_image %}{{ video.h_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>

                <div class="control-group">
                    <label for="vimage-input" class="control-label" id="v_image_label">竖图</label>
                    <div class="controls">

                                    <span id="vimage-button" class="btn btn-success fileinput-button"
                                          {% if video.v_image %}style="display:none;"{% endif %}>
                                         <span>+ 上传截图...</span>
                                         <input id="vimage-upload" type="file" name="files[]" multiple>
                                    </span>

                        <div id="vimage-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.v_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='vimage-content' src="{% if video.v_image %}{{ video.v_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="vimage-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='vimage-input' name='v_image'
                               value="{% if video.v_image %}{{ video.v_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>
            
                {% if module_type == 1 %}
                <div class="control-group">
                    <label for="normal-input" class="control-label" id="s_image_label">轮播图</label>
                    <div class="controls">
                                    <span id="slider-button" class="btn btn-success fileinput-button"
                                          {% if video.s_image %}style="display:none;"{% endif %}>
                                         <span>+ 上传截图...</span>
                                         <input id="slider-upload" type="file" name="files[]" multiple>
                                    </span>
                        <div id="slider-success" class="alert alert-success"
                             style="font-size: 20px;margin-top: 10px;width:150px;
                                     {% if not video.s_image %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='slider-content' src="{% if video.s_image %}{{ video.s_image }}{% endif %}"
                                 class="img-polaroid">
                        </div>
                        <div id="slider-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='slider-input' name='s_image'
                               value="{% if video.s_image %}{{ video.s_image }}{% endif %}" height="100"
                               width="100"/>
                    </div>
                </div>
                {% endif %}


                <button type="submit" class="btn btn-default"><i class="icon-ok"></i>更新</button>
                <a class="btn btn-default"
                   href="{% url "iphone_fixed_position_videos" %}?module_id={{ module_id }}&channel_id={{ channel_id }}&subchannel_id={{ subchannel_id }}"><i class="icon-arrow-left"></i>返回</a>
            </form>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript">
        {% include "iphone/channel/fixed_pos_videos/_add_video_validate.js" %}
        {% include "common_module/image_upload.js" %}
        $(document).ready(function () {
            $.ajax({
                dataType: 'json',
                url: "{% url "iphone_get_img_desc" %}",
                data: {
                    'module_id': '{{ module_id }}',
                    'subchannel_id': '{{ subchannel_id }}'
                },
                success: function (data) {
                    var img_arr = ['h_image', 'v_image', 's_image'];
                    for (var i = 0; i < img_arr.length; i++) {
                        var tar = '#' + img_arr[i] + '_label';
                        if ($(tar).length !== 0) {
                            var new_text = $(tar).text() + '(' + data[img_arr[i] + '_desc'] + ')';
                            $(tar).text(new_text);
                        }
                    }
                }
            });

            var img_upload_arr = ['normal', 'vimage', 'slider'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

        });


    </script>

{% endblock %}