{% extends "base.html" %}


{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <link href="{{ STATIC_URL }}bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <style type="text/css">
        .status_editable {

        }
    </style>
{% endblock %}

{% block content %}

<div>
  <div >
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">更新提货点</h4>
        
      </div>
      <div class="modal-body">
        <form id="form_add_address" method="post" action="/content/address/update">

          <div class="form-group">
            <label class="sr-only" for="name"></label>
            <div class="input-group">
              <div class="input-group-addon">名称</div>
              <input type="text"  value="{{ad.name}}" class="form-control" name="name" id="name" placeholder="">
            <input type="hidden"  value="{{ad.id}}" class="form-control" name="pk" id="pk">
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="address"></label>
            <div class="input-group">
              <div class="input-group-addon">地址</div>
              <input type="text" value="{{ad.address}}" class="form-control" name="address" id="address" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="city"></label>
            <div class="input-group">
              <div class="input-group-addon">城市</div>
              <input type="text" value="{{ad.city}}" class="form-control" name="city" id="city" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="city_code"></label>
            <div class="input-group">
              <div class="input-group-addon">城市编码</div>
              <input type="text" value="{{ad.city_code}}" class="form-control" name="city_code" id="city_code" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="phone"></label>
            <div class="input-group">
              <div class="input-group-addon">联系电话</div>
              <input type="text" value="{{ad.phone}}" class="form-control" name="phone" id="phone" placeholder="">
            </div>
          </div>

          <div class="form-group">
            
            <div class="input-group">
              <div class="input-group-addon">上线时间</div>
                <input size="16" type="text" class="form-control form_datetime"  style="width:200px" id="onlinetime" value="{{ad.onlinetime_str}}" name="onlinetime" value="" >
              </div>
          </div>

        
        </form>
      </div>
      <div class="modal-footer">
        <a href="/content/address" class="btn btn-default" >返回</a>
        <button id="btn_create" type="button" class="btn btn-primary">更新</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    // prepare the form when the DOM is ready
    $(document).ready(function() {
        var options = {
            //target:        '#output1',   // target element(s) to be updated with server response
            beforeSubmit:  showRequest,  // pre-submit callback
            success:       showResponse  // post-submit callback
        };

        $('#form_add_address').ajaxForm(options);

        $('#btn_create').click(function(){
            $('#form_add_address').submit();
        });


         $(".form_datetime").datetimepicker({
              format: "yyyy-mm-dd",
                language:  'zh-CN',  
                weekStart: 1,  
                todayBtn:  1,  
                autoclose: 1,  
                todayHighlight: 1,  
                startView: 2,  
                minView: 2,  
                forceParse: 0  
          });
    });


    // pre-submit callback
    function showRequest(formData, jqForm, options) {
        // formData is an array; here we use $.param to convert it to a string to display it
        // but the form plugin does this for you automatically when it submits the data
        // var queryString = $.param(formData);

        // // jqForm is a jQuery object encapsulating the form element.  To access the
        // // DOM element for the form do this:
        // // var formElement = jqForm[0];

        // alert('About to submit: \n\n' + queryString);

        // // here we could return false to prevent the form from being submitted;
        // // returning anything other than false will allow the form submit to continue
        // return true;

        for (var i=0; i < formData.length; i++) {
          if (!formData[i].value) {
              alert('表单值为空!');
              return false;
          }
        }
        return true;
    }

    // post-submit callback
    function showResponse(responseText, statusText)  {
        // for normal html responses, the first argument to the success callback
        // is the XMLHttpRequest object's responseText property

        // if the ajaxForm method was passed an Options Object with the dataType
        // property set to 'xml' then the first argument to the success callback
        // is the XMLHttpRequest object's responseXML property

        // if the ajaxForm method was passed an Options Object with the dataType
        // property set to 'json' then the first argument to the success callback
        // is the json data object returned by the server
        if(responseText.status=="success"){
            $().toastmessage('showSuccessToast', '操作成功');
            setTimeout(function () {location.reload()}, 1000);
        } else {
            $().toastmessage('showErrorToast', "操作失败");
        }

    }



  </script>
</div>


{% endblock %}




{% block js %}

    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}
