{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">
        div#addWrapper {
            text-align: center;
        }
        div#addPage {
            display: inline-block;
            text-align: left;
            margin-top: 20px;
        }
        div#footer {
            margin-top: 20px;
        }
        img#normal-content {
            max-height: 170px;
            max-width: 200px;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
            <ul class="breadcrumb">
                <li><a href="/content/android/main_page/uniq_modules" style="text-decoration: none;">Android内容管理</a>
                    <span class="divider">/</span>
                </li>
                <li><a href="/content/android/main_page/videos?box_id={{ current_box_id }}" style="text-decoration: none;">{{ current_box.title }}抽屉</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">新增视频</li>
            </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="addWrapper">
        <div id="addPage">
        <form method="post">
            <div id="div_for_video_type" >
                <h5>视频类型:</h5>
                <select class="form-control" id="video_type" name="video_type" placeholder="">
                {% for type in video_type_list %}
                    <option value="{{ type.name }}"
                       {% ifequal type.id 1 %}
                            selected="selected"
                       {% endifequal %}
                            >
                        {{ type.desc }}</option>
                {% endfor %}
                </select>
            </div>
            <input type="hidden" name="box_id" value="{{ current_box_id }}">

            <!-- <textarea for="url_filed" name="url" cols="3" rows="6"></textarea> -->
                <div id="div_for_video_type_field" ></div>

            <div id="footer">
                <button type="submit" class="btn"><i class="icon-ok-sign"></i>确定</button>
                <a class="btn" href="{% url "android_main_page_videos" %}?box_id={{ current_box_id }}"><i class="icon-circle-arrow-left"></i>返回</a>
            </div>
        </form>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">{% include "common_module/image_upload.js" %}</script>
    <script type="text/javascript">
        {% include "android/main_page/video_manage/_add_video_validate.js" %}
        $(document).ready(function () {
            $("#video_type").change(function () {
                selected_video_type = $("#video_type").val();
                console.info("...." + selected_video_type);
                $("#div_for_video_type_field").load("/content/android/main_page/add/video_field",
                        {
                            "video_type": selected_video_type,
                            'box_id': {{ current_box_id }}
                        });
            });

            $("#video_type").trigger('change');

        })
    </script>
    <script>
        function get_game_info(){
                var game_id = $("#game_id").val();
                $.get('/content/get_game_info', {game_id: game_id, product: 'android'},
                        function(response, status, xhr){
                            if (status == 'success') {
                                $("#game_name").val(response["appname"]);
                                $("#game_version").val(response["version"]);
                                $("#itunes_id").val(response["itunesid"]);
                                $("#logo").val(response["logo"]);
                                $("#scroll").val(response["scroller"]);
                                $("#score").val(response["score"]);
                                $("#url").val(response["url"]);
                                $("#desc").val(response["desc"]);
                                $("#upload_time").val(response["upload_time"]);
                                $("#size").val(response["size"]);
                                $("#charge_type").val(response["charge"]);
                                $("#redirect_type").val(response["redirect_type"]);
                                $("#recommend_type").val(response["recommend_type"]);
                                $("#redirect_url").val(response["redirect_url"]);
                                $("#categories").val(response["categories"]);
                            }
                        }, dataType="json"
                );
                event.preventDefault();
            }
    </script>
{% endblock %}


