{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}
<table class="table-striped">
    <tr>
        <td><span style="color: orangered">*</span>标题:</td>
    </tr>
    <tr>
        <td><input type="text" id="title" name="title"></td>
    </tr>
    <tr>
        <td><span style="color: orangered">*</span>{{ image_desc }}</td>
    </tr>
    <tr>
        <td>
            {% include 'android/main_page/video_manage/_add_image.html' with image_name=image_name%}
        </td>
    </tr>
</table>
{% include "new/game/android_game_detail.html" with game=game %}

{% block uploadjs %}
    <script type="text/javascript">
        $(function () {
            var img_upload_arr = ['normal'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $(".alert button").click(function () {
                //此为点击“X”之后的一系列动作
                //btn 为<button type="button" class="close">&times;</button>
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });
        });

    </script>
{% endblock %}


