{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">
        table {
            width: 720px !important;
        }
        table tr td:first-child {
            width: 220px;
        }
    </style>

    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>视频修改</h3>

            <form role="form" method="post" action="{% url 'android_update_video' %}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">
                <table class="table table-hover table-striped">
                    <tr>
                        <td style="width: 150px"></td>
                        <td><label for="video_id">视频ID</label></td>
                        <td><label>{{ video.video_id }}</label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="title"><span style="color: orangered">*</span>标题</label></td>
                        <td><input type="text" class="form-control" id="title" name="title" value="{{ video.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="subtitle">子标题</label></td>
                        <td><input type="text" class="form-control" id="subtitle" name="subtitle"
                                   value="{{ video.subtitle }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="intro">腰封</label></td>
                        <td><input type="text" class="form-control" id="intro" name="intro" value="{{ video.intro }}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="pgc_uid">pgc-uid</label></td>
                        <td><input type="text" class="form-control" id="pgc_uid" name="pgc_uid"
                                   value="{{ video.pgc_uid }}"></td>
                    </tr>
                    <tr class="control-group">
                        <td></td>
                        <td><label for="screen-input" class="control-label"><span style="color: orangered">*</span>{{ image_desc }}</label></td>
                        <div class="validate-error"></div>
                        <td>
                            {% include 'android/main_page/video_manage/_update_image.html' with image_name=image_name image_url=image_url%}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="video_type">视频类型</label></td>
                        <td><label class="form-control" id="video_type">
                            {{ video.video_type_for_view }} </label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="pay_type">付费类型</label></td>
                        <td><label>{{ video.pay_type_for_view }}</label></td>
                    </tr>
                </table>

                <table class="table table-hover table-striped">
                    {% include "android/main_page/module_manage/game/android_game_update_detail.html" with game=game original_game_id=game.original_game_id %}
                </table>

                <button type="submit" class="btn btn-default"><li class="icon-ok-sign"></li>修改</button>
                <a class="btn btn-default"
                   href="{% url 'android_main_page_videos' %}?box_id={{ video.box_id }}"><li class="icon-circle-arrow-left"></li>返回</a>

            </form>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>

    <script type="text/javascript">
        {% include "android/main_page/video_manage/_update_video_validate.js" %}
        {% include "common_module/image_upload.js" %}
        $(function () {

            $(".alert button").click(function () {
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });
            var img_upload_arr = ['normal'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

        });


    </script>
{% endblock %}