{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vidinfos.css">

    <style type="text/css">
        .form-group{
            margin-top: 20px;
            margin-left: 0px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="">
            <span class="label label-success" style="margin-bottom: 10px">基础信息</span>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" style="margin-top: 20px">
            <div class="form-group has-success">
                <label class="col-sm-2 control-label">
                    展示图片
                </label>

                <div id="show_image_div" class="col-sm-5">
                    <span class="btn btn-success fileinput-button form-control" {% if item.show_image %}
                          style="display: none;" {% endif %}>
                            <span>+添加展示图片</span>
                            <input id="show_img_input" class="image_input" type="file" name="files[]"
                                   accept="image/png, image/gif, image/jpg, image/jpeg">
                    </span>

                    <div class="alert alert-success img_div"
                         style="display: {% if not item.show_image %}none{% endif %};font-size: 20px;margin-top: 10px">
                        <button type="button" class="close">&times;</button>
                        <img src="{{ item.show_image }}" class="img-responsive img-polaroid"/>
                    </div>

                    <div class="progress progress-success progress-striped active" style="display: none">
                        <div class="bar"></div>
                    </div>
                    <input type='hidden' id='show_image' class='result-input' value="{{ item.show_image }}"/>
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-2 control-label">
                    商品名称
                </label>
                <div class="col-sm-5">
                    <input id="title" type="text" class="form-control" value="{{ item.title|default:"" }}">
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-2 control-label">
                    商品价格
                </label>
                <div class="col-sm-3 has-success">
                    <div class="input-group">
                        <div class="input-group-addon">￥</div>
                            <input id="stock_price" type="text" class="form-control" value="{{ item.stock_price|default:"" }}">
                    </div>
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-2 control-label">
                    进货价格
                </label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <div class="input-group-addon">￥</div>
                            <input id="stock_price" type="text" class="form-control" value="{{ item.stock_price|default:"" }}">
                    </div>
                </div>
            </div>

            <div class="form-group has-success">
                <label class="col-sm-2 control-label">商品分类</label>
                <div class="col-sm-3">
                    <select id="category" class="form-control">
                        {% for category in categories %}
                            <option value="{{ category.id }}"
                                    {% if item.categroy_id == category.id %}
                                    selected="selected"
                                    {% endif %}>
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <span class="label label-warning">补充信息</span>

            <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">促销类型</label>
                    <div class="col-sm-3">
                        <select id="promote" class="form-control">
                            {% for promote in promotes %}
                                <option value="{{ promote.id }}"
                                        {% if item.promote_id == promote.id %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ promote.title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">轮播图</label>
                    <div id="scroller_div" class="col-sm-5">
                        <span class="btn btn-success fileinput-button form-control" {% if item.adv_image %}
                              style="display: none;" {% endif %}>
                                <span>+添加轮播图</span>
                                <input class="image_input" type="file" name="files[]"
                                       accept="image/png, image/gif, image/jpg, image/jpeg">
                        </span>

                        <div class="alert alert-success img_div"
                             style="display: {% if not item.adv_image %}none{% endif %};font-size: 20px;margin-top: 10px">
                            <button type="button" class="close">&times;</button>
                            <img src="{{ item.adv_image }}" class="img-responsive img-polaroid"/>
                        </div>

                        <div class="progress progress-success progress-striped active" style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='scroller' class='result-input' value="{{ item.adv_image }}"/>
                    </div>
                </div>



                <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">
                        商品截图
                    </label>

                    <div class="col-sm-5">
                        <span id="screenshot_btn" class="btn btn-success fileinput-button form-control">
                                <span>添加图片(批量添加)</span>
                                <input id="screenshot_input" type="file"
                                       accept="image/png, image/gif, image/jpg, image/jpeg" multiple>
                        </span>

                        <div id="screenshot_progress" class="progress progress-success progress-striped active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <br>

                        <div id="screenshot_div" style="margin-top: 20px">
                            {% for screenshot in item.get_screenshot_list %}
                                <div class="alert alert-warning alert-dismissible modified_alert" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="{{ screenshot }}" class="img-rounded img-responsive">
                                    <input type="hidden" class="screenshot_urls" value="{{ screenshot }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="screenshot_template" class="alert alert-warning alert-dismissible modified_alert"
                         role="alert" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img class="img-rounded img-responsive">
                        <input type="hidden">
                    </div>
                </div>

                <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">
                        商品短描述
                    </label>
                    <div class="col-sm-6">
                        <textarea id="short_desc" class="form-control">{{ item.short_desc }}</textarea>
                    </div>
                </div>

                <div class="form-group has-warning">
                    <label class="col-sm-2 control-label">
                        商品描述
                    </label>
                    <div class="col-sm-10">
                        <textarea id="desc" class="form-control" style="height: 200px">{{ item.desc }}</textarea>
                    </div>
                </div>

            </form>

        <div id="error_modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 id="error_title" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="error_content"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <div class="row" style="margin-top: 30px">
{#       <div class=" col-sm-offset-5 ">#}
            <button id="final_submit" class="btn btn-primary col-sm-5 col-sm-offset-2 ">保存</button>
{#       </div>#}
    </div>
    <br>
    <br>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
<script>

//upload img
uploadImage2v($('#show_image_div'), null, null);
uploadImage2v($('#scroller_div'), null, null);


function screenshot_add(src) {
    $("#screenshot_div").append($("#screenshot_template").clone());
    $("#screenshot_div").children().last().removeAttr("id style");
    $("#screenshot_div").children().last().find("img").attr("src", src);
    $("#screenshot_div").children().last().find("input").addClass("screenshot_urls");
    $("#screenshot_div").children().last().find("input").attr("value", src);
}

$('#screenshot_input').fileupload({
    autoUpload: true,//是否自动上传
    url: '/app/img/upload',//上传地址
    dataType: 'json',
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    maxFileSize: 1048576,

    add: function (e, data) {
        data.formData = {
            'type': $('#screenshot_type').val()
        };
        var uploadErrors = [];
        var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
        $.each(data.originalFiles, function (index, item) {
            if ('type' in item && !acceptFileTypes.test(item['type'])) {
                uploadErrors.push('上传图片格式错误。');
            }
            if ('size' in item && item['size'] > 1048576) {
                uploadErrors.push('上传图片需要小于1Mb。');
            }
        });

        if (uploadErrors.length > 0) {
            show_error_message("上传错误", uploadErrors.join("\n"));
        } else {
            data.submit();
        }
    },

    done: function (e, data) {//设置文件上传完毕事件的回调函数
        $("#screenshot_btn").show();
        $("#screenshot_progress").hide();
        if ("e" in data.result && data.result["e"]["code"] < 0) {
            show_error_message("上传错误: code-" + data.result["e"]["code"] + ' desc-' + data.result["e"]["desc"]);
            return;
        }
        $.each(data.result.files, function (index, file) {
            screenshot_add(file.url);
        });
    },

    progressall: function (e, data) {//设置上传进度事件的回调函数

        $("#screenshot_btn").hide();
        $("#screenshot_progress").show();

        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#screenshot_progress .bar').css(
                'width',
                progress + '%'
        );
    }
});


//upload
function uploadImage2v(input_file, width, height){
    var url = '/content/upload/img';
    var fileSelector = input_file.find('.image_input');
    var imageDivSelector = input_file.find('.img_div');
    var progressBarSelector = input_file.find('.progress');
    var inputButtonSelector = input_file.find('.fileinput-button');
    var imageContainerSelector = input_file.find('.img-polaroid');
    var imageInputSelector = input_file.find('.result-input');
    var closeBtnSelector = input_file.find('.alert button');

    $(closeBtnSelector).click(function () {
            $(imageContainerSelector).attr("src", "");
            $(imageInputSelector).attr("value", "");
            $(imageDivSelector).hide();
            $(inputButtonSelector).show();
        });

    $(fileSelector).fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 1048576,

        add: function (e, data) {
            var uploadErrors = [];
            var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
            var _URL = window.URL || window.webkitURL;
            var img = new Image();
            img.src = _URL.createObjectURL(data.originalFiles[0]);
            if ('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                uploadErrors.push('上传图片格式错误!');
            }

            if ('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 1048576) {
                uploadErrors.push('上传图片需要小于1M!');
            }
            img.onload = function () {
                if (width != null && height != null && (img.width != width || img.height != height)) {
                    uploadErrors.push('上传图片尺寸错误。');
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
            }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数
            //console.log(inputButtonSelector);

            if ("e" in data.result && data.result["e"]["code"] < 0) {
               //console.log(inputButtonSelector);
               //console.log(progressBarSelector);
               $(inputButtonSelector).show();
               $(progressBarSelector).hide();
               alert("upload error:" + data.result["e"]["code"] + ':' + data.result["e"]["desc"]);
               return;
            }

            $.each(data.result.files, function (index, file) {//
                $(imageContainerSelector).attr("src", file.url);

                var img_input = $(imageInputSelector);
                img_input.attr('value', file.url);
            });

            $(progressBarSelector).hide();
            $(imageDivSelector).show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $(inputButtonSelector).hide();
            $(progressBarSelector).show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $(progressBarSelector.find('.bar')).css(
                    'width',
                    progress + '%'
            );
        },

        fail: function (e, data) {
            $(inputButtonSelector).show();
            $(progressBarSelector).hide();
            console.log(inputButtonSelector);
            console.log(progressBarSelector);
            console.log(e);
            console.log(data);
            alert("上传失败!");
        }

    }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    }


function screenshot_add(src) {
    $("#screenshot_div").append($("#screenshot_template").clone());
    $("#screenshot_div").children().last().removeAttr("id style");
    $("#screenshot_div").children().last().find("img").attr("src", src);
    $("#screenshot_div").children().last().find("input").addClass("screenshot_urls");
    $("#screenshot_div").children().last().find("input").attr("value", src);
}

$('#screenshot_input').fileupload({
    autoUpload: true,//是否自动上传
    url: '/content/upload/img',//上传地址
    dataType: 'json',
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    maxFileSize: 1048576,

    add: function (e, data) {
        data.formData = {
            'type': $('#screenshot_type').val()
        };
        var uploadErrors = [];
        var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
        $.each(data.originalFiles, function (index, item) {
            if ('type' in item && !acceptFileTypes.test(item['type'])) {
                uploadErrors.push('上传图片格式错误。');
            }
            if ('size' in item && item['size'] > 1048576) {
                uploadErrors.push('上传图片需要小于1Mb。');
            }
        });

        if (uploadErrors.length > 0) {
            show_error_message("上传错误", uploadErrors.join("\n"));
        } else {
            data.submit();
        }
    },

    done: function (e, data) {//设置文件上传完毕事件的回调函数
        $("#screenshot_btn").show();
        $("#screenshot_progress").hide();
        if ("e" in data.result && data.result["e"]["code"] < 0) {
            show_error_message("上传错误: code-" + data.result["e"]["code"] + ' desc-' + data.result["e"]["desc"]);
            return;
        }
        $.each(data.result.files, function (index, file) {
            screenshot_add(file.url);
        });
    },

    progressall: function (e, data) {//设置上传进度事件的回调函数

        $("#screenshot_btn").hide();
        $("#screenshot_progress").show();

        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#screenshot_progress .bar').css(
                'width',
                progress + '%'
        );
    }
});



//validate
$("#final_submit").click(function () {

    $("#final_submit").addClass("disabled");

    var result = {"item_id": "{{ item_id |default:"" }}"};

    if ($("#title").val() == "")
        return show_error_message_submit("请填写商品名称");
    else
        result['title'] = $("#title").val();

    if ($("#price").val() == "")
        return show_error_message_submit("请填写商品价格");
    else
        result['price'] = $("#price").val();

    if ($("#stock_price").val() == "")
        return show_error_message_submit("请填写进货价格");
    else
        result['stock_price'] = $("#stock_price").val();

    if ($("#show_image").val() == "")
        return show_error_message_submit("请上传商品展示图");
    else
        result['show_image'] = $("#show_image").val();


    if ($("#category").val() == "")
        return show_error_message_submit("请选择商品分类");
    else
        result['category'] = $("#category").val();


    if ($("#promote").val() == "")
        return show_error_message_submit("请选择推广类型");
    else
        result['promote'] = $("#promote").val();


    result['scroller'] = $("#scroller").val();

    if ($("#desc").val() == "")
        return show_error_message_submit("请填写简介");
    else
        result['desc'] = $("#desc").val();

    if ($("#short_desc").val() == "")
        return show_error_message_submit("请填写短描述");
    else
        result['short_desc'] = $("#short_desc").val();

{#    result['show_img_input'] = $("$show_img_input").val();#}

    var screenshot_urls = [];
    $(".screenshot_urls").each(function () {
        screenshot_urls.push($(this).val());
    });

    if (screenshot_urls.length != 4 && screenshot_urls.length != 0)
        return show_error_message_submit("必须上传4张图片");

    {#    else if (screenshot_urls.length > 6)#}
    {#        return show_error_message_submit("最多上传六张截图");#}
    {##}
    {#    else#}

    result['screenshot_urls'] = screenshot_urls;


    $.post("/content/item/edit", {"result": JSON.stringify(result)}, function (data) {
        if (data.status == "success") {
            alert("提交成功");
            window.location.replace("/content/item/edit?item_id=" + data.item_id);
        } else {
            show_error_message_submit(data.desc);
        }
    });

    return false;
});


function show_error_message(title, content) {
    $("#error_title").text(title);
    $("#error_content").text(content);
    $("#error_modal").modal();
}
function show_error_message_add(content) {
    show_error_message("添加错误", content);
}
function show_error_message_submit(content) {
    show_error_message("提交错误", content);
    $("#final_submit").removeClass("disabled");
    return false;
}

</script>
{% endblock %}