{% extends "base.html" %}
{% load util_tags %}

{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">

        {% include "common_module/sort_img.css" %}

        .input-prepend {
            margin: 10px 5px;
        }


        .table td img {
            cursor: pointer;
        }

        #lack-mes {
            margin-top: 30px;
        }
        .nav-list {
            color: #000;
        }
        .start-cate {
            font-weight: bold;
            color: #333;
        }
    </style>
{% endblock %}

{% block navigation %}
   <div class="navigation-div">
        <ul class="breadcrumb">
            <li class="start-cate">频道管理<span class="divider">/</span></li>
            <li><a class="nav-list" href="{% url 'ipad_new_channels' %}">ipad频道</a><span
                    class="divider">/</span></li>
            <li class="active">排行榜</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="row-fluid ">
        <div class="pull-left">
            <a class="btn" href="{% url 'ipad_new_channels' %}"><i class="icon-circle-arrow-left"></i>返回</a>
        </div>

        <div class="pull-right ">

            <a href="{% url 'ipad_add_ranking' %}" role="button" class="btn"
               data-toggle="modal"><i class="icon-plus"></i>新增</a>
            <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
            <input type="hidden" name="item_ids" id="item_ids"/>
        </div>
    </div>

    {% if ranks %}
        <table class="table table-striped table-hover">
            <thead>
            <th>模块ID</th>
            <th>标题</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
            <tbody id="sortable">
            {% for rank in ranks %}
                <tr value="{{ rank.id }}" class="sort-item">
                    <td>{% if rank.cid %}{{ rank.cid }}{% else %}{{ rank.cid }}{% endif %}</td>
                    <td>{{ rank.title }}</td>
                    <td class="out_pick">
                        <a class="select_pick" href="#" id="state" data-type="select" data-name="state"
                           data-pk="{{ rank.id }}"
                           data-url="{% url 'ipad_update_ranking_state' rank.id %}" data-title="状态管理"
                           data-value={{ rank.state }}></a>
                    </td>
                    <td colspan="2">
                        <a class="btn-small btn btn-table"
                           href="{% url "ipad_query_ranking" rank.id %}"><i
                                class="icon-edit"></i>修改</a>
                        <a class='btn-small btn btn-danger del btn-table'
                           href="{% url "ipad_delete_ranking" rank.id %}"><i
                                class="icon-trash"></i>删除</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

        <div id="lack-mes">
            <div class="alert alert-info">
                <i class="icon-info-sign"></i>没有排行数据!
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript">

        {% include "common_module/sort_edit_del.js" %}

        {% include "common_module/state_switch_basic.js" %}

        $(document).ready(function () {

        });


    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

{% endblock %}