{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">

        .img-polaroid {
            height: 70px !important;
        }

        .pagination {
            float: left;
            margin: 0 0 0 0;
        }

        div#btn-handle {
            clear: both;
        }

        span.current {
            vertical-align: 50%;
        }

        label.checkbox {
            margin: 0;
        }

        .batch {
            display: block;
            float: right;
            margin: 0 5px 0 5px;
        }

        .active-item-shadow {
            box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        {% if navigation_list %}
            {% for idx,val in navigation_list %}
                {% if idx == 0 %}
                    {{ val }}
                {% else %}
                    >>{{ val }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block content %}

    <div class="row-fluid input-prepend">
        <span class="add-on">频道:{{ channel.title }}</span>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="{% url 'iphone_new_channels' %}?content_type={{ channel.content_type }}">返回</a>
        <a class="btn btn-primary video-state" value="1" href="#">开启</a>
        <a class="btn btn-primary video-state" value="0" href="#">关闭</a>
        <a class="btn btn-danger"
           href="{% url 'iphone_add_channel_video' %}?channel_id={{channel.id }}">新增内容</a>
    </div>
    {% include "common_module/pagination.html" %}
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <th><label class="checkbox"><input type="checkbox" id="state-all-pick"></label></th>
        <th>视频id</th>
        <th>标题</th>
        {#        <th>副标题</th>#}
        <th>类型</th>
        <th>腰封</th>
        <th>创建日期</th>
        <th>横图</th>
        <th>竖图</th>
        <th>轮播图/游戏图</th>
        <th>版权</th>
        <th>付费</th>
        <th>状态(开/关)</th>
        <th>操作</th>
        </thead>

        <tbody id="sortable">
        {% for item in videos %}
            <tr id="module_{{ item.id }}" value="{{ item.id }}" class="sort-item">
                <td><input type="checkbox" class="video-state-tag" value="{{ item.id }}"></td>
                <td>{{ item.video_id }}</td>
                <td>{{ item.title }}</td>
                {#                <td>{{ item.subtitle }}</td>#}
                <td>{{ item.video_type_name }}</td>
                <td> {% if item.intro %}
                    <a class="data_tip" href="#" data-toggle="tooltip"
                       title="{{ item.intro }}">{{ item.intro|slice:"10" }}...</a>
                {% endif %}
                </td>
                <td>{{ item.created_at }}</td>
                <td><img src="{{ item.h_image }}" style="height: 90px" class="img-polaroid"/></td>
                <td>
                    {% if item.v_image %}
                        <img src="{{ item.v_image }}" style="height: 90px" class="img-polaroid"/>
                    {% endif %}
                </td>
                <td>
                    {% if item.s_image %}
                        <img src="{{ item.s_image }}" style="height: 90px" class="img-polaroid"/>
                    {% endif %}
                </td>
                <td>{% if item.has_copyright %}有
                {% else %}
                    无
                {% endif %}
                </td>
                <td>
                    {% if item.paid %} 付费
                    {% else %} 免费{% endif %}
                </td>
                <td>

                    <a class="select_pick" href="#" id="state" data-type="select"
                       data-pk="{{ item.id }}"
                       data-url="iphone/update_status/channel_video"
                       data-title="状态管理" data-value={{ item.state }}></a>
                </td>

                <td colspan="2">
                    <a href="{% url "iphone_query_channel_video" item.id %}">修改</a>
                    <a href="{% url "iphone_delete_channel_video" item.id %}?channel_id={{ channel.id }}" class="del">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if videos %}
        {% include "common_module/pagination.html" %}
    {% endif %}
    {% if not videos %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 频道视频数据为空,请创建频道视频数据。
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">

        {% include "common_module/sort_edit_del.js" %}
        function collect_change_video_ids() {
            var video_id_array = []
            var video_ids = ''
            $("input:checkbox:checked.video-state-tag").each(function () {
                video_id_array.push($(this).parent().parent().attr('value'))
            })
            video_ids = video_id_array.join(",")
            return video_ids
        }

        $(document).ready(function () {
            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.video-state-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.video-state-tag").attr("checked", false)
                }
            })
            {#  批量开启关闭 不确定是否需要 #}
            $('.video-state').click(function () {
                var video_ids = ""
                var val = $(this).attr("value")
                var source = {
                    '1': '开启',
                    '0': '关闭'
                }
                video_ids = collect_change_video_ids()
                if (video_ids.length > 0) {
                    $.ajax({
                        url: '/content/iphone/update_status/channel_video',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            video_ids: video_ids,
                            value: val
                        },
                        success: function (data) {
                            for (var i = 0; i < data.video_ids.length; i++) {
                                $('#status_' + data.video_ids[i]).html(source[val])
                            }
                            $().toastmessage({
                                position: 'middle-center'
                            });
                            $().toastmessage('showSuccessToast', '操作成功');
                        }
                    })
                }
            })

            $(".data_tip").tooltip();


        });
    </script>

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}