<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">创建首页模块</h3>
  </div>

  <div class="modal-body">
     <form role="form" method="post" action="{% url "cms_ipad_add_module" %}">
      <div class="form-group">
        <label for="module_type">模块类型</label>
        <select class="form-control" id="module_type" name="module_type" placeholder="">
            <option value="1">盒子</option>
            <option value="2">轮播图</option>
            <option value="3">首页推荐</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">模块标题</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="">
      </div>
      <div class="form-group">
        <label for="video_count">视频个数</label>
        <input type="text" class="form-control" id="video_count" name="video_count" placeholder="">
      </div>
      <div class="form-group">
        <label for="cid">频道跳转CID</label>
        <input type="text" class="form-control" id="cid" name="cid" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">创建</button>
      <a class="btn btn-default" href="{% url 'cms_ipad_modules' %}">返回</a>
      <input name="platform" type="hidden" value="{{ platform }}" />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>

</div>