{% extends "base.html" %}

{% block link %}

<link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}select2/select2.js"></script>
<link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h3>首页模块管理</h3>
    </div>

    <div class="row-fluid">
        <table class="table table-striped">
            <thead>
                <th>标题</th>
                <th>频道CID</th>
                <th>视频个数</th>
                <th>状态</th>
                <th>操作</th>
            </thead>
            <tbody id="sortable">
                {% for module in modules %}
                    <tr id="module_{{ module.id }}" value="{{ module.id }}">
                        <td>{{ module.title }}</td>
                        <td>{{ module.cid }}</td>
                        <td>{{ module.video_limit_count }}</td>
                        <td>
                            <a class="select_pick" href="#" id="status_{{ module.id  }}" data-type="select" data-pk="{{ module.id  }}" data-url="/content/ipad/update_status/module" data-title="状态管理" data-value={{ module.state }}></a>
                        </td>
                        <td colspan="1"><a href="{% url "query_module" module.id %}">修改</a> <a href="{% url "delete_module" module.id %}" class="del">删除</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not modules %}
        <div class="row-fluid">
           <div class="col-sm-8">
                <div class="alert" >
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> 相关首页模块数据为空,请创建模块数据。
                </div>
            </div>
       </div>
    {% endif %}


    <div class="row-fluid">
        <form method="post" id="save_position_form">
            <input name="platform" type="hidden" value="{{ platform }}" />
            <input type="hidden" name="module_ids" id="module_ids"/>
            <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">创建首页模块</a>
            <input type="submit" value="保存顺序" class="btn btn-primary" id="save_position_btn"/>
        </form>
    </div>

    <div class="row-fluid">
        {% include  'module/add_module.html'  %}
    </div>



{% endblock %}




{% block js %}

    <script type="text/javascript">

        function collect_module_ids_with_order(){
            children = $("#sortable").children();
            ret = ''
            for(i=0;i<children.length;i++){
                child = children[i];
                ret += $(child).attr('value')+',';
            }
            return ret.substring(0, ret.length-1);
        }

        $(document).ready(function () {
            $("#sortable").sortable({
                revert: true,
                start: function(event, ui) {
                    ui.item.startPos = ui.item.index();
                },
                stop: function(event, ui) {
                    console.log("Start position: " + ui.item.startPos);
                    console.log("New position: " + ui.item.index());
                    if (ui.item.startPos != ui.item.index()){
                        $("#save_position_btn").removeClass("disabled");
                    }
                }
            });

            $("#save_position_btn").click(function(){
                item_ids = collect_module_ids_with_order();
                if(item_ids==''){
                    alert('没有要排序的内容');
                    return false;
                }
                $("#module_ids").val(item_ids);
            });

            $(".del").click(function(){

                var statu = confirm("确认删除吗?");
                if(!statu){
                    return false;
                }
            });


        })


        $(function(){
            $.fn.editable.defaults.mode =  'popup';
            $('.select_pick').editable({
                showbuttons: false,
                source: [
                      {value: 1, text: '开启'},
                      {value: 0, text: '关闭'}
                   ]
            });
        });
    
</script>

    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

 {% endblock %}