{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <h3>更新模块数据</h3>

            <form role="form" method="post" action="{% url "update_module" %}">
                <div class="form-group">
                    <label for="title">模块标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ module.title }}">
                    <input type="hidden" class="form-control" id="id" name="id" value="{{ module.id }}">
                </div>
                <div class="form-group">
                    <label for="video_count">视频个数</label>
                    <input type="text" class="form-control" id="video_count" name="video_count"
                           value="{{ module.video_limit_count }}">
                </div>
                <div class="form-group">
                    <label for="cid">跳转CID</label>
                    <input type="text" class="form-control" id="cid" name="cid" value="{{ module.cid }}">
                </div>
                <button type="submit" class="btn btn-default">更新</button>
                <a class="btn btn-default" href="{% url 'cms_ipad_modules' %}">返回</a>
            </form>

    </div>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#li_ipad_module").addClass('active');
        });
    </script>

{% endblock %}