{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}

    <table>
    <tr><td><span style="color: orangered">*</span>标题:</td></tr>
    <tr><td><input type="text" id="title" name="title"></td></tr>
    <tr>
        <td><label for="screen-input" class="control-label"><span style="color: orangered">*</span>
            图片{% if device_type == 'phone' %}(720*212) {%elif device_type == 'pad'%} (1280*172) {% endif %}</label></td>
        <td>
    <tr>
            <td>
                <div class="control-group">
                    <label for="normal-input" class="control-label"></label>

                    <div class="controls">
                    <span id="normal-button" class="btn btn-success fileinput-button ">
                         <span>+ 上传截图...</span>
                         <input id="normal-upload" type="file" name="files[]" multiple>
                    </span>

                        <div id="normal-success" class="alert alert-success" style="display: none;">
                            <button type="button" class="close">&times;</button>
                            <img id='normal-content' src="" class="img-polaroid">
                        </div>
                        <div id="normal-progress" class="progress progress-success progress-striped  active"
                             style="display: none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id='normal-input' name='h_image' value="" height="100" width="100"/>
                    </div>
                </div>
            </td>
    </tr>
    </table>
{#    这里引用的页面与首页抽屉tag里的不一致 延后处理#}
    {% include "new/game/android_game_detail.html" with game=game %}
    <input type="hidden" name="platform" id="platform" value="android">


{% block uploadjs %}

    <script type="text/javascript">
        {% include "common_module/image_upload.js" %}
        $(function () {
            var img_upload_arr = ['normal'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $(".alert button").click(function () {
                //此为点击“X”之后的一系列动作
                //btn 为<button type="button" class="close">&times;</button>
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });
        });

    </script>
{% endblock %}


