{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>视频修改</h3>

            <form role="form" method="post" action="{% url 'search_back_img_update_video' video.id %}?device_type={{ device_type }}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">

                   <table class="table table-hover table-striped">
                    <tr>
                        <td style="width: 150px"></td>
                        <td style="width: 200px"><label for="video_id">视频ID</label></td>
                        <td><label>{{ video.video_id }}</label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="title"><span style="color: orangered">*</span>标题</label></td>
                        <td><input type="text" class="form-control" id="title" name="title" value="{{ video.title }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <label for="subtitle">子标题</label></td>
                        <td> <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ video.subtitle }}"></td>
                    </tr>
{#                    <tr>#}
{#                        <td></td>#}
{#                        <td><label for="intro">腰封</label></td>#}
{#                        <td><input type="text" class="form-control" id="intro" name="intro" value="{{ video.intro }}"></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td></td>#}
{#                        <td><label for="pgc_uid">pgc-uid</label></td>#}
{#                        <td><input type="text" class="form-control" id="pgc_uid" name="pgc_uid" value="{{ video.pgc_uid }}"></td>#}
{#                    </tr>#}
                       <tr>
                           <td></td>
                           <td><label><span style="color: orangered">*</span>
                               图片{% if device_type == 'phone' %}(720*212) {% elif device_type == 'pad' %} (1280*172) {% endif %}</label>
                           </td>
                           <td>
                               <div class="control-group">
                                   <label for="normal-input" class="control-label"></label>

                                   <div class="controls">
                                        <span id="normal-button" class="btn btn-success fileinput-button  btn-small ">
                                            <span>+ 上传截图...</span>
                                            <input id="normal-upload" type="file" name="files[]" multiple>
                                        </span>
                                       <div id="normal-success" class="alert alert-success" style="{% if not video.h_image %}display: none;{% endif %}height: 200px;width: 160px">
                                           <button type="button" class="close">&times;</button>
                                           <img id='normal-content' src="{{ video.h_image }}" class="img-polaroid" style="height: 160px;width: 140px">
                                       </div>
                                       <div id="normal-progress" class="progress progress-success progress-striped  active"
                                            style="display: none">
                                           <div class="bar"></div>
                                       </div>
                                       <input type='hidden' id='normal-input' name='h_image' value="{{ video.h_image }}" height="100" width="100"/>
                                   </div>
                               </div>
                           </td>
                       </tr>
                    <tr>
                        <td></td>
                        <td><label for="video_type">视频类型</label></td>
                        <td><label class="form-control" id="video_type" >
                           {% show_video_type_human_readable video.video_type %} </label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <label for="pay_type">付费类型</label></td>
                        <td><label>{{ video.pay_type_for_view }}</label></td>
                    </tr>
                </table>

                <button type="submit" class="btn btn-default"><i class="icon-ok-sign"></i>修改</button>
                <a class="btn btn-default"
                   href="{% url 'search_back_img_manage' %}?device_type={{ device_type }}"><i class="icon-circle-arrow-left"></i>返回</a>

            </form>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>

    <script type="text/javascript">
        {% include "brand/videos/_update_video_validate.js" %}
        function show_error_msg(msg) {

            $("#formErrorModal .modal-body p").text(msg);
            $("#formErrorModal").modal();

        }


        {% include "common_module/image_upload.js" %}

        $(function () {
            var img_upload_arr = ['normal'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $(".alert button").click(function () {
                //此为点击“X”之后的一系列动作
                //btn 为<button type="button" class="close">&times;</button>
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });
        });

    </script>
{% endblock %}