{% extends "base.html" %}
{#{% load bootstrap_toolkit %}#}
{% block link %}
    <link href="{{ STATIC_URL }}css/page.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <form role="form" action="/app/rank/list" id='index_query_sort' onsubmit="return check_app_nums_input(this);">
        <div class="row-fluid">
            <h3>排行榜</h3>
            <hr>
            <div class="span3" style="margin-top: 15px">
                <div class="input-prepend">
                    <span class="add-on">排序类型：</span>
                    <select id='sort_select' class="span8" name='sort_select'>
                        {% for ele in select_stat_type_list %}
                            {% if ele.selected %}
                                <option value="{{ ele.id }}" selected='{{ ele.selected }}'>{{ ele.name }}</option>
                            {% else %}
                                <option value="{{ ele.id }}">{{ ele.name }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3" style="margin-top: 15px">
                <div class="input-append">
                    <span class="add-on">设置应用总个数：</span>
                    <input type="text" name="set_app_nums" maxlength="8" id="set_app_nums" style="width: 70px;" value="{{ set_app_nums }}">
                    <button type="submit" class="btn-success">设置</button>
                </div>
            </div>



            <div class="span3" style="margin-top: 15px;text-align: right">
                <div class="input-append">
                    <input name='s_kw' type="text" class="search-query span8" placeholder="按应用名进行搜索" value="{{ search_name }}">
                    <button type="submit" class="btn-success">搜索</button>
                </div>
            </div>
        </div>
    </form>
    {% ifequal lines|length 0 %}
        <h3 style="color: red;">亲,未找到你想要的任何结果哟！</h3>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">应用名</th>
                <th style="text-align:center">LOGO</th>
                <th style="text-align:center">上传时间</th>
                <th style="text-align:center">应用状态</th>
                <th style="text-align:center">实际下载数</th>
                <th style="text-align:center">下载量初始值</th>
                <th style="text-align:center">前端展现数据</th>
                <th style="text-align:center">排序值</th>
                <th style="text-align:center">操作</th>
            </tr>
            </thead>

            <tbody>
            {% for line in lines %}

                <tr>
                    <td style="text-align:center;padding-top: 30px">
                        <a><strong>{{ line.id }}</strong></a>
                    </td>
                    <td style="text-align:center;padding-top: 30px">
                        <a><strong>{{ line.appname }}</strong></a>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <a><img class="img-rounded" height="50" width="50" src="{{ line.logo }}" alt=""></a>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <span class="label label-important">{{ line.upload_time }}</span>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        {% ifequal line.app_status 1 %}
                            <span class="label label-important">已上架</span>
                        {% else %}
                            <span class="label label-important">已下架</span>
                        {% endifequal %}
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <span class="label label-important">{{ line.actural_download }}</span>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <span class="label label-important">{{ line.init_download_amount }}</span>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <span class="label label-important">{{ line.num }}</span>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <span class="label label-important">{{ line.rank }}</span>
                    </td>
                    <td style="text-align:center;padding-top: 20px">
                        <form role="form" action="/app/rank/list" id='index_query' onsubmit="return check_input(this);" sub_type='add_nums_{{ line.id }}'>
                            <div id="edit_page" >
                                <div id="showpage">
                                    <input type="hidden" name="sort_select" class="sort_select" value="{{ stat_sort_tab }}" id="sort_select_text">
                                    <input type="hidden" name="set_app_nums" class="set_app_nums" value="{{ set_app_nums }}" id="set_app_nums_text">
                                    <input type="hidden" name="rank_id" id="rank_{{ line.id }}" value="{{ line.id }}">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">设置下载量初始值：</span>
                                        <input type="text" name="add_nums" maxlength="8" id="add_nums_{{ line.id }}" style="width: 70px;">
                                        <button type="submit" class="btn btn-success" id='query_btn_{{ line.id }}'>设置</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pages|safe }}
{#        {% bootstrap_pagination lines extra="pz=20"%}#}
    {% endifequal %}


{% endblock %}
{% block js %}
    <script type="text/javascript">

        $("#sort_select").change(function(){

            {#        $(".tab_select").val($(this).val());#}
            $('#index_query_sort').submit();
        });


        {#    $("#query_btn_1,#query_btn_2,#query_btn_3").click(function (e) {#}
        {#        alert($(this).attr("sub_type"))#}
        {#        var tempval=$("#"+$(this).attr("sub_type")).val();#}
        {#        if(tempval==""){#}
        {#            alert("亲，请输入你要增加下载数!");#}
        {#            return false#}
        {#        }else{#}
        {#            $('#index_query').submit();#}
        {#        }#}
        {##}
        {#    });#}


        //判断只能输入正整数，并且长度不能大于8位
        $("input[name='add_nums']").keyup(function(){
            var tmptxt=$(this).val();
            $(this).val(tmptxt.replace(/\D|/g,''));
        }).bind("paste",function(){
                    var tmptxt=$(this).val();
                    $(this).val(tmptxt.replace(/\D|^0/g,''));
                }).css("ime-mode", "disabled");

        function check_input(e){
            var tempval=$("#"+$(e).attr("sub_type")).val();
            if(tempval==""){
                alert("亲，请输入你要调整的下载数!");
                return false;
            }
            if(isNaN(tempval)){
                alert("输入中包含非法字符。");
                return false;
            }
        }


        //判断只能输入正整数，并且长度不能大于8位,这个是后端控制的app个数
        $("input[name='set_app_nums']").keyup(function(){
            var tmptxt=$(this).val();
            $(this).val(tmptxt.replace(/\D|/g,''));
        }).bind("paste",function(){
                    var tmptxt=$(this).val();
                    $(this).val(tmptxt.replace(/\D|^0/g,''));
                }).css("ime-mode", "disabled");

        function check_app_nums_input(e){
            var tempval=$("#set_app_nums").val();
            if(tempval==""){
                alert("亲，请输入你想要在前端展示的应用总个数！");
                return false;
            }
            if(isNaN(tempval)){
                alert("输入中包含非法字符。");
                return false;
            }
        }

    </script>
{% endblock %}