
<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>荔白-移动CMS内容管理系统</title>

    
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/line_basic.js"></script>

    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- css link block -->
    {% block link %}
    {% endblock %}

     <style type="text/css">
        
        
        hr {
            margin: 3px 0;
        }

      
        html, body {
            height: 100%;
        }

       
        .table td {
            font-size: 13px;
            word-break: break-all;
            max-width: 250px;
        }


        #content-box {
            max-width: 82%;
            width: auto;
            min-width: 720px;
        }

    </style>
  </head>

  <body>

    {% block body %}
    <nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:#428bca;border-color:#428bca;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#FFF;" href="#">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp;荔白-移动CMS内容管理系统
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active" ><a style="background-color:#428bca;" href="/">首页管理</a></li>
            <li><a  href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <p class="navbar-text pull-right" style="color:#FFF;">
            Logged in as {{ request.user }}<span style="margin:6px;">|</span><a style="color:#FFF;" href="/signout/" class="navbar-link">注销</a>
            &nbsp;
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
          </p>

        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          {% block content %}
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>梦想还是要有的,万一实现了哪!</h2>
            <p>只要不开始行动，说什么都是徒劳的，为了梦想打拼也许现在觉得有风险不值，当你回首往事的时候，会有一个值得回眸的人生.三剑客从此开始走向成熟...</p>
          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2>多平台入口</h2>
              <p> 支持ios/android/web 平台 </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>强大支付能力</h2>
              <p>支付宝和淘宝支付下单功能，让移动互联网用户轻松下单. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>荔白优选</h2>
              <p>省去你自己挑选食物的过程,新鲜到家. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            
          </div><!--/row-->

          {% endblock %}
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

          <div class="list-group">
            <a href="/" class="list-group-item active">首页管理</a>
            <a href="/content/box" class="list-group-item">提货点管理</a>
            <a href="/content/box" class="list-group-item">盒子管理</a>
            <a href="#" class="list-group-item">水果管理</a>
            <a href="/admin" class="list-group-item">系统管理</a>
          </div>

        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

      
      
    </div><!--/.container-->


  {% endblock %}

  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

     <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>
