{% extends "base.html" %}

{% block link %}

<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/style.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">

    <style type="text/css">
    .multipleSelectBoxControl span{ /* Labels above select boxes*/
        font-family:arial;
        font-size:11px;
        font-weight:bold;
    }
    .multipleSelectBoxControl div select{   /* Select box layout */
        font-family:arial;
        height:100%;
    }
    .multipleSelectBoxControl input{    /* Small butons */
        width:25px;
    }

    .multipleSelectBoxControl div{
        float:left;
    }

    .multipleSelectBoxDiv
    </style>
    <script type="text/javascript">

    $('#toBox').change(
            function(){
                alert('change')
                $('#sub').attr('disabled','disabled')
            }
    )

    var fromBoxArray = new Array();
    var toBoxArray = new Array();
    var selectBoxIndex = 0;
    var arrayOfItemsToSelect = new Array();


    function moveSingleElement()
    {
        $('#all').attr('disabled','disabled')
        var selectBoxIndex = this.parentNode.parentNode.id.replace(/[^\d]/g,'');
        var tmpFromBox;
        var tmpToBox;
        if(this.tagName.toLowerCase()=='select'){
            tmpFromBox = this;
            if(tmpFromBox==fromBoxArray[selectBoxIndex]){
                tmpToBox = toBoxArray[selectBoxIndex];
                if(tmpToBox.options.length >= 4){
                    alert("最多选四个");
                    return;
                }
            }
            else tmpToBox = fromBoxArray[selectBoxIndex];
        }else{
            if(this.value.indexOf('>')>=0){
                tmpFromBox = fromBoxArray[selectBoxIndex];
                tmpToBox = toBoxArray[selectBoxIndex];
                if($(tmpFromBox).val().length + tmpToBox.options.length > 4){
                    alert("最多选四个");
                    return;
                }

            }else{
                tmpFromBox = toBoxArray[selectBoxIndex];
                tmpToBox = fromBoxArray[selectBoxIndex];
            }
        }

        for(var no=0;no<tmpFromBox.options.length;no++){
            if(tmpFromBox.options[no].selected){
                tmpFromBox.options[no].selected = false;
                tmpToBox.options[tmpToBox.options.length] = new Option(tmpFromBox.options[no].text,tmpFromBox.options[no].value);

                for(var no2=no;no2<(tmpFromBox.options.length-1);no2++){
                    tmpFromBox.options[no2].value = tmpFromBox.options[no2+1].value;
                    tmpFromBox.options[no2].text = tmpFromBox.options[no2+1].text;
                    tmpFromBox.options[no2].selected = tmpFromBox.options[no2+1].selected;
                }
                no = no -1;
                tmpFromBox.options.length = tmpFromBox.options.length-1;

            }
        }


        var tmpTextArray = new Array();
        for(var no=0;no<tmpFromBox.options.length;no++){
            tmpTextArray.push(tmpFromBox.options[no].text + '___' + tmpFromBox.options[no].value);
        }
        tmpTextArray.sort();
        var tmpTextArray2 = new Array();
        for(var no=0;no<tmpToBox.options.length;no++){
            tmpTextArray2.push(tmpToBox.options[no].text + '___' + tmpToBox.options[no].value);
        }
        tmpTextArray2.sort();

        for(var no=0;no<tmpTextArray.length;no++){
            var items = tmpTextArray[no].split('___');
            tmpFromBox.options[no] = new Option(items[0],items[1]);

        }

        for(var no=0;no<tmpTextArray2.length;no++){
            var items = tmpTextArray2[no].split('___');
            tmpToBox.options[no] = new Option(items[0],items[1]);
        }
    }

    function sortAllElement(boxRef)
    {
        var tmpTextArray2 = new Array();
        for(var no=0;no<boxRef.options.length;no++){
            tmpTextArray2.push(boxRef.options[no].text + '___' + boxRef.options[no].value);
        }
        tmpTextArray2.sort();
        for(var no=0;no<tmpTextArray2.length;no++){
            var items = tmpTextArray2[no].split('___');
            boxRef.options[no] = new Option(items[0],items[1]);
        }

    }
    function moveAllElements()
    {
        var selectBoxIndex = this.parentNode.parentNode.id.replace(/[^\d]/g,'');
        var tmpFromBox;
        var tmpToBox;
        if(this.value.indexOf('>')>=0){
            tmpFromBox = fromBoxArray[selectBoxIndex];
            tmpToBox = toBoxArray[selectBoxIndex];
            if(tmpFromBox.options.length + tmpToBox.options.length > 4){
                alert("最多只能选四个")
                return;
            }
        }else{
            tmpFromBox = toBoxArray[selectBoxIndex];
            tmpToBox = fromBoxArray[selectBoxIndex];
        }

        for(var no=0;no<tmpFromBox.options.length;no++){
            tmpToBox.options[tmpToBox.options.length] = new Option(tmpFromBox.options[no].text,tmpFromBox.options[no].value);
        }

        tmpFromBox.options.length=0;
        sortAllElement(tmpToBox);

    }


    /* This function highlights options in the "to-boxes". It is needed if the values should be remembered after

submit. Call this function onsubmit for your form */
    function multipleSelectOnSubmit()
    {
        for(var no=0;no<arrayOfItemsToSelect.length;no++){
            var obj = arrayOfItemsToSelect[no];
            for(var no2=0;no2<obj.options.length;no2++){
                obj.options[no2].selected = true;
            }
        }

    }

    function createMovableOptions(fromBox,toBox,totalWidth,totalHeight,labelLeft,labelRight)
    {
        fromObj = document.getElementById(fromBox);
        toObj = document.getElementById(toBox);

        arrayOfItemsToSelect[arrayOfItemsToSelect.length] = toObj;


        fromObj.ondblclick = moveSingleElement;
        toObj.ondblclick = moveSingleElement;


        fromBoxArray.push(fromObj);
        toBoxArray.push(toObj);

        var parentEl = fromObj.parentNode;

        var parentDiv = document.createElement('DIV');
        parentDiv.className='multipleSelectBoxControl';
        parentDiv.id = 'selectBoxGroup' + selectBoxIndex;
        parentDiv.style.width = totalWidth + 'px';
        parentDiv.style.height = totalHeight + 'px';
        parentEl.insertBefore(parentDiv,fromObj);


        var subDiv = document.createElement('DIV');
        subDiv.style.width = (Math.floor(totalWidth/2) - 15) + 'px';
        fromObj.style.width = (Math.floor(totalWidth/2) - 15) + 'px';

        var label = document.createElement('SPAN');
        label.innerHTML = labelLeft;
        subDiv.appendChild(label);

        subDiv.appendChild(fromObj);
        subDiv.className = 'multipleSelectBoxDiv';
        parentDiv.appendChild(subDiv);


        var buttonDiv = document.createElement('DIV');
        buttonDiv.style.verticalAlign = 'middle';
        buttonDiv.style.paddingTop = (totalHeight/2) - 50 + 'px';
        buttonDiv.style.width = '30px';
        buttonDiv.style.textAlign = 'center';
        parentDiv.appendChild(buttonDiv);

        var buttonRight = document.createElement('INPUT');
        buttonRight.type='button';
        buttonRight.value = '>';
        buttonDiv.appendChild(buttonRight);
        buttonRight.onclick = moveSingleElement;

        var buttonAllRight = document.createElement('INPUT');
        buttonAllRight.type='button';
        buttonAllRight.value = '>>';
        buttonAllRight.onclick = moveAllElements;
        buttonDiv.appendChild(buttonAllRight);

        var buttonLeft = document.createElement('INPUT');
        buttonLeft.style.marginTop='10px';
        buttonLeft.type='button';
        buttonLeft.value = '<';
        buttonLeft.onclick = moveSingleElement;
        buttonDiv.appendChild(buttonLeft);

        var buttonAllLeft = document.createElement('INPUT');
        buttonAllLeft.type='button';
        buttonAllLeft.value = '<<';
        buttonAllLeft.onclick = moveAllElements;
        buttonDiv.appendChild(buttonAllLeft);

        var subDiv = document.createElement('DIV');
        subDiv.style.width = (Math.floor(totalWidth/2) - 15) + 'px';
        toObj.style.width = (Math.floor(totalWidth/2) - 15) + 'px';

        var label = document.createElement('SPAN');
        label.innerHTML = labelRight;
        subDiv.appendChild(label);

        subDiv.appendChild(toObj);
        parentDiv.appendChild(subDiv);

        toObj.style.height = (totalHeight - label.offsetHeight) + 'px';
        fromObj.style.height = (totalHeight - label.offsetHeight) + 'px';


        selectBoxIndex++;

    }
    </script>
    
{% endblock %}

{% block sidebar %}
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">分类管理</li>
            <li><a href="/app/category">分类列表</a></li>
            <li><a href="/app/add_category">添加应用分类</a></li>
            <li><a href="/app/rank/list">排行榜</a></li>

        </ul>
    </div>
</div>
{% endblock %}

{% block content%}
    <div id="form_div">
    <h3>&nbsp;*&nbsp;为必填项</h3>

    <form id='category-info'  method="post" onsubmit="multipleSelectOnSubmit()">{% csrf_token %}
        <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span2">
                <h4>分类名称</h4>
            </div>

            <div class="span6">
                 <input id='name' name='name' class="input-xlarge" type="text" value={{ name }}>
                 <input type='hidden' id='id' name='id' value="{{ id }}"/>
                 <span class="text-error" style="margin-left: 16px;font-size: x-small ;font-weight: bold">* </span>
            </div>

            <div class="span1">

            </div>

        </div>
        <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span2">
                <h4>分类简称</h4>
            </div>

            <div class="span6">
                 <input id='short-name' name='short-name' class="input-xlarge" type="text" value={{ short_name }}>
                 <span class="text-error" style="margin-left: 16px;font-size: x-small ;font-weight: bold">* </span>
            </div>

            <div class="span1">

            </div>

        </div>

        <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span2">
                <h4>代表游戏选择</h4>
            </div>
            <div class="span8">
            <select multiple="multiple" name="fromBox" id="fromBox">
                {% for id, name in apps.items %}
                <option value="{{ id }}">{{ name }}</option>
	            {% endfor %}
            </select>
            <select multiple="multiple" name="toBox" id="toBox">
                {% for id, name in apps_recommend.items %}
                <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
            </div>
        <div class="row-fluid">
            <div class="span4">
            </div>
            <br>
            <div class="span4">
                <input id="sub" type="submit" value="点击本按钮之后选择icon和设置排序值" class="btn btn-danger btn-default ">
            </div>
        </div>
        <hr>
        </div>
        {% if icon_list %}
        <div class="row-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th style="text-align:center">icon选择</th>
                  <th style="text-align:center">图标</th>
                  <th style="text-align:center">游戏名字</th>
                  <th style="text-align:center">排序值</th>
                </tr>
              </thead>
              <tbody id="rankbody">
                {% for app_id, name, logo, icon_mark, seq in icon_list %}
                    <tr>
                        <td style="text-align:center;padding-top: 20px">
                            <input type="radio" id="icon" name="icon" value="{{ app_id }} "
                            {% if icon_mark %} checked="checked" {% endif %} />
                        </td>
                        <td style="text-align:center;padding-top: 20px">
                            <img id='logo-img-content' src="{{ logo }}" height="50" width="50" />
                        </td>
                        <td style="text-align:center;padding-top: 20px">
                            {{ name }}
                        </td>
                        <td style="text-align:center;padding-top: 20px">
                            <input type="text" name="{{ app_id }}" id="rank-input" value="{{ seq }}" maxlength="8" style="width: 70px;">
                        </td>
                    </tr>

                {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span8">
            </div>
            <div class="span4">
                <input id="all" name="subname" type="submit" value="保存" class="btn btn-primary btn-large ">
            </div>
        </div>
    </form>
    <script type="text/javascript">
        createMovableOptions("fromBox","toBox",400,200,'可选游戏','已选游戏');
    </script>

    </div>
    <!-- Modal -->
    <div id="formErrorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">提示(Esc关闭)</h3>
        </div>
        <div class="modal-body">
            <p class="text-error">提示消息</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
{% endblock %}

<!-- 添加自己的js文件-->
{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}raty/jquery.raty.min.js"></script>
    <script type="text/javascript">$('#star').raty({score: 3, path: "../static/img/"});</script>
    <script type="text/javascript">

        function show_error_msg(msg){
            $("#formErrorModal .modal-body p").text(msg);
            $("#formErrorModal").modal();
        }

        //判断只能输入正整数，并且长度不能大于8位
        {% for app_id, name, logo, icon_mark, seq in icon_list %}
            $("input[name='{{ app_id }}']").keyup(function(){
            var tmptxt=$(this).val();
            $(this).val(tmptxt.replace(/\D|/g,''));
        }).bind("paste",function(){
                    var tmptxt=$(this).val();
                    $(this).val(tmptxt.replace(/\D|^0/g,''));
                }).css("ime-mode", "disabled");

        {% endfor %}
        $('#category-info').submit(function (event) {

            tbody = $('#rankbody');
            trs = $(tbody).find("tr");
            if (trs.length > 0) {
                var val = $('input:radio[name="icon"]:checked').val();
                if(val == null){
                    show_error_msg("请选择一个icon");
                    return false;
                }
                var seq_dict = {};
                for (i = 0; i < trs.length; i++) {
                    tr = trs[i];
                    seq = $(tr).find("input");
                    seq = $(seq[1]).val()
                    if (seq == '') {
                        show_error_msg("排序值不能为空");
                        return false;
                    }
                    if (seq_dict[seq]) {
                        show_error_msg("存在重复排序值");
                        return false;
                    }
                    seq_dict[seq] = true;
                }
            }
        });
    </script>


{% endblock %}


