<div>
    <h4>{{ parent.name }}</h4>
</div>
<div class="accordion" id="accordion2">

    {% for second_menu_childs in menus %}
        <div class="accordion-group">

            <div class="accordion-heading">
                {% if second_menu_childs.is_link %}
                    <a class="accordion-toggle" href="{{ second_menu_childs.path }}"
                       target="{{ second_menu_childs.target }}">
                        {{ second_menu_childs.name }}
                    </a>
                {% else %}
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#menu_{{ second_menu_childs.id }}">
                        {{ second_menu_childs.name }}
                    </a>
                {% endif %}
            </div>

            {% if second_menu_childs.has_child %}
                <div id="menu_{{ second_menu_childs.id }}"
                     class="accordion-body collapse {% if second_menu_childs.selected %} in {% endif %}">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            {% for m in second_menu_childs.children %}
                                <li {% if m.active %} class="active" {% endif %}>
                                    <a href="{{ m.path }}">{{ m.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>