{% extends "base.html" %}

{% block content %}


    <h3>创建首页抽屉</h3>
    <hr>

    <form class="form-horizontal" id="box_info" action="/app/box/new" method="post">

      <div class="control-group">
        <label class="control-label" for="inputEmail">选择产品：</label>
        <div class="controls">
            <select id='product'  name='product'>
                {% for ele in products %}
                    <option value="{{ ele.id }}">{{ ele.name }}</option>
                {% endfor %}
            </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="is_cate" id="is_cate"> 是否从分类选择
          </label>
        </div>
      </div>

      <div class="control-group" id="cate" hidden>
        <label class="control-label" for="inputEmail">分类：</label>
        <div class="controls">
            <select id='category' name='category'>
                <option value="">无</option>
                {% for ele in categories %}
                    <option value="{{ ele.id }}">{{ ele.name }}</option>
                {% endfor %}
            </select>
        </div>
      </div>

      <div class="control-group" id="box_name_group">
        <label class="control-label" for="inputEmail">盒子名称：</label>
        <div class="controls">
          <input type="text" id="box_name" name="box_name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputEmail">状态：</label>
        <div class="controls">
            <select id='status'  name='status' disabled="disabled">
                <option value="1" id="status_ok">开启</option>
                <option value="0" selected='selected' id="status_error">关闭</option>
            </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">保存</button>
        </div>
      </div>

    </form>

{% endblock %}
{% block js %}
<script type="text/javascript">

$('#is_cate').change(function() {
     if(this.checked) {
         $('#cate').show();
         $('#box_name_group').hide();
     }
     else{
         $('#cate').hide();
         $('#box_name_group').show();
     }
 });
 $('#box_info').submit(function(event) {
    if($('#is_cate').prop("checked") && $('#category').val()!="") {
        return true;
    } else if(!$('#is_cate').prop("checked") && $('#box_name').val()!="") {
        return true;
    } else {
        alert("Error：请输入自定义名称或者选择分类。");
        return false;
    }
 })

</script>
{% endblock %}