{% extends "base.html" %}

{% block content%}
<h3><strong>运营轮播图</strong></h3>
<ul class="nav nav-tabs">
    {% for product in products%}
    <li {% if title == product %} class="active" {% endif%} ><a href="/app/operscoller/show?product={{product.id}}">{{ product.name }}</a></li>
    {% endfor%}
</ul>
<hr>
<form id="scoller-app-add" action="/app/operscoller/show" method="POST">
    {% if errors %}<h5 class="text-error">{{ errors }}</h5> {% endif %}
    <div class="row-fluid">
        <div class="span4">
            <h4>轮播图应用添加</h4>
            <hr>
            <div class="input-append">
                <input type="text" name="select_app" id="select_app" placeholder="选择应用" autocomplete="off"/>
                <a class="btn" type="button" href="#" onclick="add_app()">展示</a>
                <input type="hidden" name="appid" id="appid"/>
                <input type="hidden" name="product" id="product" value="{{title.id}}"/>
            </div>
            <div id="img_file_success" class="alert alert-success" style="display: none;font-size:20px;margin-top:25px">
                <img id='scoller-img-content' src="">
            </div>
        </div>
    </div>
    <input id='scoller-submit-btn' type="submit" class="btn btn-primary" disabled="disabled">
</form>
<hr>
<h4> 轮播图列表 </h4>
<hr>
<div class="row-fluid">
    <div class="span12">
        <form id='scoller-submit' action="/app/operscoller/seq" method="POST">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>轮播图id</th>
                    <th>轮播图应用名称</th>
                    <th>轮播图</th>
                    <th>轮播图顺序</th>
                    <!--<th>下载类型</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for scoller in scollers %}
                <tr>
                    <td>{{ scoller.id }}</td>
                    <td>{{ scoller.app.appname }}</td>
                    <th><img class="img-rounded" height="40" width="80" src="{{ scoller.app.scoller }}" alt=""></th>
                    <td><input class="span3" type="text" name="{{ scoller.id }}" placeholder="{{ scoller.seq }}" value="{{ scoller.seq }}"/></td>
                    <!--<td>
                        <select id='download_type' name="download_type_{{ scoller.id }}">
                          {% for download_type in download_types %}
                              {% if scoller.download_type ==  download_type.value%}
                                  <option value="{{ download_type.value }}" name='{{ download_type.value }}' selected="selected">{{ download_type.name }}</option>
                              {% else %}
                                  <option value="{{ download_type.value }}" name={{ download_type.value }}>{{ download_type.name }}</option>
                              {% endif %}
                          {% endfor %}
                        </select>
                    </td>-->
                    <td><a class="btn" type="button" href="/app/operscoller/delete?product={{title.id}}&scollerid={{ scoller.id }}">删除</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <input type="hidden" name="product" id="product" value="{{title.id}}" />
            <input type="submit" class="btn btn-primary">
        </form>
    </div>

    <!-- Modal -->
    <div id="formErrorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">提示(Esc关闭)</h3>
        </div>
        <div class="modal-body">
            <p class="text-error">提示消息</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}

<script src="{{ STATIC_URL }}js/bootstrap.autocomplete.js"></script>
<script type="text/javascript">

    function add_app()
    {
        app_info = $("#select_app").attr("real-value");
        app_name = $("#select_app").val();
        info = app_info.split('^^');
        appid = info[0];
        img = info[1];
        $('#appid').val(appid);
        $("#scoller-img-content").attr("src",img);
        $("#img_file_success").show();
        $('#scoller-submit-btn').attr('disabled',false);
    };

    $("#select_app").autocomplete({

        source:function(query,process){
            $.get("/app/autocomplete",{key:query,exclude:1},function(respData){
                return process(respData);
            });
        },
        formatItem:function(item){
            return item["label"];
        },
        setValue:function(item){
            return {'data-value':item["label"],'real-value':item["value"].id+"^^"+item["value"].thumb};
        }
    });

    function show_error_msg(msg){

        $("#formErrorModal .modal-body p").text(msg);
        $("#formErrorModal").modal();

    }

    $("#scoller-submit").submit(function(event){

        var tbodies = $("#scoller-submit tbody");

        for(i=0;i<tbodies.length;i++){
            tbody = tbodies[i];
            var seq_dict = {};
            trs = $(tbody).find("tr");

            for(j=0;j<trs.length;j++){

                tr = trs[j];
                seq = $(tr).find("input").val();
                if (isNaN(seq)){
                    show_error_msg("顺序中包含非数字符号");
                    return false;
                }
                if (seq_dict[seq]) {
                    show_error_msg("同一Product下不能出现相同序号的轮播图");
                    return false;
                }
                seq_dict[seq] = true;
                console.log(seq_dict);

            }
        }


    });

        $(".collapse").collapse();


</script>

{% endblock %}