{% extends "base.html" %}

{% block link %}
    <script src="{{ STATIC_URL }}js/bootstrap.autocomplete.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.gridly.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}css/jquery.gridly.css" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        .brick {
            opacity: 1;
            cursor: pointer;
            position: relative;
        }

        .brick .icon {
            display: block;
            width: 60px;
            height: 60px;
            top: 15px;
            left: 20px;
            position: absolute;
            text-align: center;
        }

        .brick label {
            display: block;
            color: white;

            bottom: 0;
            left: 15px;
            position: absolute;
            text-align: center;

        }

        .brick .delete {
            display: block;
            color: white;
            background: rgba(255, 255, 255, 0.2);
            width: 15px;
            height: 15px;
            top: 0;
            right: 0;
            position: absolute;
            text-align: center;
            line-height: 15px;
        }

        .brick.small {
            width: 100px;
            height: 100px;
        }

        .brick.large {
            width: 300px;
            height: 300px;
        }

        .brick.dragging {
            opacity: 0.8;
        }

        .brick:nth-child(20n + 1) {
            background: #1abc9c;
        }

        .brick:nth-child(20n + 2) {
            background: #16a085;
        }

        .brick:nth-child(20n + 3) {
            background: #2ecc71;
        }

        .brick:nth-child(20n + 4) {
            background: #27ae60;
        }

        .brick:nth-child(20n + 5) {
            background: #3498db;
        }

        .brick:nth-child(20n + 6) {
            background: #2980b9;
        }

        .brick:nth-child(20n + 7) {
            background: #9b59b6;
        }

        .brick:nth-child(20n + 8) {
            background: #8e44ad;
        }

        .brick:nth-child(20n + 9) {
            background: #34495e;
        }

        .brick:nth-child(20n + 10) {
            background: #2c3e50;
        }

        .brick:nth-child(20n + 11) {
            background: #f1c40f;
        }

        .brick:nth-child(20n + 12) {
            background: #f39c12;
        }

        .brick:nth-child(20n + 13) {
            background: #e67e22;
        }

        .brick:nth-child(20n + 14) {
            background: #d35400;
        }

        .brick:nth-child(20n + 15) {
            background: #e74c3c;
        }

        .brick:nth-child(20n + 16) {
            background: #c0392b;
        }

        .brick:nth-child(20n + 17) {
            background: #ecf0f1;
        }

        .brick:nth-child(20n + 18) {
            background: #bdc3c7;
        }

        .brick:nth-child(20n + 19) {
            background: #95a5a6;
        }

        .brick:nth-child(20n + 20) {
            background: #7f8c8d;
        }
    </style>


{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        {% for subpage in subpages %}
            <li {% if subpage_now.id == subpage.id %} class="active" {% endif %} ><a
                    href="/app/gamerec/detail?subpage={{ subpage.id }}">{{ subpage.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="row-fluid">
        <div id="management" class="span6">
            <h3>游戏推荐子页面详情</h3>
            <h4>产品：{{ subpage_now.product.name }}</h4>
            <h4>子页面标识：{{ subpage_now.name }}</h4>
            {% if subpage_now.hasvid == 1 %}<h5 class="text-error">注意：当前子页面只能添加包含vid的游戏。</h5>{% endif %}
            <hr>
            <h5 class="text-warning">拖动APP至某一位置时，后面的APP会顺延。</h5>
            <hr>
            <form action="/app/gamerec/detail" class="form-horizontal" method="post"
                  onsubmit="alert('保存成功！');" id="tab_app_form">

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="保存">
                        <a href="/app/gamerec/index?product={{ subpage_now.product.id }}"
                           class="btn btn-danger">放弃</a>
                        <!--<a href="#" class="btn btn-info" onclick="fresh_preview()">刷新Preview</a>-->
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">添加应用：</label>

                    <div class="controls">
                        <div class="input-append">
                            <input type="text" name="select_app" id="select_app" class="input-medium"
                                   placeholder="选择"
                                   autocomplete="off"
                                    />
                            <a class="btn" type="button" href="#" onclick="add_app()">添加至</a>
                            <input type="text" name="select_app_seq" id="app_seq" class="input-mini"
                                   placeholder="序号"
                                   autocomplete="off"
                                    />

                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">排列应用：</label>

                    <div class="controls" id="grid_selected_apps" style="position: absolute;">

                        {% for select_app in selected_apps %}
                            <div id="{{ select_app.id }}" class='brick small'>
                                <div onclick="app_del({{ select_app.id }})" class='delete'>&times;</div>
                                <img class="icon" src="{{ select_app.logo }}"/>

                                <label>{{ select_app.appname }}</label>
                                <input type="hidden" name="apps" value="{{ select_app.id }}">
                                <input type="hidden" name="logos" value="{{ select_app.logo }}">
                                <input type="hidden" name="descs" value="{{ select_app.desc }}">
                            </div>

                        {% endfor %}
                    </div>
                </div>

                <input class="hidden" id="product" name="product" value="{{ subpage_now.id }}"/>

            </form>
        </div>

        <div class="span6" style="border-left: 1px solid #eeeeee;">
            <h3>&nbsp;&nbsp;&nbsp;预览</h3>
            <h4 class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;这里显示在应用中的效果。</h4>
            <hr>
            <div class="span2"></div>
            <div id="preview" class="span4">
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
    function app_is_added(app_id) {
        lis = $("#grid_selected_apps").children();
        for (i = 0; i < lis.length; i++) {
            if (lis[i].id == app_id) {
                return true;
            }
        }
        return false;
    }

    function add_brick(app_id, app_name, app_logo, app_desc) {

        div = $("<div></div>").attr({id: app_id}).addClass("brick small");
        delete_div = $("<div>&times;</div>").attr({id: "_" + app_id, onclick: "app_del(" + app_id + ")"}).addClass("delete");
        logo = $("<img></img>").attr({src: app_logo}).addClass("icon");
        label = $("<label></label>").html(app_name);
        app_id_input = $("<input></input>").attr({name: "apps", value: app_id, type: "hidden"});
        app_img_input = $("<input></input>").attr({name: "logos", value: app_logo, type: "hidden"});
        app_desc_input = $("<input></input>").attr({name: "descs", value: app_desc, type: "hidden"});

        div.append(delete_div).append(logo).append(label).append(app_id_input).append(app_img_input).append(app_desc_input);

        seq = $("#app_seq").val();
        seq = parseInt(seq);
        //console.log(seq);
        if ((!seq) || seq < 0) seq = 1;

        seq = seq - 1;

        //find the correct position
        var childs = $('#grid_selected_apps').children();

        new_childs = sort_items(childs);

        //deal seq > div count
        if (seq > new_childs.length - 1) seq = new_childs.length;

        $('#grid_selected_apps').children().remove();

        if (new_childs.length == 0) {
            $('#grid_selected_apps').append(div);

        }
        else {
            for (i = 0; i <= new_childs.length; i++) {

                if (i == seq) $('#grid_selected_apps').append(div);
                if (i < new_childs.length) $('#grid_selected_apps').append($(new_childs[i]));
            }
        }

        $('#grid_selected_apps').gridly();


    }

    function add_app() {
        app_id = $("#select_app").attr("real-value");
        app_name = $("#select_app").val();
        if (!app_id) return;
        if (app_is_added(app_id)) {
            alert("已添加该应用.");
            return;
        }
        add_brick(app_id, app_name, img_dic[app_id].value.img, img_dic[app_id].value.desc);
        fresh_preview();
    }

    function app_del(app_id) {
        lis = $("#grid_selected_apps").children();
        for (i = 0; i < lis.length; i++) {
            if (lis[i].id == app_id) {
                lis[i].remove();
            }
        }
        fresh_preview();

    }


    function sort_items(items) {

        colums = items.length / 3;
        sort_dict = {};

        for (i = 0; i < items.length; i++) {
            _top = $(items[i]).attr("style");
            key = _top.split(":")[3];
            score = _top.split(":")[2];
            score = parseInt(score.substr(1, score.indexOf("px")));
            //key = "120px;"
            //score = 80;
            if (!sort_dict[key]) sort_dict[key] = [];
            sort_dict[key].push([items[i], score]);
        }
        sorted_items = [];
        sort_left = function (a, b) {
            return a[1] > b[1];
        };
        //从上往下
        for (i = 0; i < colums; i++) {
            key = " " + i * 105 + "px;";
            _items = sort_dict[key];

            _items.sort(sort_left);
            for (j = 0; j < _items.length; j++)  sorted_items.push(_items[j][0]);

        }


        return sorted_items;

    }

    function fresh_preview() {
        $("#preview").find("div").remove();
        //console.log("fresh preview");
        lis = $("#grid_selected_apps").children();
        items = lis.clone();

        items = sort_items(items);

        for (i = 0; i < items.length; i++) {
            if ($(items[i]).find("input")[0].value == '') {
                continue;
            }

            var _desc = $(items[i]).find("input")[2].value;
            var _img = $(items[i]).find("input")[1].value;
            var _app_id = $(items[i]).find("input")[0].value;
            var _app_name = $(items[i]).find("label")[0].innerHTML;

            container = $("<div></div>").addClass("row-fluid");
            div = $("<div></div>").addClass("span6");

            img = $("<img style='width:60px;height:60px;' ></img>").attr({src: _img});
            div.append(img);
            appname = $("<p></p>").html(_app_name);
            // temp
            div2 = $("<div></div>").addClass("span6");
            div2.append(appname);
            div2.append("<i class=\"label label-warning\">" + (i + 1) + "</i>");
            container.append(div).append(div2).append($("<hr>"));
            $("#preview").append(container);
        }
    }
    var img_dic = {};

    $(document).ready(function () {

        $("#select_app").autocomplete(

                {
                    source: function (query, process) {
                        $.get("/app/autocomplete", {key: query{% if subpage_now.hasvid == 1 %}, hasvid: 'true'{% endif %}}, function (respData) {
                            return process(respData);
                        });
                    },
                    formatItem: function (item) {
                        return item["label"];
                    },
                    setValue: function (item) {
                        img_dic[item["value"]["id"]] = item;
                        return {'data-value': item["label"], 'real-value': item["value"]["id"]};
                    }
                });
        $(document).on("click", "#grid_selected_apps .delete", function (event) {
            var $this;
            event.preventDefault();
            event.stopPropagation();
            $this = $(this);
            $this.closest('.brick').remove();
            $('#grid_selected_apps').gridly();
            fresh_preview();
        });
        //dnd app
        $('#grid_selected_apps').gridly({
            gutter: 5, // px
            columns: 5
        });

        fresh_preview();

        $("#tab_app_form").submit(function (event) {

            lis = $("#grid_selected_apps").children();

            if (lis.length == 0) {
                //应用数不可为0
                alert("请至少添加一款上架应用");
                return false;

            }

            items = sort_items(lis);
            form = $("#tab_app_form");


            for (i = 0; i < items.length; i++) {

                ordered_input = $("<input name='sorted_apps' type='hidden' />").attr({"value": $(items[i]).find("input")[0].value});
                form.append(ordered_input);
            }

        });

        setInterval("fresh_preview()", 2000);

    });
    </script>
{% endblock %}