{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
{#<h3><strong>订单查看</strong></h3>#}
{% if errors %}<h5 class="text-error">{{ errors }}</h5> {% endif %}
<div class="row-fluid">
    <div class="span12" style="margin-top: 15px">
        <form class="form-search" method="get">
                <input id="orderid_kw" name='orderid_kw' type="text" value="{{ orderid_kw }}" class="search-query span2" placeholder="订单号关键字">
                <input id="user_kw" name='user_kw' type="text" value="{{ user_kw }}" class="search-query span2" placeholder="用户关键字">
                <input name='apporderID_kw' type="text" value="{{ apporderID_kw }}" class="search-query span2" placeholder="CP订单号关键字">
                <button type="submit" class="btn" onclick="submit();">搜索</button>
                <select id="app_select" name="app_select" class="span2" onchange="submit();">
                    <option value="0"> 全部游戏 </option>
                    {% for app in app_list %}
                        <option value="{{ app.id }}" {% ifequal app.id app_select %}selected="selected"{% endifequal %}>
                            {{ app.name }}</option>
                    {% endfor %}
                </select>
                <select id="date_select" name="date_select" class="span2" onchange="submit();">
                    <option value="0"> 全部日期 </option>
                    {% for i in date_list %}
                        <option value="{{ i }}" {% ifequal i date_select %}selected="selected"{% endifequal %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select id="status_select" name="status_select" class="span2" onchange="submit();">
                    <option value="0" {% ifequal 0 status_select %}selected="selected" {% endifequal %}> 全部状态 </option>
                    <option value="1" {% ifequal 1 status_select %}selected="selected" {% endifequal %}> 未成功 </option>
                    <option value="2" {% ifequal 2 status_select %}selected="selected" {% endifequal %}> 成功 </option>
                    <option value="3" {% ifequal 3 status_select %}selected="selected" {% endifequal %}> 通知CP失败 </option>
                </select>
        </form>
    </div>
</div>
    <div class="span12">
        <h4 class="span2"><strong>订单汇总</strong></h4>
    </div>
    <table class="table table_striped">
        <thead><tr>
            <th>日期</th>
            <th>游戏</th>
            <th>成功支付金额</th>
            <th>成功支付次数</th>
            <th>成功支付人数</th>
        </tr></thead>
        <tr>
            <td>{% if date_select != '0' %}{{ date_select }}{% else %}全部日期{% endif %}</td>
            <td>{% if app_select %}{{ app_select }}{% else %}全部游戏{% endif %}</td>
            <td>{{ success_amount }}</td>
            <td>{{ pays_sum }}</td>
            <td>{{ persons_sum }}</td>
        </tr>
    </table>
    <div class="span12">
        <h4 class="span2"><strong>订单明细</strong></h4>
        <a class="btn btn-primary span2" type="button" href="/app/gamerec/order_to_excel{{ extra_url_forexcel }}">导出Excel</a>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户</th>
            <th>游戏</th>
            <th>CP订单号</th>
            <th>日期时间</th>
            <th>订单状态</th>
            <th>金额(元)</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders_list %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.user }}</td>
            <td>{{ order.app }}</td>
            <td>{{ order.apporderID }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                {% if 1 == order.status %} 未成功 {% elif 3 == order.status %} 通知CP失败 {% else %} 成功 {% endif %}
            </td>
            <td>{{ order.price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% bootstrap_pagination paged_order extra=extra_url %}

{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}