{% extends "base.html" %}
{% load bootstrap_toolkit %}


{% block content %}

<h4>push 列表</h4>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center">游戏名</th>
      <th style="text-align:center">产品</th>
      <th style="text-align:center">消息类型</th>
      <th style="text-align:center">消息id</th>
      <th style="text-align:center">消息标题</th>
      <th style="text-align:center">状态</th>
        <th style="text-align:center">发送时间</th>
    </tr>
  </thead>

  <tbody>
  {% for line in lines %}
    <tr>
      <td style="text-align:center;padding-top: 30px">
          {{ line.app.appname }}
      </td>
      <td style="text-align:center;padding-top: 30px">
          {{ line.product.name }}
      </td>
      <td style="text-align:center;padding-top: 20px">
          {{ line.payload_type }}
      </td>
      <td style="text-align:center;padding-top: 20px">
          {{ line.mid }}
      </td>
      <td style="text-align:center;padding-top: 20px">
          {{ line.content }}
      </td>
      <td style="text-align:center;padding-top: 20px">
          {{ line.status_str }}
      </td>
      <td style="text-align:center;padding-top: 20px">
          {{ line.push_time }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% bootstrap_pagination lines extra="pz=20"%}

{% endblock %}
