{% extends "base.html" %}

{% block sidebar %}
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">应用管理</li>
            <li><a href="/app/add">添加应用</a></li>
            <li class="active"><a href="/app/list">应用列表</a></li>
            <li><a href="/app/tab/edit">添加Tab</a></li>
            <li><a href="/app/tab/list">Tab列表</a></li>
            <li><a href="/app/scoller/edit">轮播图编辑</a></li>
            <li><a href="/app/push/historys">push历史记录</a></li>

        </ul>
    </div>
</div>
{% endblock %}

{% block content%}
    <h3>push消息</h3>
    <hr>

    <form class="form-horizontal" method="post" id="form">

      <div class="control-group">
        <label class="control-label" for="inputEmail">选择产品：</label>
        <div class="controls">
            <select id='product' name='product'>
                {% for ele in products %}
                    <option value="{{ ele.id }}">{{ ele.name }}</option>
                {% endfor %}
            </select>
        </div>
      </div>

      <div class="control-group" id="box_name_group">
        <label class="control-label" for="inputEmail">客户端类型：</label>
        <div class="controls">
            <select id='status'  name='client_type'>
                <option value="1" selected='selected' id="status_ok">优酷</option>
                <option value="2" id="status_error">土豆</option>
            </select>
        </div>
      </div>


      <div class="control-group" id="box_name_group">
        <label class="control-label" for="inputEmail">消息类型：</label>
        <div class="controls">

            <select id='msg_type' name='msg_type'>
                    <option value="6">跳转到游戏列表</option>
            </select>
        </div>
      </div>

      <div class="control-group" id="box_name_group">
        <label class="control-label" for="inputEmail">推送标题：</label>
        <div class="controls">
            <input type="text" id="push_title" name="push_title">
        </div>
      </div>

      <div class="control-group" id="box_name_group">
        <label class="control-label" for="inputEmail">推送描述：</label>
        <div class="controls">
            <textarea id='desc' id='push_desc' name='push_desc' rows="3"></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
            <button id="submit" class="btn btn-success">push给前一天下载的用户</button>
        </div>
      </div>
      <input type="hidden" id="gameid" name="gameid" value="{{ gameid }}">
    </form>

{% endblock %}


{% block js %}

<script type="text/javascript">

  $("#submit").click(function(){
    if($('#push_title').val()==''){
        alert("请填写title");
        return false;
    };
    if($('#desc').val()==''){
        alert("请填写描述");
        return false;
    };
    $("#form").submit();
  });

</script>

{% endblock %}