{% extends "base.html" %}


{% block sidebar %}
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">应用管理</li>
            <li><a href="/app/add">添加应用</a></li>
            <li class="active"><a href="/app/list">应用列表</a></li>
            <li><a href="/app/tab/edit">添加Tab</a></li>
            <li><a href="/app/tab/list">Tab列表</a></li>
            <li><a href="/app/scoller/edit">轮播图编辑</a></li>
            <li><a href="/app/push/historys">push历史记录</a></li>

        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
    <div  id="form_success">
        <div id="floater" style="float:left; height:200px; margin-bottom:-120px;"></div>

        <div class="alert alert-success" style="width: 600px;margin: auto auto;clear:both; height:240px; position:relative;">
            <h1>Success！</h1>
            <p>提交成功！ 是否成功发送到push请查看push历史status 1-发送成功 0-未成功<span><a href="/app/push/historys"> &gt;&gt;&gt;push历史记录</a></span></p>
        </div>
    </div>

{% endblock %}