{% extends "base.html" %}
{% block link %}
    <script type="text/javascript" charset="utf-8">
        combo_dual_axes({{ categories_1|safe }},'{{ title_1|safe }}',{{ names_1|safe }},{{ datas_1|safe }},'{{ tab_trend_container_1|safe }}');
        line_basic_b({{ categories_2|safe }},'{{ title_2|safe }}',{{ names_2|safe }},{{ datas_2|safe }},{{ value_suffixs|safe }},'{{ tab_trend_container_2|safe }}');
        combo_dual_axes({{ categories_3|safe }},'{{ title_3|safe }}',{{ names_3|safe }},{{ datas_3|safe }},'{{ tab_trend_container_3|safe }}');
    </script>
    <style type="text/css" mce_bogus="1">
        table th
        {
            white-space: nowrap;
        }
        table td
        {
            white-space: nowrap;
        }
    </style>


{% endblock %}
{% load keyvalue %}
{% block content %}

    <div class="row-fluid" >
        <form role="form" action="/stat/app/summary" id='index_query'>
            <input type="hidden" name='time_type' id='time_type' value="{{ time_type }}"/>
{#            <input type="hidden" name='tabid' id='tabid' value="{{ tab_id_select }}"/>#}
            <div class="span5">
                <div class="time">
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <span class="add-on">从：</span>
                        <span class="add-on"><i class="icon-th"></i></span>
                        <input size="10" type="text" value="{{ date_from }}" readonly id='date_from' name='date_from'>
                    </div>
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <span class="add-on">到：</span>
                        <span class="add-on"><i class="icon-th"></i></span>
                        <input size="10" type="text" value="{{ date_to }}" readonly id='date_to' name='date_to'>
                    </div>
                </div>
            </div>

            <div class="span2">
                <div class="input-prepend">
                    <span class="add-on">产品：</span>
                    <select id='product_select' class="span12" name='product_select'>
                        {% for ele in products %}
                            {% if ele.selected %}
                                <option value="{{ ele.value }}" selected='{{ ele.selected }}'>{{ ele.name }}</option>
                            {% else %}
                                <option value="{{ ele.value }}">{{ ele.name }}</option>
                            {% endif %}

                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="span3 text-center">
                <div class="input-prepend">
                    <span class="add-on">来源：</span>
                    <select id='source_select' class="span8" name='source_select'>
                        {% for ele in source %}
                            {% if ele.selected %}
                                <option value="{{ ele.value }}" selected='{{ ele.selected }}'>{{ ele.name }}</option>
                            {% else %}
                                <option value="{{ ele.value }}">{{ ele.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="span1 text-center">
                <button type="button" class="btn btn-success" id='query_btn' time_type='0'>查询</button>
            </div>

{#            <div class="span2 text-center">#}
{#                <div class="btn-group">#}
{#                  <button class="btn" time_type='1' id='query_btn_day'>按日</button>#}
{#                  <button class="btn" time_type='2' id='query_btn_week'>按周</button>#}
{#                  <button class="btn" time_type='3' id='query_btn_month'>按月</button>#}
{#                </div>#}
{#            </div>#}
        </form>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs" id="p_tab">

                {% for ele in tab_list %}
                    <li class="{{ ele.clazz }}"><a href="/stat/app/summary?tabid={{ ele.id }}&date_from={{ date_from }}&date_to={{ date_to }}&product_select={{ product_select }}&source_select={{ source_select_id }}">{{ ele.name }}</a></li>
                {% endfor %}

            </ul>

        </div>
    </div>

    <div class="row-fluid" id="{{ tab_trend_container_1 }}"><!-- tab趋势图--></div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-bordered">
                <h4>TAB报表列表</h4>
                <thead>
                <tr>
                    <th>日期</th>
                    {% for ele in tab_names_1 %}
                        <th>{{ ele }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for items in items_list_1 %}
                    <tr>
                        {% for item in items %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid" id="{{ tab_trend_container_2 }}"><!-- tab下应用统计图--></div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-bordered">
              <h4>TAB下应用统计报表列表</h4>
              <thead>
                <tr>
                    <th>应用名称</th>
                    {% for ele in tab_names_2 %}
                        <th>{{ ele }}</th>
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
                  {% for items in items_list_2 %}
                      <tr>
                          <td><a href="/stat/app/detail?date_from={{ date_from }}&date_to={{ date_to }}&product_select={{ product_select }}&tab_select={{ tab_id_select }}&app_select={{ items.appid }}&app_source_select={{ source_select_id }}">{{ items.appname }}</a></td>
                          <td>{{ items.download_d_num }}</td>
                          <td>{{ items.downloadnum }}</td>
                          <td>{{ items.download_s_num }}</td>
                          <td>{{ items.download_speed }}</td>
                      </tr>
                  {% endfor %}
                  <tr>
                      <td>合计</td>
                      {% for ele_sum in sum_app_list %}
                          <td>{{ ele_sum }}</td>
                      {% endfor %}
                  </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid" id="{{ tab_trend_container_3 }}"><!-- 轮播图下载图--></div>
    <div style="overflow: auto; width: 100%;">
        <table class="table table-hover table-bordered">
          <h4>轮播图报表列表</h4>
          <thead>
            <tr>
              <th>日期</th>
              <th>轮播图名称</th>
              {% for ele in tab_names_3 %}
                  <th>{{ ele }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
              {% for item in carousel_data_list %}
                  <tr>
                    <td rowspan="{{ item.len_rowspan }}" style="vertical-align: middle">{{ item.date }}</td>
                  </tr>
                  {% for ele in item.value %}
                      <tr>
                          <td>{{ ele.name }}</td>
                          <td>{{ ele.total_download_num }}</td>
                          <td>{{ ele.total_success_num }}</td>
                          <td>{{ ele.download_success_rate }}%</td>
                      </tr>
                  {% endfor %}
                {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

    $('#query_btn,#query_btn_day,#query_btn_week,#query_btn_month').click(function (e) {

        if ($(this).attr('id') != 'query_btn')
            $('#time_type').val($(this).attr('time_type'));
        $('#index_query').submit()
    });

    </script>
{% endblock %}