<!DOCTYPE html>
{% extends "base.html" %}
{% block link %}
    <style type="text/css" mce_bogus="1">
        table th
        {
            white-space: nowrap;
        }
        table td
        {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% load keyvalue %}
{% block content %}
    <div style="width:850px;margin-left:80px;margin-top:40px;">
        <div style="margin-bottom: 50px;">
            <p style="font-size: 20px;;color: #cd5c5c;">统计日期:&nbsp;&nbsp;&nbsp;&nbsp;{{ date_zh }}&nbsp;&nbsp;&nbsp;&nbsp;星期{{ weekday }}</p>
        </div>

        <table class="table table-hover table-bordered">
{#            <h4>手游中心关键数据</h4>#}
            <thead>
              <tr>
                  <td colspan="7" style="background-color: #e2edfb;color: #cd5c5c;font-size: 18px;">手游中心关键数据</td>
              </tr>
            <tr>
                <td style="vertical-align: middle;text-align: center;">产品名称</td>
                {% for tab in tabs %}
                    <td>
                        <table style="width: 100%;">
                            <tr><td colspan="2" style="text-align: center">{{ tab }}</td></tr>
                            <tr>
                                <td style="text-align: center;width: 50%;">当日量</td>
                                <td style="width: 50%;">近两周趋势</td>
                            </tr>

                        </table>
                    </td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for item in items_list %}
                <tr>
                    <td style="vertical-align: middle;text-align: center;"><a href="/stat/app/general?product_select={{ item.product }}">{{ item.product_name }}客户端</a></td>
                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_game_uv }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="game_uv{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_permeability_rate|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="permeability_rate{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_download_actived_rate|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="download_actived_rate{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>


                    <td>
                        <table style="width: 100%;" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_download_num }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="download_num{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_average_uv_download }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="average_uv_download{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_download_success_num }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="download_success{{ item.product|safe }}" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <script type="text/javascript" charset="utf-8">
                    var prod='{{ item.product|safe }}';
                    littlelinebox('game_uv'+prod,'{{ item.game_uv|safe }}');
                    littlelinebox('permeability_rate'+prod,'{{ item.permeability_rate|safe }}');
                    littlelinebox('download_actived_rate'+prod,'{{ item.download_actived_rate|safe }}');
                    littlelinebox('download_num'+prod,'{{ item.download_num|safe }}');
                    littlelinebox('average_uv_download'+prod,'{{ item.average_uv_download|safe }}');
                    littlelinebox('download_success'+prod,'{{ item.download_success_num|safe }}');
                </script>
            {% endfor %}
            </tbody>
        </table>

        <table>
{#            <h4>手游联运关键数据</h4>#}
            <thead>
              <tr style="line-height: 35px;">
                  <td colspan="8" style="background-color: #e2edfb;color: #cd5c5c;font-size: 18px;">手游联运关键数据</td>
              </tr>
            <tr>
                {% for tab in tabs_sdk %}
                    <td>
                        <table style="width: 100%;" class="table table-hover table-bordered">
                            <tr><td colspan="2" style="text-align: center">{{ tab }}</td></tr>
                            <tr>
                                <td style="text-align: center;width: 50%;">当日量</td>
                                <td style="width: 50%;">近两周趋势</td>
                            </tr>

                        </table>
                    </td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for item in items_sdk_list %}
                <tr>
                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_register_success_rate|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="register_success_rate" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_uv|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="uv" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table style="width: 100;%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_nu|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="nu" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>
                    </td>


                    <td>
                        <table style="width: 100%;" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_pay_sucess_rate|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="pay_sucess_rate" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_income|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="income" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_arppu|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="arppu" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_arpu|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="arpu" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>
                    <td>
                        <table style="width: 100%" class="table table-hover table-bordered">
                            <tr>
                                <td style="width: 50%;text-align: center;vertical-align: middle;">{{ item.day_pay_rate|safe }}</td>
                                <td style="width: 50%;text-align: center;vertical-align: middle;"><div id="pay_rate" style="width: 80px;height: 40px;"></div></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <script type="text/javascript" charset="utf-8">
                    littlelinebox('register_success_rate','{{ item.register_success_rate|safe }}');
                    littlelinebox('uv','{{ item.uv|safe }}');
                    littlelinebox('nu','{{ item.nu|safe }}');
                    littlelinebox('pay_sucess_rate','{{ item.pay_sucess_rate|safe }}');
                    littlelinebox('income','{{ item.income|safe }}');
                    littlelinebox('arppu','{{ item.arppu|safe }}');
                    littlelinebox('arpu','{{ item.arpu|safe }}');
                    littlelinebox('pay_rate','{{ item.pay_rate|safe }}');
                </script>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}