<!DOCTYPE html>
<html>
<head>
<title></title>
{% load staticfiles %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}jQuery-File-Upload-master/css/jquery.fileupload-ui.css">
<script src="{{ STATIC_URL }}jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}jQuery-File-Upload-master/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}jQuery-File-Upload-master/js/jquery.fileupload.js"></script>
</head>
<body>

<div class="container">
        <input id="fileupload" type="file" name="files[]" multiple>
    <br>
    <br>
    <!-- 进度条 -->
    <div id="progress" class="progress progress-success progress-striped">
        <div class="bar"></div>
    </div>
    <!-- 已经上传的文件列表 -->
    <div id="files"></div>
</div>

<script type="text/javascript">
    $(function () {
	//文件上传地址
    var url = 'http://localhost:9870/img/upload';
    //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
    $('#fileupload').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        done: function (e, data) {//设置文件上传完毕事件的回调函数
            $.each(data.result.files, function (index, file) {//
                $('<p/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {//设置上传进度事件的回调函数
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        }
    });
});
</script>
</body>
</html>