{% extends "base.html" %}

{% block link %}

<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/style.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">

    <style type="text/css">
    </style>
    
{% endblock %}


{% block content%}
    <div id="form_div">

        <form id='app-info-form' class="form-horizontal" method="POST">
          <div class="control-group">
            <label class="control-label" style="margin-right: 60px"><h4>应用上传</h4></label>
            <div class="controls">
                <span id="upload_file_button" class="btn btn-success fileinput-button  btn-large ">

                        <span>+ Add Apk file...</span>
                        <input id="file-apk-upload" type="file" name="files[]" multiple>
                 </span><span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>

               <div id="upload_file_success" class="alert alert-success" style="display: none;font-size: 20px">
                  <strong>Well done!</strong>  successfully upload apk file onto server.
               </div>

                <div id="apk-progress" class="progress progress-success progress-striped active" style="display: none">
                    <div class="bar"></div>
                </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px"><h4>应用LOGO</h4></label>
            <div class="controls">
                <span id="icon_file_button" class="btn btn-success fileinput-button  btn-large ">
                        <span>+ Add Icon...</span>
                        <input id="file-logo-img-upload" type="file" name="files[]" accept="image/png, image/gif, image/jpg, image/jpeg" multiple>
                </span> <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>

               <div id="icon_file_success" class="alert alert-success" style="display: none;font-size: 20px">
                   <img id='logo-img-content' src="" class="img-polaroid" />
               </div>
                <div id="logo-progress" class="progress progress-success progress-striped active" style="display: none">
                    <div class="bar"></div>
                </div>
                <input type='hidden' id='logo-img-input' name='log-img' />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"  style="margin-right: 60px"><h4>应用轮播图</h4></label>
            <div class="controls">
                <span id="img_file_button" class="btn btn-success fileinput-button  btn-large ">
                        <span>+ Add Image...</span>
                        <input id="file-scoller-img-upload" type="file" name="files[]" multiple>
                </span>

               <div id="img_file_success" class="alert alert-success" style="display: none;font-size: 20px">
                   <img id='scoller-img-content' src="" class="img-polaroid">
               </div>

                <div id="scoller-progress" class="progress progress-success progress-striped  active" style="display: none">
                    <div class="bar"></div>
                </div>

                <input type='hidden' id='scoller-img-input' name='log-img' />
            </div>
          </div>
          <hr>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">应用名称</label>
            <div class="controls">
               <input id='appname' name='appname' class="input-xlarge" type="text">
               <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">下载地址</label>
            <div class="controls">
                 <input id='upload-apk-url' name="upload-apk-url" class="input-xlarge" type="text" value="">
                 <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">软件包名</label>
            <div class="controls">
                 <input id='package' name="package" class="input-xlarge" type="text">
                 <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">应用描述</label>
            <div class="controls">
                <textarea id='desc' name='desc' rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">版本号</label>
            <div class="controls">
                <input id='ver-num' name="ver_num" class="input-xlarge" type="text">
                <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">Version code</label>
            <div class="controls">
                 <input id='ver-code' name="ver_code" class="input-xlarge" type="text">
                 <span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">软件大小</label>
            <div class="controls">
                 <input id='apk_size' name="apk_size" class="input-xlarge" type="text" value="" />
                 <span id="apk_size_format" class="label label-warning">..M</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">Appstore URL(IOS专用)</label>
            <div class="controls">
                 <input id='ios-url' name="ios-url" class="input-xlarge" type="text" value="{{ios_url}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" style="margin-right: 60px">回流PID</label>
            <div class="controls">

            <div id="pid_box" class="span4" id='pid-container'>
                <input name="pid[]" class="input-xlarge" type="text" value=""/>
            </div>

            <span id="add-pid" class="btn btn-success fileinput-button  btn" style="margin-left: 50px">
                <span>+ 添加pid</span>
            </span><span class="text-error" style="margin-left: 16px;font-size: x-large ;font-weight: bold">*</span>
            </div>
          </div>
            <hr>

          <input id="submit_btn" type="submit" value="保存" class="btn btn-primary btn-large">
          <input type="reset" value="清空" class="btn btn-primary btn-large">
        </form>
    </div>

    <div  id="form_success"  style="display: none">
        <div id="floater" style="float:left; height:200px; margin-bottom:-120px;"></div>

        <div class="alert alert-success" style="width: 600px;margin: auto auto;clear:both; height:240px; position:relative;">
            <h1>Success！</h1>
            <p>保持应用成功<span style="margin: 10px"><a href="/app/add"> &gt;&gt;&gt;继续添加</a></span><span><a href="/app/list"> &gt;&gt;&gt;应用列表</a></span></p>
        </div>

    </div>



{% endblock %}

<!-- 添加自己的js文件-->
{% block js %}

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>

<script type="text/javascript">
    $('#appname').tooltip({'trigger':'hover', 'title': '上传完成后自动生成软件名','placement':'right'});
    $('#package').tooltip({'trigger':'hover', 'title': '上传完成后自动生成包名','placement':'right'});
    $('.text-error').tooltip({'trigger':'hover', 'title': '必填','placement':'right'});
    $('#desc').tooltip({'trigger':'hover', 'title': '填写应用描述','placement':'right'});
    $('#ver-num').tooltip({'trigger':'hover', 'title': '上传完成后自动生成版本号','placement':'right'});
    $('#ver-code').tooltip({'trigger':'hover', 'title': '上传完成后自动生成version code','placement':'right'});
    $('#ios-url').tooltip({'trigger':'hover', 'title': '苹果 App store下载地址','placement':'right'});
    $('#add-pid').tooltip({'trigger':'hover', 'title': '点击添加pid','placement':'right'});
    $('#upload-apk-url').tooltip({'trigger':'hover', 'title': '上传成功后会自动生成下载链接','placement':'right'});
</script>


<script type="text/javascript">

    $('#submit_btn').click(function (e) {
        if($("#upload-apk-url").val()==''){
            alert('请上传app');
            return false;
        }

        if($("#logo-img-input").val()==''){
            alert('请上传图片');
            alert($("#logo-img-input").val())
            return false;
        }

        event.preventDefault();

        $("#loader").show();
        $("#sub").attr("class","btn btn-primary disabled btn-large ");

        var group = $('input[name="pid[]"]');
        var pids = [];
        if (group.length >= 1){
            group.each( function() {
                pids.push($(this).val());
            });
        }
        console.log(pids)

        var pids_input = $('<input name="pids" class="input-xlarge" type="hidden"/>')
        pids_input.val(pids)
        $('#app-info-form').append(pids_input)
        $('#app-info-form').submit();

    });

    $(function () {
    //文件上传地址
    var url = '/app/img/upload';
    //初始化，主要是设置上传参数，以及事件处理方法(回调函数)

    $('#screen-img-upload').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button").show();
                $("#screen-progress").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content").attr("src",file.url);
                $("#screen-content").show();
                scoller_input = $("#screen-input")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress").hide();
            $("#screen_success").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button").hide();
            $("#screen-progress").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress .bar').css(
                'width',
                progress + '%'
            );
        }

    });

    $('#screen-img-upload2').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button2").show();
                $("#screen-progress2").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content2").attr("src",file.url);
                $("#screen-content2").show();
                scoller_input = $("#screen-input2")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress2").hide();
            $("#screen_success2").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button2").hide();
            $("#screen-progress2").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress2 .bar').css(
                'width',
                progress + '%'
            );
        }

    });


    $('#screen-img-upload3').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button3").show();
                $("#screen-progress3").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content3").attr("src",file.url);
                $("#screen-content3").show();
                scoller_input = $("#screen-input3")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress3").hide();
            $("#screen_success3").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button3").hide();
            $("#screen-progress3").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress3 .bar').css(
                'width',
                progress + '%'
            );
        }

    });

    $('#screen-img-upload4').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button4").show();
                $("#screen-progress4").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content4").attr("src",file.url);
                $("#screen-content4").show();
                scoller_input = $("#screen-input4")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress4").hide();
            $("#screen_success4").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button4").hide();
            $("#screen-progress4").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress4 .bar').css(
                'width',
                progress + '%'
            );
        }

    });

    $('#screen-img-upload5').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button5").show();
                $("#screen-progress5").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content5").attr("src",file.url);
                $("#screen-content5").show();
                scoller_input = $("#screen-input5")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress5").hide();
            $("#screen_success5").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button5").hide();
            $("#screen-progress5").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress5 .bar').css(
                'width',
                progress + '%'
            );
        }

    });

    $('#screen-img-upload6').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#screen_button6").show();
                $("#screen-progress6").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }

            $.each(data.result.files, function (index, file) {//
                $("#screen-content6").attr("src",file.url);
                $("#screen-content6").show();
                scoller_input = $("#screen-input6")
                scoller_input.attr('value',file.url)
            });

            $("#screen-progress6").hide();
            $("#screen_success6").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#screen_button6").hide();
            $("#screen-progress6").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress6 .bar').css(
                'width',
                progress + '%'
            );
        }

    });


    $('#file-scoller-img-upload').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,


        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }

                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },
        
        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#img_file_button").show();
                $("#scoller-progress").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }
            
            $.each(data.result.files, function (index, file) {//
                $("#scoller-img-content").attr("src",file.url);
                $("#scoller-img-content").show();
                scoller_input = $("#scoller-img-input")
                scoller_input.attr('value',file.url)
            });

            $("#scoller-progress").hide();
            $("#img_file_success").show();
        },

        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#img_file_button").hide();
            $("#scoller-progress").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#scoller-progress .bar').css(
                'width',
                progress + '%'
            );
        }

    });

    $('#file-logo-img-upload').fileupload({
        autoUpload: true,//是否自动上传
        url: url,//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 512000,

        add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if('type' in data.originalFiles[0] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('上传图片格式错误!');
                }

                if('size' in data.originalFiles[0] && data.originalFiles[0]['size'] > 512000) {
                    uploadErrors.push('上传图片需要小于500k!');
                }
                
                if(uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#icon_file_button").show();
                $("#logo-progress").hide();
                alert("upload error:" + data.result["e"]["code"] + ':'+data.result["e"]["desc"]);
                return;
            }
            
            $.each(data.result.files, function (index, file) {//
                $("#logo-img-content").attr("src",file.url);
                $("#logo-img-content").show()
                form = $("#app-info")
                logo_input = $("#logo-img-input")
                logo_input.attr('value',file.url)
                form.append(logo_input)
            });

            $("#logo-progress").hide();
            $("#icon_file_success").show();
        },
        progressall: function (e, data) {//设置上传进度事件的回调函数

            $("#icon_file_button").hide();
            $("#logo-progress").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#logo-progress .bar').css(
                'width',
                progress + '%'
            );
        },
        fail : function (e,data) {
            $("#icon_file_button").show();
            $("#logo-progress").hide();
            alert("上传失败!");
        }

    }).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');


    $('#file-apk-upload').fileupload({
        autoUpload: true,//是否自动上传
        url: '/app/apk/upload',//上传地址
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(apk)$/i,


        add: function(e, data) {

            if('size' in data.originalFiles[0] ){
                var size = data.originalFiles[0]['size'];
                $("#apk_size").val(size);
                var format_size = size/1024.0/1024.0;
                format_size = format_size.toFixed(2);
                $("#apk_size_format").html(format_size+"M");
            }
            data.submit();
        },

        done: function (e, data) {//设置文件上传完毕事件的回调函数

            if("e" in data.result && data.result["e"]["code"] < 0)
            {
                $("#img_file_button").show();
                $("#scoller-progress").hide();
                alert(data.result["e"]["desc"]);
                return;
            }
            
            $.each(data.result.files, function (index, file) {//
                $("#upload-apk-url").val(file.url);
                $("#ver-num").val(file.apk_info.version)
                $("#package").val(file.apk_info.pkg)
                $("#appname").val(file.apk_info.app_name)
                $("#ver-code").val(file.apk_info.version_code)
            });

            $("#apk-progress").hide();
            $("#upload_file_success").show();
        },
        progressall: function (e, data) {//设置上传进度事件的回调函数
            $("#upload_file_button").hide();
            $("#apk-progress").show();

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#apk-progress .bar').css(
                'width',
                progress + '%'
            );
        },
        fail:function (e, data){
            alert("上传文件失败");
            $("#upload_file_button").show();
            $("#apk-progress").hide();
            
            $('#apk-progress .bar').css(
                'width',
                0 + '%'
            );
        }
    });

});
</script>

<script type="text/javascript">

  $("#app-info").submit(function(event){

        if($("#upload-apk-url").val()==''){
            alert('请上传app');
            return false;
        }

        if($("#logo-img-input").val()==''){
            alert('请上传图片');
            alert($("#logo-img-input").val())
            return false;
        }

        event.preventDefault();

        $("#loader").show();
        $("#sub").attr("class","btn btn-primary disabled btn-large ");

        var group = $('input[name="pid[]"]');
        var pids = [];
        if (group.length >= 1){
            group.each( function() {
                pids.push($(this).val());
            });
        }

        pids = pids.join(";");


        $.ajax({
             type:"POST",
             url:"/app/add",
             data: {
                 ver_num:$("#ver-num").val(),
                 pkg:$("#package").val(),
                 appname:$("#appname").val(),
                 ver_code:$("#ver-code").val(),
                 apk_url:$("#upload-apk-url").val(),
                 apk_status:$("#app-status").val(),
                 desc:$("#desc").val(),
                 logo:$('#logo-img-input').val(),
                 scoller:$('#scoller-img-input').val(),
                 pids:pids,
                 apk_size : $("#apk_size").val(),
                 screen_shot1: $('#screen-input').val(),
                 screen_shot2: $('#screen-input2').val(),
                 screen_shot3: $('#screen-input3').val(),
                 screen_shot4: $('#screen-input4').val(),
                 screen_shot5: $('#screen-input5').val(),
                 screen_shot6: $('#screen-input6').val()

             },
             success: function(data){

                 $("#form_div").hide();
                 $("#form_success").show();
                 $("#ver-num").val('');
                 $("#package").val('');
                 $("#appname").val('');
                 $("#ver-code").val('');
                 $("#upload-apk-url").val('');
                 $("#app-status").val('');
                 $("#desc").val('');
                 $("#logo-img-content").hide();
                 $("#scoller-img-content").hide();
                 $('#logo-progress .bar').css(
                    'width',
                    0 + '%');
                 $('#scoller-progress .bar').css(
                    'width',
                    0 + '%');
                 $('#apk-progress .bar').css(
                    'width',
                    0 + '%');
             },
             error: function(jqXHR,  textStatus,  errorThrown ){
                $("#loader").hide();
                 $("#sub").attr("class","btn btn-primary btn-large ");
                 alert("保持失败，请重试！");
             }

        });
        return false;
   });

    $("#add-pid").click(function(){
        var input_pid=$('<input name="pid[]" class="input-xlarge" type="text" value="" style="margin-top: 10px"/>');
        $("#pid_box").append(input_pid);
    });
</script>

{% endblock %}


