{% if items %}
    <div class="pagination pagination-small pagination-centered">
        <ul>
            {% if now_page == '1' %}
                <li class="disabled">
                    <a>«</a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ previous_page }}&select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ this_module.id }}">«</a>
                </li>
            {% endif %}

            {% for page in display_pages %}
                {% if page == now_page %}
                    <li class="active">
                        <a href="?page={{ page }}&select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ this_module.id }}">{{ page }}</a>
                    </li>
                {% elif page == '...' %}
                    <li class="disabled">
                        <a>{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ page }}&select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ this_module.id }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if now_page == num_pages %}
                <li class="disabled">
                    <a>»</a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ next_page }}&select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}&select_module={{ this_module.id }}">»</a>
                </li>
            {% endif %}

        </ul>

                <span class="current">
                            当前第{{ items.number }}页 共{{ items.paginator.num_pages }}页
                </span>
    </div>
{% endif %}