.big-icon {
    height: 30px;
    width: 30px;
}

td {
    /*vertical-align: bottom !important;*/
    vertical-align: top !important;
}

div.alert-success {
    display: none;
    font-size: 20px;
    margin-top: 10px;
    max-width: 50%;
}

.img-polaroid {
    max-height: 120px;

}

.active-item-shadow {
    box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
}

.pull-right a.btn, button.btn {
    margin-left: 5px;
}

.btn-table {
    padding: 2px 5px;
}