{% extends "base.html" %}


{% block link %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <link href="{{ STATIC_URL }}bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <style type="text/css">
        .status_editable {

        }
    </style>
{% endblock %}

{% block content %}

<div>
  <div >
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">更新抽屉</h4>

      </div>
      <div class="modal-body">
        <form id="form_box_update" method="post" action="/content/box/update">

          <div class="form-group form-inline">
            <label for="recipient-name" class="control-label">抽屉类型:</label>
            <select class="form-control" id="box_type" name="box_type" placeholder="">
                            {% for k,v in box_types %}
                                <option value="{{ k }}" {% if k == box.box_type %} selected="true" {% endif %}>{{ v }}</option>
                            {% endfor %}
            </select>
          </div>

          <div class="form-group form-inline">
            <label for="message-text" class="control-label">抽屉标题:</label>
            <input id="title" class="form-control" name="title" placeholder="" type="text" value="{{ box.title }}" />
            <input type="hidden"  value="{{box.id}}" class="form-control" name="box_id" id="box_id">

          </div>


          <div class="form-group form-inline">
            <label for="message-text" class="control-label">内容数量:</label>
            <input id="icount"  class="form-control" name="icount" placeholder="" type="text" value="{{ box.iner_count }}" />
          </div>

        </form>


        </form>
      </div>
      <div class="modal-footer">
        <a href="/content/box" class="btn btn-default" >返回</a>
        <button id="btn_create" type="button" class="btn btn-primary">更新</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    // prepare the form when the DOM is ready
    $(document).ready(function() {
        var options = {
            //target:        '#output1',   // target element(s) to be updated with server response
            beforeSubmit:  showRequest,  // pre-submit callback
            success:       showResponse  // post-submit callback
        };

        $('#form_box_update').ajaxForm(options);

        $('#btn_create').click(function(){
            $('#form_box_update').submit();
        });

    });


    // pre-submit callback
    function showRequest(formData, jqForm, options) {


        for (var i=0; i < formData.length; i++) {
          if (!formData[i].value) {
              alert('表单值为空!');
              return false;
          }
        }
        return true;
    }

    // post-submit callback
    function showResponse(responseText, statusText)  {

        if(responseText.status=="success"){
            $().toastmessage('showSuccessToast', '操作成功');
            setTimeout(function () {location.href="/content/box";}, 1000);
        } else {
            $().toastmessage('showErrorToast', "操作失败");
        }

    }



  </script>
</div>


{% endblock %}




{% block js %}

    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>

    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}
