{% extends "base.html" %}
{% load util_tags %}

{% block link %}

    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">
        div.nav-group {
            position: relative;
        }

        div.tool-box {
            position: absolute;
            right: 0;
            top: 0;
        }

        a.btn-table {
            padding: 2px 5px;
        }

        div.pull-right a.btn {
            margin-left: 5px;
            margin-bottom: 10px;
        }

        div.navigation-div [class^="icon-"] {
            display: inline-block;
            margin: 0 5px 0 5px;
            width: 14px;
        }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li><a style="text-decoration: none;">内容管理</a><span class="divider">/</span></li>
            <li class="active">抽屉列表</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="nav-group">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/content/win_phone/main_page/uniq_modules">winPhone</a>
                </li>
                <li class="active">
                    <a href="/content/win_phone/main_page/preview">预览</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}