{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/content/module/update.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>
    <style type="text/css">
        #footer {
            margin-top: 20px;
            margin-left: 180px;
        }

       img#screen-content{
            height: auto;
            width: auto;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>视频修改</h3>

            <form role="form" method="post" action="{% url 'android_update_sub_channel_module_item' %}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ video.id }}">
                <input type="hidden" id="module_id" name="module_id" value="{{ module_id }}">
                <input type="hidden" id="channel_id" name="channel_id" value="{{ channel_id }}">
                <input type="hidden" id="subchannel_id" name="subchannel_id" value="{{ subchannel_id }}">
                <table class="table table-hover table-striped">
                    <tr>
                        <td style="width: 150px"></td>
                        <td style="width: 200px"><label for="video_id">视频ID</label></td>
                        <td><label>{{ video.video_id }}</label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="title"><span style="color: orangered">*</span>标题</label></td>
                        <td><input type="text" class="form-control" id="title" name="title" value="{{ video.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="subtitle">子标题</label></td>
                        <td><input type="text" class="form-control" id="subtitle" name="subtitle"
                                   value="{{ video.subtitle }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="intro">腰封</label></td>
                        <td><input type="text" class="form-control" id="intro" name="intro" value="{{ video.intro }}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="pgc_uid">pgc-uid</label></td>
                        <td><input type="text" class="form-control" id="pgc_uid" name="pgc_uid"
                                   value="{{ video.pgc_uid }}"></td>
                    </tr>
                    {% if not show_button_tag %}
                        <tr class="control-group">
                            <td></td>
                            <td><label for="screen-input" class="control-label"><span style="color: orangered">*</span>横图({{ h_image_desc }})</label>
                            </td>
                            <div class="validate-error"></div>
                            <td>
                                <div class="controls">
                                <span id="screen_button" class="btn btn-success fileinput-button   ">
                                    <span>+ 上传截图...</span>
                                    <input id="screen-upload" type="file" name="files[]" multiple>
                                </span>

                                    <div id="screen-success" class="alert alert-success"
                                         style="font-size: 20px;margin-top: 10px;width: 165px">
                                        <button type="button" class="close">&times;</button>
                                        <img id='screen-content' src="{{ video.h_image }}" class="img-polaroid">
                                    </div>
                                    <div id="screen-progress" class="progress progress-success progress-striped  active"
                                         style="display: none">
                                        <div class="bar"></div>
                                    </div>
                                    <input type='hidden' id='screen-input' name='h_image' value="{{ video.h_image }}"
                                           height="100"
                                           width="100"/>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            {% include 'android/channel/sub_channel_and_box_videos/_update_video_v_image.html' with video=video v_image_desc=v_image_desc %}
                        </tr>
                    {% endif %}
                    {% if s_image_tag %}
                        <tr>
                            <td></td>
                            {% include 'android/channel/sub_channel_and_box_videos/_update_video_s_image.html' with s_image_desc=s_image_desc video=video %}
                        </tr>
                    {% endif %}
                    {% if show_button_tag %}
                        <tr>
                            <td></td>
                            <td>下载按钮名:</td>
                            <td><input name="game_download_button_name" value="{{ video.game_download_button_name }}">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>详情按钮名:</td>
                            <td><input name="game_details_button_name" value="{{ video.game_details_button_name }}">
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <td><label for="video_type">视频类型</label></td>
                        <td><label class="form-control" id="video_type">
                            {% show_video_type_human_readable video.video_type %} </label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="pay_type">付费类型</label></td>
                        <td><label>{{ video.pay_type_for_view }}</label></td>
                    </tr>
                </table>

                <button type="submit" class="btn btn-default"><i class="icon-ok-sign"></i>修改</button>
                <a class="btn btn-default"
                   href="{% url "android_sub_channel_module_items" %}?select_module={{ module_id }}&select_channel={{ channel_id }}&select_subchannel={{ subchannel_id }}"><i
                        class="icon-circle-arrow-left"></i>返回</a>

            </form>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script src="{{ STATIC_URL }}jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript">{% include "common_module/image_upload.js" %}</script>
    <script type="text/javascript">
        {% include "android/main_page/video_manage/_update_video_validate.js" %}
        function show_error_msg(msg) {

            $("#formErrorModal .modal-body p").text(msg);
            $("#formErrorModal").modal();

        }
        $(function () {
            var img_upload_arr = ['screen', 's_image', 'v_image'];
            for (var index = 0; index < img_upload_arr.length; index++) {
                add_upload_handler(generate_upload_dict(img_upload_arr[index]));
            }

            $(".alert button").click(function () {
                var btn = $(this);
                $(btn).next().attr("src", "");
                parent = $(btn).parent();
                //隐藏
                parent.hide();
                //设置hidden input的值
                if (parent.next().next()) parent.next().next().val("");
                //显示上传按钮
                $(parent.parent().children()[0]).show();

            });


        });


    </script>
{% endblock %}