{% extends "base.html" %}
{% load util_tags %}
{% block link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <style type="text/css">
        {% include "common_module/sort_img.css" %}
        {#        body.dragging, body.dragging * {#}
        {#            cursor: move !important;#}
        {#        }#}
        {##}
        {#        .dragged {#}
        {#            position: absolute;#}
        {#            opacity: 0.5;#}
        {#            z-index: 2000;#}
        {#            background-color: green;#}
        {#        }#}
        {##}
        {#        tbody#sortable tr.placeholder {#}
        {#            height: 100px;#}
        {#            color: slategrey;#}
        {#            position: relative;#}
        {#        }#}
        {##}
        {#        tbody#sortable tr.placeholder:before {#}
        {#            position: absolute;#}
        {##}
        {#        }#}

        .img-polaroid {
            height: 60px !important;
            max-width: none;
        }

        div.nav-group {
            position: relative;
            height: 40px;
        }

        .btn-block {
            float: right;
            display: inline-block;
            width: auto;
        }

        .btn-table {
            padding: 2px 5px;
        }

        #save_position_form {
            margin: 0 0 10px;
            display: inline-block;
            vertical-align: top;
        }

        table {
            font-size: 13px;
        }

        td.canBeEdit {
            max-width: 195px;
            min-width: 130px;
        }

        .text-block {
            display: none;
        }

        .text-block > textarea {
            font-size: 13px;
            padding: 0;
            margin: 0;
            display: block;
            max-height: 100px;
            resize: vertical;
            width: 100%;
        }

        .text-block > button {
            float: right;
            margin-left: 3px;
            margin-top: 2px;
        }

        .td-vid {
            min-width: 75px;
        }

        .td-type {
            min-width: 84px;
        }

        .td-manage {
            min-width: 56px;
        }

        .td-state {
            min-width: 26px;
        }

    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li>频道管理<span class="divider">/</span></li>
            <li><a style="text-decoration: none;" href="/content/android/new_channels">Android频道</a><span
                    class="divider">/</span></li>
            <li><a href="{% url 'android_sub_channel' %}?select_channel={{ this_channel.id }}">{{ this_channel.title }}频道</a><span
                    class="divider">/</span></li>
            {% if this_subchannel.is_editable_box %}
                <li>
                    <a href="{% url 'android_sub_channel_modules' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}">{{ this_subchannel.title }}子频道</a><span
                        class="divider">/</span></li>
                <li class="active">{{ this_module.title }}-抽屉视频</li>
            {% endif %}
            {% if this_subchannel.is_editable_video_list %}
                <li class="active">{{ this_subchannel.title }}子频道-视频</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div style="width: auto;overflow: auto">
        <div class="nav-group" id="nav-buttons">
            <div class="pull-left">
                {% if this_subchannel.is_editable_box %}
                    <a class="btn"
                       href="{% url 'android_sub_channel_modules' %}?select_channel={{ this_channel.id }}&select_subchannel={{ this_subchannel.id }}"><i
                            class="icon-circle-arrow-left"></i>返回</a>
                {% elif this_subchannel.is_editable_video_list %}
                    <a class="btn" href="{% url 'android_sub_channel' %}?select_channel={{ this_channel.id }}"><i
                            class="icon-circle-arrow-left"></i>返回</a>
                {% endif %}
            </div>
            <div class="btn-block">
                {% box_btns_show_perm this_channel.id request.user 4 as perm_flag %}
                {% if perm_flag %}
                    <a class="btn video-state" value="1"><i class="icon-ok-circle"></i>开启</a>
                    <a id='sync_button' role="button" value="0" class="btn video-state"><i class="icon-off"></i>关闭</a>

                    <form method="post" id="save_position_form">
                        <input type="hidden" name="item_ids" id="item_ids"/>
                        <input type="hidden" name="this_subchannel_id" id="this_subchannel_id"
                               value="{{ this_subchannel.id }}"/>
                        <input type="hidden" name="this_channel_id" id="this_channel_id" value="{{ this_channel.id }}"/>
                        <input type="hidden" name="this_module_id" id="this_module_id" value="{{ this_module.id }}"/>
                        <a class="btn"
                           href="{% url 'android_add_sub_channel_module_item' %}?channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}&module_id={{ this_module.id }}"><i
                                class="icon-plus"></i>新增内容</a>
                        <button type="button" class="btn" id="save_position_btn"><i class="icon-sort"></i>保存顺序</button>
                        <a class="btn"
                           href="{% url 'android_fixed_position_videos' %}?channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}&module_id={{ this_module.id }}"><i
                                class="icon-plus"></i>设定固定位置视频</a>
                    </form>
                {% endif %}
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <th><label class="checkbox"><input type="checkbox" id="state-all-pick"></label></th>
                <th>内容ID</th>
                <th>类型</th>
                <th>标题</th>
                <th>子标题</th>
                <th>腰封</th>
                <th>版权</th>
                <th>付费类型</th>
                <th>轮播图</th>
                <th>横图</th>
                {#                <th>竖图</th>#}
                <th>状态</th>
                {% if perm_flag %}
                    <th>操作</th>
                {% endif %}
                </thead>
                <tbody id="sortable">
                {% for video in items %}
                    <tr class="module_{{ video.module_id }} sort-item" value="{{ video.id }}">
                    <td><label class="checkbox"><input type="checkbox" class="video-status-tag" value="{{ video.id }}"></label>
                    </td>
                    {% if video.video_type == 4 %}
                        <td class="td-vid"><a class="data_tip" href="#" data-toggle="tooltip"
                                              title="{{ video.url }}">{{ video.url | slice:"10" }}...</a></td>
                    {% else %}
                        <td class="td-vid">{{ video.video_id }}</td>
                    {% endif %}
                    <td class="td-type">{{ video.video_type_for_view }}</td>
                    <td class="canBeEdit">
                        <div class="text-block">
                            <label for="title-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="title-{{ video.id }}">{{ video.title }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.title }}</div>
                    </td>
                    <td class="canBeEdit text-sub">
                        <div class="text-block">
                            <label for="subtitle-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="subtitle-{{ video.id }}">{{ video.subtitle }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.subtitle }}</div>
                    </td>
                    <td class="canBeEdit text-sub">
                        <div class="text-block">
                            <label for="intro-{{ video.id }}"></label>
                            <textarea cols="3" rows="2" class="edit-area"
                                      id="intro-{{ video.id }}">{{ video.intro }}</textarea>
                            <button type="button" class="modify-text  btn btn-mini btn-info">确认</button>
                            <button type="button" class="recover-text btn btn-mini">取消</button>
                        </div>
                        <div class="text-piece">{{ video.intro }}</div>
                    </td>
                    <td>{{ video.copyright_for_view }}</td>
                    <td>{{ video.pay_type_for_view }}</td>
                    <td>{% if video.s_image %}
                        <a target="_blank" href="{{ video.url_to_play }}"><img src="{{ video.s_image }}"
                                                                               style="height: 60px"
                                                                               title="{{ video.title }}"
                                                                               class="img-polaroid"/></a>{% endif %}
                    </td>
                    <td>{% if video.h_image %}
                        <a target="_blank" href="{{ video.url_to_play }}"><img src="{{ video.h_image }}"
                                                                               title="{{ video.title }}"
                                                                               style="height: 60px"
                                                                               class="img-polaroid"/></a>{% endif %}
                    </td>
                    <td class="out_pick td-state" id="status_{{ video.id }}">
                        {{ video_state_hash|dict_get:video.state }}
                    </td>
                    {% if perm_flag %}
                        <td class="td-manage" colspan="2">
                            <a class="btn btn-small btn-table"
                               href="{% url "android_query_sub_channel_module_item" %}?item_id={{ video.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}&module_id={{ this_module.id }}">
                                <li class="icon-edit"></li>
                                修改</a>
                            <a class='btn btn-small btn-danger btn-table del'
                               href="{% url "android_delete_sub_channel_module_item" %}?item_id={{ video.id }}&channel_id={{ this_channel.id }}&subchannel_id={{ this_subchannel.id }}&module_id={{ this_module.id }}"
                               class="del">
                                <li class="icon-trash"></li>
                                删除</a>
                        </td>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if not items %}
        <div class="row-fluid">
            <div class="col-sm-8">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> 相关抽屉视频数据为空,请创建视频数据。
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script type="text/javascript">
        {% include "common_module/dbclick_edit.js" with save_url='/content/android/update_item_value/subchannel/module/item' %}

        function collect_selected_checkbox_value() {
            var video_ids_array = [];
            var video_ids = '';
            console.log($("input:checkbox:checked.video-status-tag"));
            $("input:checkbox:checked.video-status-tag").each(function () {
                video_ids_array.push($(this).parent().parent().parent().attr("value"));
                video_ids = video_ids_array.join(",");
            });
            return video_ids;
        }

        function is_all_videos_checked() {
            var checked_videos = $("input:checkbox:checked.video-status-tag");
            var videos = $("input:checkbox.video-status-tag");
            var all_pick_box = $("#state-all-pick");
            if (checked_videos.length == videos.length) {
                all_pick_box.prop('checked', true);
            } else {
                all_pick_box.prop('checked', false);
            }
        }

        function save_position_btn_func() {
            var item_ids = $('#item_ids').val();
            var module_id = $('#this_module_id').val();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/content/android/subchannel/module/items',
                data: {
                    item_ids: item_ids,
                    module_id: module_id
                },
                success: function (data) {
                    if (data.status === 'success') {
                        $().toastmessage({
                            position: 'middle-center'
                        });
                        $().toastmessage('showSuccessToast', '操作成功');
                        setTimeout(function () {
                            location.reload()
                        }, 1000);
                    } else {
                        $().toastmessage('showErrorToast', "操作失败")
                    }
                }

            })
        }

        {% include "common_module/sort_edit_del.js" %}

        $(document).ready(function () {
            //make the nav buttons of handling videos be fixed on the top while scrolling
            var nav_btns = $('#nav-buttons');
            var fixmeTop = nav_btns.offset().top - $(".navbar-fixed-top").height();
            $(window).scroll(function () {
                var curTop = $(this).scrollTop();
                console.log(curTop + ' ' + fixmeTop);
                if (curTop > fixmeTop) {
                    nav_btns.css({width: nav_btns.width(), position: 'fixed', top: 41, 'background-color': '#fafafa',
                        'box-shadow': '0 2px 8px -2px #888', 'padding-top': 5});
                    nav_btns.children(':first').css('margin-left', 5).end().children().eq(1).css('margin-right', 5);
                } else {
                    nav_btns.css({width: 'inherit', position: 'static', 'padding-top': 0, 'box-shadow': 'none'});
                }
            });

            $('#state-all-pick').click(function () {
                if ($(this).is(':checked')) {
                    $("input:checkbox.video-status-tag").prop("checked", true)
                } else {
                    $("input:checkbox:checked.video-status-tag").prop("checked", false)
                }
            });

            $('input:checkbox.video-status-tag').click(function () {
                is_all_videos_checked();
            });

            $('.video-state').click(function () {
                var source = {
                    '1': '开启',
                    '0': '关闭'
                };
                var target_model
                var module_id = $('#this_module_id').val()
                if (module_id.length > 0) {
                    target_model = 'AndroidSubChannelModuleVideo'
                } else {
                    target_model = 'AndroidSubChannelVideo'
                }
                var val = $(this).attr("value");
                var video_ids = collect_selected_checkbox_value();
                if (video_ids.length > 0) {
                    $.ajax({
                        url: '/content/update_items_state',
                        type: "POST",
                        dataType: 'json',
                        data: {
                            item_ids: video_ids,
                            value: val,
                            target_model: target_model

                        },
                        success: function (data) {
                            $().toastmessage({
                                position: 'middle-center'
                            });

                            if (data.status === 'success') {
                                for (var i = 0; i < data.item_ids.length; i++) {
                                    $('#status_' + data.item_ids[i]).html(source[val])
                                }
                                $().toastmessage('showSuccessToast', '操作成功');
                            } else {
                                $().toastmessage('showErrorToast', '操作失败');
                            }
                            $("input:checkbox.video-status-tag").prop('checked', false);
                            $('#state-all-pick').prop("checked", false)
                        }
                    })
                }
            });

            $(".data_tip").tooltip();

            $(".img-polaroid").draggable({
                start: function () {
                },
                drag: function () {
                },
                stop: function () {
                    $(this).css('left', '0').css('top', '0');
                },
                //containment: "#candidate_id_",
                //handle: "img",
                scroll: false,
                cursor: "move",
                helper: "clone",
                revert: "invalid"
            });
        });
    </script>
    <link href="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="{{ STATIC_URL }}bootstrap-editable-1.5.1/bootstrap-editable/js/bootstrap-editable.js"></script>

{% endblock %}