<script type="text/javascript">
    $(document).ready(function(){

        var input_switch = $("input[type='checkbox']#all-check");
            input_switch.bind('click', function () {
                if ($(this).is(':checked')) {
                    $("input.parallel").prop("checked", true);
                }
                else {
                    $("input.parallel").prop("checked", false);
                }
            });

            var pack_selector = $("input[name='pack_ids']");
            $("input#batch-del").bind('click', function (event) {
                organize_items('del', '确认删除这些视频吗?', event);
            });
            $("input#batch-use").bind('click', function (event) {
                organize_items('use', '确认开启这些视频吗?', event);
            });

            $("input[class='parallel']").bind("click", function () {
                var all_len = $("input[class='parallel']").length;
                var sel_len = $("input[class='parallel']:checked").length;
                if (all_len == sel_len) {
                    $("input[type='checkbox']#all-check").prop("checked", true);
                } else {
                    $("input[type='checkbox']#all-check").prop("checked", false);
                }
            });

            // organize the items's id when click to submit
            function organize_items(name, message, e) {
                var del_ids = $("input[class='parallel']:checked").map(function () {
                    return $(this).attr("value");
                }).get().join(",");
                if (del_ids == '') {
                    e.preventDefault();
                    alert("没有选中视频~!");
                    return;
                }
                var status = confirm(message);
                if (!status) {
                    e.preventDefault();
                } else {
                    $("input[name='" + name + "']").attr("value", '1');
                    pack_selector.attr("value", del_ids);
                }
            }

    })
</script>