{% extends "base.html" %}
{% load util_tags %}
{% block link %}

    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}switchery/dist/switchery.css"/>
    <script src="{{ STATIC_URL }}switchery/dist/switchery.js"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row-fluid">

            <h3>更新视频(游戏详情)</h3>

            <form method="post" action="{% url 'android_update_sub_channel_module_item' %}">
                <input type="hidden" name="video_type" value="{{ item.video_type }}">
                <input type="hidden" name="channel_id" value="{{ channel_id }}">
                <input type="hidden" name="subchannel_id" value="{{ subchannel_id }}">
                <input type="hidden" name="module_id" value="{{ module_id }}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{ item.id }}">
                <!-- <textarea for="url_filed" name="url" cols="3" rows="6"></textarea> -->
                <table>
                    <tr>
                        <td>标题:</td>
                        <td><input type="text" id="title" name="title" value="{{ item.title }}"></td>
                    </tr>
                    <tr>
                        <td>图片:</td>
                        <td>
                            <div class="controls">
                                <span id="screen_button" class="btn btn-success fileinput-button  btn-large ">
                                    <span>+ 上传图片...</span>
                                    <input id="screen-img-upload" type="file" name="files[]" multiple>
                                </span>

                                <div id="screen-success" class="alert alert-success"
                                     style="display: none;font-size: 20px;margin-top: 10px">
                                    <button type="button" class="close">&times;</button>
                                    <img id='screen-content' src="" class="img-polaroid">
                                </div>
                                <div id="screen-progress" class="progress progress-success progress-striped  active"
                                     style="display: none">
                                    <div class="bar"></div>
                                </div>
                                <input type='hidden' id='screen-input' name='h_image' value="{{ item.h_image }}"
                                       height="80" width="60"/>
                            </div>
                        </td>
                    </tr>
                    {% include "new/game/android_game_update_detail.html" with game=game original_game_id=game.original_game_id %}
                </table>

                <div id="footer">
                    <button type="submit" class="btn btn-danger">提交</button>
                    <a class="btn btn-primary" href="{% url "android_sub_channel_module_items" %}?select_module={{ module_id }}&select_channel={{ channel_id }}&select_subchannel={{ subchannel_id }}">返回</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        function get_game_info() {
            var game_id = $("#game_id").val();
            $.get('/content/get_game_info', {game_id: game_id, product: 'iPad'},
                    function (response, status, xhr) {
                        if (status == 'success') {
                            $("#game_name").val(response["appname"]);
                            $("#game_version").val(response["version"]);
                            $("#itunes_id").val(response["itunesid"]);
                            $("#logo").val(response["logo"]);
                            $("#scroll").val(response["scroller"]);
                            $("#score").val(response["score"]);
                            $("#url").val(response["url"]);
                            $("#desc").val(response["desc"]);
                            $("#upload_time").val(response["upload_time"]);
                            $("#size").val(response["size"]);
                            $("#charge_type").val(response["charge"]);
                            $("#redirect_type").val(response["redirect_type"]);
                            $("#recommend_type").val(response["recommend_type"]);
                            $("#redirect_url").val(response["redirect_url"]);
                            $("#categories").val(response["categories"]);
                        }
                    }, dataType = "json"
            );
            event.preventDefault();
        }
    </script>

{% endblock %}