{% extends "base.html" %}
{% load util_tags %}

{% block link %}

    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}toast_message/jquery.toastmessage.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-validate/jquery.validate.css">
    <style type="text/css">
    div.nav-group {
        position: relative;
    }

    div.navigation-div [class^="icon-"] {
        display: inline-block;
        margin: 0 5px 0 5px;
        width: 14px;
    }

    #preview {
        min-width: 800px;
    }

    #previewPage {
        width: 920px;
        height: 580px;
        border: 2px solid #ccc;
        border-radius: 4px;
        margin: 0 auto;
        overflow-y: auto;
        background-color: #f5f5f5;
    }

    #preview-content {
        height: auto;
        width: auto;
        margin: 0 auto;
    }

    .slider_down {
        margin: 10px auto 10px 10px;
        width: 440px;
        float: left;
    }

    .ordinary, .v-meta {
        display: inline-block;
    }

    .v-meta {
        background-color: #fff;
        width: 200px;
        height: 33px;
    }

    .v-meta-title {
        padding-top: 2px;
        margin: 0 5px;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 13px;
        line-height: 18px;
        height: 18px;
        overflow: hidden;
    }

    .v-meta-entry {
        font-size: 12px;
        color: #909090;
        margin: 0 5px;
        height: 13px;
        line-height: 12px;
    }

    .ordinary {
        float: left;
        margin: 10px;
        height: 145px;
        vertical-align: top;
    {#        display: inline-block;#} {#            -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#} {#            -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#} {#            box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);#}
    }

    .episode {
        width: 200px;
        height: 112px;
    }

    .slider-img {
        width: 420px;
        height: 236px;

    }

    .candidate-head {
        margin-left: 12px;
        font-size: 18px;
        height: 24px;
    }
    .candidate-body {
        overflow-y: auto;
    }

    .slider {
        width: 420px;
        height: auto;
        margin: 20px 0 10px 10px;
        display: inline-block;
        vertical-align: top;
        float: left;
    }

    .carousel-inner > .item {
        width: 420px;
    }

    .carousel-indicators {
        position: absolute;
        right: 5px;
        top: 220px;
        width: 75px;
        height: 15px;
    }

    #myCarousel {
        position: relative;

    }

    .carousel-indicators > li {
        cursor: pointer;
    }

    .dir-control > a:hover {
        color: #000;
        opacity: 1;
    }

    .dir-control > a {
        text-decoration: none;
        color: #ccc;
        display: inline-block;
        padding: 15px 0;
        width: 100%;
    }

    .dir-left > a > i {
        padding-left: 8px;
    }

    .dir-right > a > i {
        display: block;
        text-align: right;
        margin-right: 8px;
    }

    .carousel-control {
        border: none;
        background: inherit;
        top: 0;
        position: static;
        width: 100%;
        margin-top: 0;
        display: block;
        padding-top: 95px;
        padding-bottom: 100px;
        color: #fff;
        opacity: 0.5;
    }

    .shade > .carousel-control:hover {
        color: #fff;
        opacity: 0.9;
    }

    .carousel-control.right {
        right: 10px;
        left: auto;
    }

    .carousel-caption {
        padding: 3px;
        height: 15px;
    }

    .shade {
        width: 70px;
        height: 235px;
        position: absolute;
        top: 0;
    }

    .shade:hover {
    }

    .shade-left {
        left: 0;
    }

    .shade-right {
        right: 0;
    }

    .line-wrap > i {
        color: #2AB6FE;
    }


    .carousel-meta {
        height: 74px;
        width: 100%;
        background-color: #fff;
    }

    .carousel-title {
        display: inline-block;
        width: 410px;
        vertical-align: top;
        padding-top: 0;
    }

    .carousel-meta-title {
        padding: 15px 10px 0;
        margin: 0 5px;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 16px;
        line-height: 18px;
        height: 18px;
        overflow: hidden;
    }

    .carousel-meta-entry {
        padding: 5px 10px 0;
        font-size: 13px;
        color: #909090;
        margin: 0 5px;
    }

    .candidate-row {
        margin: 10px auto;
        display: block;
        width: 880px;
        clear: both;
    }
    .line-wrap {
        overflow: hidden;
        margin-right: 10px;
        float: right;
        max-width: 810px;
        height: 24px;
    }
    .line {
        border-bottom: 1px #ccc solid;
        height:9px;
        margin-bottom: 5px;
        display: inline-block;
        width: 795px;
    }
    .candidate-head-title {
        display: inline-block;
    }
    </style>
{% endblock %}
{% block navigation %}
    <div class="navigation-div">
        <ul class="breadcrumb">
            <li><a style="text-decoration: none;">内容管理</a><span class="divider">/</span></li>
            <li class="active">抽屉列表</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="nav-group">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/content/ipad/main_page/uniq_modules">iPad</a>
                </li>
                <li class="active">
                    <a href="/content/ipad/main_page/preview">预览</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="preview">
        <div id="previewPage">
            <div id="preview-content">
                <div class="candidate-row">

                    <div class="slider">
                    {% if slider %}
                        <div id="myCarousel" class="carousel slide">
                            <ol class="carousel-indicators">
                                {% for value in slider.video_count|times:"1 0" %}
                                    {% if forloop.counter0 == 0 %}
                                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
                                            class="active"></li>
                                    {% else %}
                                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for video in slider.videos %}
                                    {% if forloop.counter0 == 0 %}
                                        <div class="active item">
                                    {% else %}
                                        <div class="item">
                                    {% endif %}
                                {% if video %}
                                    <a href="{{ video.url_to_play }}" target="_blank"><img class="slider-img" title="{{ video.title }}"
                                         src="
                                                 {% if video.s_image %}{{ video.s_image }}{% else %}{{ video.h_image }}{% endif %}"
                                         alt=""></a>
                                    <div class="carousel-caption">
                                        <div class="carousel-meta-title">
                                            {{ video.title }}
                                        </div>
                                        <div class="carousel-meta-entry">
                                            播放: 1008万
                                        </div>
                                    </div>
                                {% else %}
                                    <img class="slider-img"
                                         src="http://static.youku.com/index/img/2013/video/video_default_420x240.png"
                                         alt="">
                                    <div class="carousel-caption">

                                    </div>
                                {% endif %}
                                </div>
                                {% endfor %}

                                </div>

                                <div class="shade shade-left">
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                                </div>
                                <div class="shade shade-right">
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                                </div>
                                <div class="carousel-meta">
                                    <div class="carousel-title">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if slider_down %}
                        <div class="slider_down">
                            <div class="candidate-body">
                                {% for video in slider_down.videos %}
                                    <div class="ordinary">
                                        <div class="thumbnails">
                                            {% if video %}
                                                <a href="{{ video.url_to_play }}" target="_blank">
                                                <img class="episode" src="{{ video.h_image }}" title="{{ video.title }}"

                                                     alt="http://static.youku.com/index/img/2013/video/video_default_420x240.png">
                                                </a>
                                            {% else %}
                                                <img class="episode" title="这个位置还没有东西额～"
                                                     src="http://static.youku.com/index/img/2013/video/video_default_420x240.png">
                                            {% endif %}
                                        </div>
                                        <div class="v-meta">
                                            <div class="v-meta-title">
                                                {{ video.title }}
                                            </div>
                                            <div class="v-meta-entry">
                                                播放: 18万
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                            {% endif %}
                    </div>

                    {% for box in normal_list %}
                        <div class="candidate-row">
                            <div class="candidate-head">
                                <img src="http://r2.ykimg.com/0510000054BC8CF16714C07FF5078C57"
                                     style="vertical-align: text-bottom;">
                                <div class="candidate-head-title">{{ box.title }}</div>
                                <div class="line-wrap">
                                    <div class="line"></div>
                                    <i class="icon-angle-right icon-large"></i>
                                </div>

{#                                <div class="tag">#}
{#                                    {% for tag in box.tags %}#}
{#                                        {% if forloop.counter0 != 0 %} | {% endif %}#}
{#                                        {{ tag }}#}
{#                                    {% endfor %}#}
{##}
{#                                </div>#}
                            </div>
                            <div class="candidate-body">
                                {% for video in box.videos %}
                                    <div class="ordinary">
                                        {% if video %}
                                            <div class="thumbnails">
                                              <a href="{{ video.url_to_play }}" target="_blank">
                                                <img class="episode" src="{{ video.h_image }}" title="{{ video.title }}"
                                                     alt="http://static.youku.com/index/img/2013/video/video_default_420x240.png">
                                                  </a>
                                            </div>
                                            <div class="v-meta">
                                                <div class="v-meta-title">
                                                    {{ video.title }}
                                                </div>
                                                <div class="v-meta-entry">
                                                    播放: 18万
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="thumbnails">
                                                <img class="episode" title="这个位置还没有东西额～"
                                                     src="http://static.youku.com/index/img/2013/video/video_default_420x240.png">
                                            </div>
                                            <div class="v-meta">
                                                <div class="v-meta-title">
                                                    {% if forloop.parentloop.last and rec_flag %}
                                                                此处数据来自大数据团队(´･_･`)
                                                            {% else %}{% endif %}
                                                </div>
                                                <div class="v-meta-entry">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
            var caption = $('div.item:nth-child(1) .carousel-caption');
            $('.carousel-title').html(caption.html());
            caption.children().css('display', 'none');

            $(".carousel").on('slide.bs.carousel', function (evt) {
                var caption = $('div.item:nth-child(' + ($(evt.relatedTarget).index() + 1) + ') .carousel-caption');
                $('.carousel-title').html(caption.html()).children().css('display', 'block');
                caption.children().css('display', 'none');
            });

            var previewTop = $(document.getElementById("preview")).offset().top;
            var footerTop = $(document.getElementsByTagName("footer")).offset().top;
            var distance = footerTop - previewTop - 20;
            if (distance > 580) {
                if (distance > 740) {
                    distance = 740;
                }
                $(document.getElementById("previewPage")).animate({height: distance});
            }

            $('.line').each(function(){
                var line_width = $(this).parent().parent().width()
                var final_width = line_width - $(this).parent().prev().width() - 45
                $(this).animate({width:final_width})
            })


        })
    </script>
{% endblock %}