{% extends "base.html" %}

{% block content %}
    <style>
        .app { display: inline-block; margin: 50px auto 0 auto;}
        #app_box { float:left; margin-left: 100px; text-align: center;
            overflow: hidden;width:220px; }
        #ad_box{ float: left;width:500px;margin: 50px 0 0 100px;}
        .app_link { margin: 26px 0 auto 0; }
        #cms_welcome{font-size:29px;margin: 60px auto 0 auto;}

        .app .image_holder{height:155px;width:220px;border:0;}
        .hover{ cursor: pointer;}
        .hover a { color: white; }
    </style>
    <div class="container" style="height: 570px;">
        <div id="app_box">
            <div class="app" hover-color="#3bbbea">
                <div class="image_holder">
                    <img src="http://r4.ykimg.com/051000005391BE8F6714C05F1005F1E6"/>
                </div>
                <div class="app_link">
                    <a href="/content/common_content/boxes">首页管理</a>
                </div>
            </div>
            <div class="app app-normal" hover-color="#f06f5e">
                <div class="image_holder">
                    <img src="http://r4.ykimg.com/051000005391BF536714C05F6A09914C"/>
                </div>
                <div class="app_link">
                    <a href="/content/iphone/new_channels">频道页管理</a>
                </div>
            </div>
        </div>
        <div id="ad_box">
            <div class="image_holder">
                <img src="{{ STATIC_URL }}/images/cms_team.jpg"/>
            </div>
            <div id="cms_welcome">欢迎来到优酷移动客户端CMS管理系统</div>
        </div>
    </div>

{% endblock %}
{% block js %}

    <script type="text/javascript">
        $(".app").hover(
                function () {
                    $(this).addClass("hover").css("background-color", $(this).attr("hover-color"));
                },
                function () {
                    $(this).removeClass("hover").css("background-color", '');
                }
        ).click(
                function () {
                    window.location = $(this).find("a").attr("href");
                }
        );
    </script>
{% endblock %}
