<div id="myModal" class="modal hide fade main_page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 670px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">首页抽屉tag</h3>
    </div>
    <div class="modal-body main_page">
        <table id='tag_details_table' class="table table-hover table-striped">
            <input type="hidden" id="tag_box_id" name="tag_box_id" value="{{ module.id }}">
            <input type="hidden" id="module_tag_total_titles"  value="">
            <tbody>
            <tr>
                <td>抽屉位置：</td>
                <td>
                    {{ module.title }} -
                    {{ module.box_id }}(box_id) -
                    {{ module.cid }}(cid)
                </td>
            </tr>
            <tr id='tag_title_tr' title="抽屉标签总字数不能超过10个，否则导致无法完整显示 。">
                <td>
                    tag标题：
                </td>
                <td>
                    <input type="text" id="tag_title" name="title" value="">
                    <label style="margin-top:10px;color:red;">抽屉标签总字数不能超过10个，否则导致无法完整显示 。</label>
                </td>
            </tr>
            <tr id='jump_type_tr'>
                <td>
                    跳转方式:
                </td>
                <td>
                    <select id="tag_jump_type">
                        {% for k,v in tag_type_list %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>

                    <div id='jump_type_support_div' style="display:none">
                        <select>
                            <option value="no_jump">无跳转</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr id='jump_info_tr'>
                <td>
                    跳转到:
                </td>
                <td>
                    <div id='cid_info'>
                        频道:
                        <select id="tag_cid" name="tag_cid">
                            {% for channel in channels %}
                                 <option value="{{ channel.cid }}">{{ channel.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id='sub_channel_id_info'>
                        频道:
                        <select id="channel_page_id" name="channel_page_id">
                            {% for channel in channels %}
                                <option value="{{ channel.id }}">{{ channel.title }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        子频道: <select id="sub_channel_id"></select>
                    </div>
                    <div id='hotword_info'>
                        热词: <input name="hotword" id="tag_hotword">
                    </div>
                </td>
            </tr>
            {% include "iphone/main_page/module_manage/game/ios_game_detail.html" with game=game %}
            <tr>
                <td>
                    <button type="submit" class="btn" id="add_tag_submit_btn">提交</button>
                    <button class="btn" id='add_tag_cancel_btn' data-dismiss="modal" aria-hidden="true">关闭</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
