<!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">创建首页模块</h3>
  </div>

  <div class="modal-body">
     <form role="form" method="post" action="{% url "add_new_module" module_platform %}" id="add-new-module">
        <table class="table table-hover table-striped table-bordered">
            <tbody>
                <tr>
                    <td style="width: 30%">模块ID</td>
                    <td>
                        <input id="box_id" name="box_id">
                    </td>
                </tr>
                <tr>
                    <td  style="width: 30%"> 模块类型 </td>
                    <td>
                        <select class="form-control" id="box_type" name="box_type" placeholder="">
                            {% for k,v in box_type_list %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
              <tr>
                <td style="width: 30%">模块标题</td>
                <td><input id="title" name="title" placeholder=""></td>
              </tr>
              {% if module_platform != 'ipad' %}
                  <tr >
                    <td>手机端视频个数</td>
                   <td><input id="video_count_for_phone" name="video_count_for_phone" placeholder=""></td>
                  </tr>
              {% endif %}
              <tr >
                <td>Pad端视频个数</td>
                <td><input id="video_count_for_pad" name="video_count_for_pad" placeholder=""></td>
              </tr>
              <tr>
                <td for="cid">频道跳转CID</td>
                <td><input id="cid" name="cid" placeholder=""></td>
              </tr>
              {% if module_platform != 'ipad' %}
                  <tr class="control-group" id="image_div">
                      <td><label>冠名图片</label><label> (Iphone,Android模块必填)</label></td>
                      <td>
                      <div class="controls">
                            <span id="normal_button" class="btn btn-success fileinput-button  btn-large ">
                                 <span>+ 上传截图...</span>
                                 <input id="module-img-upload" type="file" name="files[]" multiple>
                            </span>

                            <div id="normal_success" class="alert alert-success"
                                 style="font-size: 20px;margin-top: 10px;display: none;width: 165px">
                                <button type="button" class="close">&times;</button>
                                <img id='normal-content' src="" class="img-polaroid">
                            </div>
                            <div id="normal-progress" class="progress progress-success progress-striped  active"
                                 style="display: none">
                                <div class="bar"></div>
                            </div>
                            <input type='hidden' id='normal-img-url' name='normal_img' value="" height="100" width="100"/>
                      </div>
                      </td>
                  </tr>
                  <tr  id="image_link_div">
                    <td style="width: 30%"><label for="video_count">冠名图片跳转url</label><label>(Iphone,Android模块必填)</label></td>
                    <td><input id="video_count" name="image_link" placeholder=""></td>
                  </tr>
              {% endif %}
              {% if module_platform == 'ipad' %}
                  <tr id="membership_tag">
                    <td style="width: 30%"><label>是否为会员专享</label><label> (Ipad模块需填)</label></td>
                    <td>
                    <input type="radio" name="membership" value="1" >是
                    <input type="radio" name="membership" value="0" checked="checked">否
                    </td>
                  </tr>
              {% endif %}
              {% if module_platform == 'android' %}
                  <tr id="use_multiply_units_tag">
                    <td style="width: 30%"><label>是否phone只显示一个单元</label><label> (Android模块需填)</label></td>
                    <td><input type="radio" name="use_multiply_units" value="1" >是
                        <input type="radio" name="use_multiply_units" value="0" checked="checked">否
                    </td>
                  </tr>
              {% endif %}
          </tbody>
      </table>
      <button type="submit" class="btn btn-success">创建</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </form>
  </div>

  <div class="modal-footer">

  </div>

</div>

